.float_left_class {
	float: left;
	margin-right: 40px;
}
.page-admin-offers-offer-concept .form-item {
	padding: 0px;
}
.offer_class a{
	text-decoration: none !important;
	color: #333;
	float : left;
	background-image: url('../image/u5_normal.png');
	background-repeat:no-repeat;
	margin-bottom: -10px;
	width: 144px;
	height: 35px;
	text-align: center;
	padding-top: 10px;
	margin-left: -3px;
}
.offer_class a.active {
	background-image: url('../image/u7_normal.png');
	background-repeat:no-repeat;
	cursor: default;
}
table tbody tr {
	background : white !important;
	border-bottom: 1px solid gainsboro !important;
}
#offer_listing_page {
	padding : 20px;
	border: 1px solid gainsboro;
	width: 1008px;
}

#offers_add a{
	text-decoration: none !important;
	color: #FFFFFF;
	float : right;
	background-image: url('../image/u12_normal.png');
	background-repeat:no-repeat;
	margin-top: -15px;
	margin-right: -32px;
	width: 206px;
	height: 43px;
	padding-top: 10px;
	margin-bottom: -15px;
	text-align: center;
}
.add_button {
	background-image: url('../image/u82_normal.png');
	background-repeat:no-repeat;
	float : right;
	width: 24px;
	height: 24px;
	position: relative;
	left: -160px;
	top: -5px;
}