.sub-nav-block a { float: right; }
.nav-block .sub-nav li { float: right; }
.brand-nav .sub-nav-block .nav-block ul li:first-child { margin-right: 30px; margin-left: 0; }
.gallery-block .gallery-holder li { float: right; }
.columns-section .ad { float: right; }
.columns-section .twitter-section, .blog-body .fleft.mt5 { float: right; }
.brand-shukran-ad-small .action-button { right: 20px; left: 78px; }
.ad.alt24 span { left: 20px; }
.brand-footer-nav, .blog-body { float: right; }
.brand-footer-extra, .col-main.section { float: left; }
.brand-footer-newsletter { float: right; margin-left: 20px; }
.networks-list li, .brand-footer-newsletter input, .brand-footer-newsletter .submit, .col-left, div.contactus_toptext, #contactus_tabs_heading ul li, #corp-logo, #corporate-footer ul { float: right; }
#main .map-holder, #main .locate-box, #store-locator-search > div label[for="city"] { float: right; }
#store-locator-search .row { position: relative; right: -35px; }
#store-locator-search > div label[for="city"] { margin: 0 0 0 9px; }
#offers-content-no > img {
	float: right !important;
	padding-left: 10px;
	padding-right: 0;
}
#no-offers-content #no-offers-description, #no-offers-content {
	float: right !important;
}
/*.two-cols.static-pages-wrapper > .col-main.section:nth-child(3)*/
.two-cols.static-pages-wrapper > .col-main.section > p > h2 > .col > .col {
	float: left !important;
}
.static-pages-wrapper > .section .static-page__header {
	text-align: right;
}
.faq dt {
    background: url("http://dev2.centrepoint.com.php53-5.dfw1-2.websitetestlink.com/sites/all/themes/centrepoint_AE/images/right-arrow-bullet.png") no-repeat scroll right -50px rgba(0, 0, 0, 0) ! important;
    padding-right: 20px;
}
#contactus_cancel {
	margin-right: 8px;
	margin-left: 0;
}
#corp-logo, #corporate-footer-logo {
	margin-left: 28px;
	margin-right: 0;
}
.location-form-3 .text {
	float: right;
	margin-right: 2px;
}
#corp-logo, #corporate-footer-logo {
	margin: 0;
}
#corporate-footer-logo, .brand-footer-nav li.col {
    float: right;
}
#otherdetails_input {
	right: 23px;
	top: -35px;
	margin-bottom: 0;
}
.brand-footer-country #select-location, .blog-sidebar, .blog-body .fleft.mt5 > span {
    float: left;
} {
    float: left;
}
#corporate-footer-links {
    margin-top: -10px;
    width: 740px;
}
#corporate-footer ul {
	margin-left: 10px;
}
.language-switcher-locale-url, .blog-body .fright.mt5 {
    float: left;
}
.blog-body .fright.mt5 {
	float: left;
    height: 20px;
}
.map-holder .popup .frame {
	padding: 4px 14px 8px 18px;
	width: 260px;
}
.map-holder .popup-holder {
	position: relative;
}
.map-holder dl dt {
	float: right;
	width: 75px!important;
}
#corp-logo {
	background: url("../images/footer-logo-new-ar.png") no-repeat scroll 1px -56px rgba(0, 0, 0, 0);
}
#corp-logo:hover {
	background: url("../images/footer-logo-new-ar.png") no-repeat scroll 1px -56px rgba(0, 0, 0, 0);
}
.btn-secondary {
    background: url("../img/style/submit-btn-arrow-ar.png") no-repeat scroll 50% 50% #444444;
}
.blog-sidebar-widget ul li a {
	padding: 5px 10px 5px 0;
}
.linkrss {
	margin-right: 38px;
}
.blog-main {
    padding: 0 0 20px;
}
.brand-blog.brand-blog--post .brand-blog--post__title, .brand-blog.brand-blog--post .brand-blog--post__title a {
	text-align: right;
}
.blog-body .fleft.mt5 {
	margin: 0 0 0 10px; 
}
.blog-body .posted-date-likes {
	height: 20px;
}
#twitter-widget-0 {
	width: 60px !important;
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------- CHANGES MADE BY HEMANGI ------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------- */

.brand-nav strong.brand-logo {
  background: url(../images/Spring_Logo_AR.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.columns-section .ad.min-ht a.see:before {
	margin: 0 76px 109px 0;
	height: 22px;
	width: 90px;
	font-size: 13px;
	padding: 1px 5px 0;
}
.brand-nav .sub-nav-block .nav-block { 
	float: left;
	right: auto;
	left: 0;
	width: auto;
	padding-left: 0px;
}
.node-type-concept .brand-nav .sub-nav-block .nav-block {
	padding-left: 5px;
}
.brand-nav .sub-nav-block .nav-block ul li:first-child {
  margin-right: 0;
}
.sub-nav-block > a {
	float: right;
    margin-left: 0px;
}
.language-switcher-locale-url {
  left: 0;
    margin: 0 0 0 0px;
    right: auto;
}
.language-switcher-locale-url .ar.last {
    padding: 0 10px 0 0 !important;
}
.node-type-concept .language-switcher-locale-url .ar.last {
    padding: 0 10px 0 10px!important;
}
.brand-logo {
    margin-right: -13px;
}
.node-type-concept .brand-logo {
    margin-right: 2px;
}
.node-type-concept .language-switcher-locale-url {
    margin: 0 0 0 6px;
}
.brand-instagram-widget ul li {
	float: right;
}
#corp-logo:hover {
	background-position: 1px 3px;
}
.content-left {
	float: left;
}

.gender-male, [for="gender-male"], .gender-female, [for="gender-female"] {
    float: right;
}
.apply-ar {
    background-color: #DCDCDC;
    padding: 5px 10px;
    border: 1px solid;
}
.apply-ar:hover {
    text-decoration: none;
}

.concept-description {
    float: left;
    padding: 0px 0 5px 10px;
}
.node-type-concept .gallery-container .gallery > ul > li {
	float: right;
}
.category-text {
  float: right;
}
#tabs .backtocat {
    float: left;
    margin: 0 0 0 13px;
}
.category-title a.category-text {
    float: right;
    padding: 0 25px 0 0!important;
}
#tabs .backtocat {
	float: left;
	margin: 0 0 0 13px;
}
#tabs ul li {
    margin: 0 0 0 0.3em;
}
.website-blog {
	float: left;
}
.concept-logo {
	float: right;
}
.category-product .products {
    float: right;
}
img.seemore {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 44.5%;
}
#select-location > label, #select-location #dropdown-country {
    float: right;
}
.dropdown dt a {
    background: url(../img/style/select-arrow.png) no-repeat scroll left 71% rgba(0, 0, 0, 0);
    padding: 10px 5px 0 20px;
}
.brand-nav strong.brand-logo {
	float: right;
}
.ad.min-ht.brand-1 {
	margin: 0 0 0 15px;
}
.ad.min-ht.brand-4 {
	margin: 0 0 0 4px;
}
.ad.alt24 {
    margin: 0 0 0 4px!important;
}
.brand-shukran-ad-small {
    margin-left: 15px !important;
}
.nav-block .sub-nav li.first {
    padding-left: 0;
}
.node-type-concept .nav-block .sub-nav li.first {
    padding-left: 11px;
}