@charset "utf-8";
/* CSS Document */
p.share { float:left; }
#custom-tweet-button{ float:left; margin-top:2px; }
a.linkedin{ float:left; }
a.email { float:left; } 
.fbconnectbutton_simple { float:left; margin-right:3px; margin-top:2px; }

button.jqTransformButton { padding:5px 0 0 0; height: 8px; } 

#fileupload_filler { width:100%; height:5px; }

.jqTransformSelectWrapper { background:none; }
.jqTransformSelectWrapper div {display: none; }
.jqTransformSelectWrapper select {display: block;  }