@charset "utf-8";
/* CSS Document */

.cleardiv { clear:both; margin:0; padding:0;  }

#slideshow-container.careersbanner { height:270px; clear:both; overflow:hidden; }
#navbarcareers { width:934px; height:34px; margin:10px 0 20px 0; padding:3px 0; }
#navbarcareers ul { list-style:none; list-style-type:none; margin:0; padding:0; position:relative; }
#navbarcareers ul li { float:left; }
#navbarcareers ul li a { text-decoration: none; color: #4b3905; margin:0 30px; padding:0;  font-family: Arial, Tahoma, Helvetica, sans-serif; font-size:25px; line-height:34px; height:34px; display:block; text-align:left; text-decoration:none; }
#navbarcareers ul li a.nobord { border:none; }
#navbarcareers ul li a:hover { border-bottom:2px solid #dae498; }
#navbarcareers ul li a.currlink {  border-bottom:2px solid #dae498;  }
#navbarcareers ul li a.currlink:hover { border-bottom:2px solid #dae498; }
#navbarcareers ul li.separator { width:1px; border:none; background:#999999; overflow:hidden; height:35px;  }
#navbarcareers ul li a.firstlnk { margin-left:12px; }

.careers_wrapper { width:920px; margin:0 10px 25px 10px; padding:0; position:relative; }
.nobtmmargin { margin-bottom:0; }




/*-------------------WHY HOME CENTRE-------------------*/
.c_mainheading { color:#666666; font-size:45px; font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif;	line-height:45px;font-weight:normal; float:left;
	margin-bottom:18px;
}
.c_subheading { border-left:1px solid #ccc; height:45px; font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif; font-size:18px; line-height:45px; font-weight:normal; margin:0 0 0 23px; padding:0 0 0 30px; color:#67582c; float:left; }

#careerstxtarea { width:600px; float:left; margin-top:20px; font-size:13px; }
h2.subheading2 { color:#4b3905; font-size:18px; font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif; font-weight:normal; } 
#c_keyfacts { width:305px; float:right; background-color:#f4f7e2; border:1px solid #dbdbdb; padding-bottom:10px;  margin-top: 18px; } 
#c_keyfactsheading { color:#666666; font-size:12px; font-weight:bold; font-family: Arial, Helvetica, sans-serif; margin-top:5px; margin-left:8px; margin-bottom:5px; } 
#c_keyfacts ul li { clear:both; padding-bottom:5px; padding-top:5px; } 
p.keyfactstext2 { /*border-bottom:1px dotted #8a8a85;*/ width:262px;float:right; margin-right:15px; display:block; color:#666666; font-size:12px; padding-bottom:5px; } 
p.chevron { font-size:14px; margin-top:-3px; margin-left:10px; margin-right:10px; color:#878787; float:left; } 

#ytvid { width:476px; height:278px; float:left; } 
#box_latestjobs { width:410px; margin:0; padding:0 0 10px 0; float:right; background-color:#ffffff;  }
#c_latestjobsheading { width:410px; height:35px; margin:-8px 0 0 0; padding:0; text-align:left; color:#786a44; font-size:22px; line-height:35px; font-weight:normal; font-family: Arial, Tahoma, Helvetica, sans-serif; border-bottom:2px solid #dae498; display:block;} 
#c_latestjobs { position:relative; width:410px; }
#c_latestjobs ul { width:398px; list-style:none; list-style-type:none; margin:0; padding:5px 10px 5px 2px; position:relative;   }
#c_latestjobs ul li { padding:0 0 5px 0; font-size:13px; font-family:arial, tahoma, verdana; font-style:normal; font-variant:normal; font-weight:normal; text-align:left; } 
#c_latestjobs ul li a { width:398px; color:#76746f; text-decoration:none; display:block; }
#c_latestjobs ul li a span { font-weight:bold; color:#575757; }
#c_latestjobs ul li a:hover { color:#cedd6f; }
#c_latestjobs ul li a:hover span { color:#cedd6f; }
#c_latestjobs ul li a.browseall { text-align:right; display: inline; }
#c_latestjobs ul li.last { text-align:right; } 


#inviews { width:920px; margin:0; padding:0 0 30px 0; position:relative; }
#inviews_heading { width:920px; height:35px; margin:0 0 10px 0; padding:0; text-align:left; color:#786a44; font-size:22px; line-height:35px; font-weight:normal; font-family: Arial, Tahoma, Helvetica, sans-serif; border-bottom:2px solid #dae498; display:block; }

.inviews { width:450px; margin:0 10px 0 0; padding:0; position:relative; float:left; }
.inviews .pic { width:140px; height:140px; float:left; background:url(../../../../default/files/careers/grey-circle-bg.png) center no-repeat; }
.inviews .pic img { width:100px; height:100px; margin:0; padding:20px; border:none; }
.inviews .txt { width:300px; margin:10px 0 0 0; padding:0 0 0 10px; font-size:12px; line-height:16px; font-family:arial, tahoma, verdana; font-style:normal; font-variant:normal; font-weight:normal; text-align:justify; position:relative; float:left; }
.inviews .txt strong { font-weight:bold; }

#getstartedblock { width:830px; margin:0 auto auto; padding:15px 0 35px 0; position:relative; } 
#getstartednow { width:580px; background-color:#f4f7e2; color:#4b3905; float:left; border:1px solid #cccccc; padding:17px; z-index:9; } 
#getstartednow span { font-size:18px; color:#4b3905; /*font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif;*/ font-family: "Avenir-Book", Arial, Helvetica, sans-serif; }
.getstartedbold { margin-left:5px; font-weight:bold; /*font-family: "Avenir LT W01 85 Heavy", Arial, Helvetica, sans-serif;*/ font-family: "Avenir-Heavy", Arial, Helvetica, sans-serif; } 
#careers_cta { width:226px; height:64px; float: right; margin:-64px 0 0 0; padding:0; background: url("../images/careersbottom.png") top center no-repeat; text-indent: -9999px; z-index:10; }




/*-------------------BROWSE JOBS-------------------*/
.curropen { width:480px; float:left; }
#careersfiltersearch { margin:-10px 0 0 0; padding:0; position:relative; z-index:1000; width:440px; float:right; }
#careerbrowse-form { float: right; margin:0 0 0 40px; padding:0; position: relative; z-index: 1000; }
#careerbrowse-box { background: url("../images/search.png") no-repeat scroll left -35px transparent; font-size: 11px; padding: 7px 12px 7px 30px; width: 100px; margin-top: 6px; 	border: none; outline: none; color: #444444; }
#careerbrowse-box:focus { background-position: left -1px; color: #666666; }

#careerfilter-form { width:250px; float: right; margin:5px 0 0 0; padding:0; position: relative; z-index: 1000; }
#careerfilter-form #career_filter { float:right; width:150px;  }
#careerfilter-form label { float:right; margin:4px 15px 0 0; }

#openings_outer { width:920px; margin:0 0 10px 0; padding:0; position:relative; }
#openings_outer .row_title { margin:0; padding:0; width:916px; height:50px; background:#fafafa; border-bottom:2px solid #b9b9b9; position:relative; }
#openings_outer .row_title .title_job { width:480px; height:44px; margin:0; padding:0 10px 6px 10px; font-size:13px; color:#000000; line-height:44px; float:left; }
#openings_outer .row_title .title_location { width:396px; height:44px; margin:0; padding:0 10px 6px 10px; font-size:13px; color:#000000; line-height:44px; float:left; }

#openings_outer #openings .row_odd { margin:0; padding:0; width:916px; height:30px; background:#ffffff; border-bottom:1px solid #dddddd; position:relative; }
#openings_outer #openings .row_even { margin:0; padding:0; width:916px; height:30px; background:#ffffff; border-bottom:1px solid #dddddd; position:relative; }
#openings_outer #openings a.row_odd, #openings_outer #openings a.row_even  { width:916px; height:30px; margin:0; padding:4px 0; font-size:12px; color:#76746f; line-height:24px; display:block; text-decoration:none; cursor:pointer;}
#openings_outer #openings a.row_odd span.job, #openings_outer #openings a.row_even span.job { width:480px; height:24px; margin:0; padding:3px 10px; font-size:14px; color:#014da3; line-height:24px; display:inline-block; text-decoration:none; font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif;  }
#openings_outer #openings a.row_odd span.location, #openings_outer #openings a.row_even span.location { width:396px; height:24px; margin:0; padding:3px 10px; font-size:14px; color:#76746f; line-height:24px; display:inline-block; text-decoration:none; font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif; }
#openings_outer #openings a:hover.row_odd span.job, #openings_outer #openings a:hover.row_even span.job { color:#0088c9; text-decoration:underline; }
#openings_outer #openings a:hover.row_odd span.location, #openings_outer #openings a:hover.row_even span.location  { color:#76746f; }

.viewalljobs a{ text-align:right; color:#069; font-size:12px; font-family: "Avenir-Heavy", Arial, Helvetica, sans-serif; }
.viewalljobs a:hover { color:#036; }


/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
#pagination_wrapper { float:left; left:50%; position:relative; margin-bottom:20px; }
#pagination { float:left; left:-50%; position:relative; }
ul.simple-pagination { list-style: none; }
.simple-pagination { display: block; overflow: hidden; padding: 0 5px 5px 0; margin: 0; }
.simple-pagination ul { list-style: none; padding: 0; margin: 0; }
.simple-pagination li { list-style: none; padding: 0; margin: 0; float: left; }
.compact-theme a, .compact-theme span { float: left; font-family: arial, tahoma, arial, sans-serif; color: #ffffff; font-size:11px; line-height:18px; font-weight: normal; text-align: center; border: 1px solid #d3d3d3; min-width: 13px; padding: 0 1px; margin:0 2px; 
	background: #464646; /* Old browsers */
}
.compact-theme a:hover { text-decoration: none;
	background: #999999; /* Old browsers */
}
.compact-theme .current {
	color:#ffffff;
	background: #999999; /* Old browsers */
	cursor: default;
}
.compact-theme a.current:hover { 
	background: #999999; /* Old browsers */
	cursor: default;
}
.compact-theme .ellipse {	background: #EAEAEA;	padding: 0 10px;	cursor: default; }

/*----custom select box start -----*/
.selectBox-dropdown { min-width: 100px; position: relative; border: solid 1px #cfcfcf; line-height: 19px; text-decoration: none; text-align: left; color: #777777; outline: none; vertical-align: top; background: #ffffff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display: inline-block; cursor: default; padding:2px; font-family:arial, tahoma, sans-serif; font-size:11px; font-weight:normal; z-index: 9499; float:right; } 
.selectBox-dropdown:focus, 
.selectBox-dropdown:focus 
.selectBox-arrow { border-color: #b0b0b0; } 
.selectBox-dropdown.selectBox-menuShowing { -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; } 
.selectBox-dropdown 
.selectBox-label { padding:0 0 0 8px; display: inline-block; white-space: nowrap; overflow: hidden; } 
.selectBox-dropdown 
.selectBox-arrow { position: absolute; top: 0; right: 0; width: 27px; height: 100%; background:url(../../../../default/files/careers/select-arrow.png) 50% center no-repeat; border-left: solid 1px #BBB; } 
/* Dropdown menu */ 
.selectBox-dropdown-menu { position: absolute; z-index: 9499; max-height: 200px; min-height: 1em; border: solid 1px #BBB; 
/* should be the same border width as .selectBox-dropdown */
 background: #FFF;  overflow: auto; -webkit-overflow-scrolling: touch; } /* Inline control */ 
.selectBox-inline { min-width: 150px; outline: none; border: solid 1px #BBB; background: #FFF; display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; overflow: auto; } 
.selectBox-inline:focus { border-color: #666; } 
/* Options */ 
.selectBox-options, 
.selectBox-options LI, 
.selectBox-options LI A { list-style: none; display: block; cursor: default; padding: 0; margin: 0;font-family: arial, tahoma,  sans-serif; font-size:11px; line-height:20px; font-weight:normal; } 
.selectBox-options LI A { line-height:15px; padding:4px 10px 4px 10px; white-space: nowrap; overflow: hidden; background: 6px center no-repeat; } 
.selectBox-options LI.selectBox-hover A { background-color: #4096ee; color:#fff; } 
.selectBox-options LI.selectBox-disabled A { color: #fff; background-color: transparent; } 
/*.selectBox-options LI.selectBox-selected A { background-color: #4096ee; color:#fff; }*/ 
.selectBox-options 
.selectBox-optgroup { color: #666; background: #EEE; font-weight: bold; line-height: 1.5; padding: 0 .3em; white-space: nowrap; } /* Disabled state */ 
.selectBox.selectBox-disabled { color: #888 !important; } 
.selectBox-dropdown.selectBox-disabled 
.selectBox-arrow { opacity: .5; filter: alpha(opacity=50); border-color: #666; } 
.selectBox-inline.selectBox-disabled { color: #888 !important; } 
.selectBox-inline.selectBox-disabled 
.selectBox-options A { background-color: transparent !important; }
/*-----custom select box end-----*/


/*-------------------APPLY FOR JOB-------------------*/

.opening-list{float:left; width:612px; font-family:"Lucida Sans","Lucida Sans Unicode","Lucida Grande", Arial, sans-serif;/*border-right:1px solid #d8d8d8;*/ padding-right:20px;}
.opening-list .post-title{ border-bottom:1px solid #dddddd; font-family:"Lucida Sans Unicode","Lucida Grande", Arial, sans-serif; overflow:auto; padding-bottom:5px; margin-top:11px; } 
.opening-list .post-title .fleft{ font-size:20px; color:#383838; float:left; } 
.opening-list .post-title .post-date{ float:right; vertical-align:bottom; font-size:10px; color:#1a1a1a; margin-top:12px; } 
.opening-list .opening-detail{ /*background-color:#fffcee;*/ margin-top:12px; overflow:auto; } 
.opening-list .opening-detail ul{ padding:8px 0 8px 0; margin:0; list-style:none; list-style-type:none; background-color:#fffcee; } 
.opening-list .opening-detail ul li{ display:inline; font-size:13px; font-family:"Lucida Sans Unicode","Lucida Grande", Arial, sans-serif; color:#1a1a1a; padding:0px 4px; } 
.opening-list .opening-detail ul li span{ color:#a9a9a9; } 
.fright{float:right !important;}
.opening-list .description{ margin-top:0px; padding-right:10px; } 
.opening-list .description .brief{ padding-bottom:10px; } 
.opening-list .description .brief .heading{ font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif; font-weight:normal; font-size:13px; padding-bottom:10px; color:#131313; font-weight:bold; margin-top:5px; } 
.opening-list .description .brief .detail-text{ color:#484848; font-size:11px; } 
.opening-list .description .brief .detail-text p{ padding:0 0 11px 0; } 
.opening-list .description .brief .detail-text ul{ list-style-type:none; padding-bottom:10px; } 
.opening-list .apply-now-div{ overflow:auto; } 
.opening-list .apply-now-div .apply-now{ color: #FFF; margin-top:10px; margin-bottom:12px; background-image: -webkit-gradient(linear, center top, center bottom, from(#5689c3), to(#1759a4)); background-image: -moz-linear-gradient(center top, #5689c3, #1759a4); background-image: -o-linear-gradient(center bottom, #5689c3, #1759a4); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5689c3', endColorstr='#1759a4'); background-color: #45494D; padding:5px 10px; font-size:13px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; } 
.thanks{ background:url('http://landmarkgroup.com/images/success.png') no-repeat 0 6px; padding:6px 0 6px 30px; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; margin-top:20px; } 
.thanks .title{ color:#617b10; font-size:12px; border:none; padding:0px; font-family:"Lucida Sans","Lucida Sans Unicode","Lucida Grande", Arial, sans-serif; } 
.thanks .response{ color:#737373; font-size:11px; font-family:"Lucida Sans","Lucida Sans Unicode","Lucida Grande", Arial, sans-serif; } 
.border-open{ border-right:1px solid #d8d8d8; } 
.border-apply{ border-left:1px solid #d8d8d8; } 
.detail-text ul{ padding:0;	list-style:none; height:1%; overflow:hidden; margin:0 0 -11px; position:relative; } 
.detail-text ul li{ background: url(../../../../default/files/careers/bullet-list.gif) 0 2px no-repeat; padding:0 0 0 21px; margin:0 0 11px 0;position:relative; } 
a.apply-scroll{ color:#000; } 
a.apply-scroll:hover{ color:#000; } 
/* phaneendra on 13th dec 2010 */ .FBConnectButton_Simple, .FBConnectButton_RTL_Simple { background-image: url('../../../../default/files/careers/facebook.jpg') !important; padding: 2px 0; margin-right: 5px; color: #131313; } 
p.share{ font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif; font-weight:normal; font-size: 13px; color: #131313; font-weight: bold; display:inline-block; } 
#custom-tweet-button a{ background: url('../../../../default/files/careers/tweet.jpg') no-repeat scroll 0 50%; display: block; width: 39px; height: 20px; padding-left: 20px; text-decoration: none; color: #131313; } 
#custom-tweet-button{ display: inline-block; } 
a.linkedin{ background: url('../../../../default/files/careers/linkedin.jpg') no-repeat scroll 0 50%; padding-left: 20px; text-decoration: none; margin-right: 5px; padding-top: 2px; padding-bottom: 2px; color: #131313; } 
a.linkedin:hover{ text-decoration: none; } 
a.email{ background: url('../../../../default/files/careers/email.jpg') no-repeat scroll 0 50%; padding-left: 20px; text-decoration: none; padding-top: 2px; padding-bottom: 2px; color: #131313; } 
a.email:hover{ text-decoration: none; } 
.sharingbar p{ display: inline; margin-right: 10px; } 
.fbconnectbutton_simple .fbconnectbutton_text_simple{ margin-right: 5px !important; text-decoration: none !important; } 
.sharingbar p, .sharingbar a, .sharingbar span{ line-height: 20px; } 
.sharingbar{ border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; padding: 7px 0; margin-bottom: 10px; margin-top: 20px; } 




.side-apply { float:right; padding-left:25px; width:260px; margin:0; position:relative; }
.border-apply{ 	border-left:1px solid #d8d8d8; }
.side-apply .title{
	font-size:14px;
	font-weight:bold;
	color:#000;
	padding:10px 0 10px 0;
	border-bottom:1px solid #e7e7e7;
    margin-bottom: 5px;
}
.side-apply small{ font-size:11px; }

.form-div { margin:0; padding:20px 0 4px 0; position:relative; }
.form-div form { margin:0; padding:0; }
/*.form-div input.text-box{ font-size:12px; outline:none; border:1px solid #e7e7e7; -moz-box-shadow:inset 1px 1px 2px #e7e7e7; -webkit-box-shadow:inset 1px 1px 2px #e7e7e7; box-shadow:inset 1px 1px 2px #e7e7e7; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; width:254px; height:24px; padding:4px 4px 4px 10px; color:#737373; }*/
.form-div select.outtaHere{ width:200px; } 
.form-div select.exp{ width:80px;  } 
.input-valid{ margin:4px 0 8px 0; position:relative; } 
.input-valid .valid-span{ display:none;  color:#987C02 !important; } 
.form-div label, .form-div span{ font-size:12px; color:#000; } 
.form-div input#file-name-text{ position:absolute; } 
.valid-span{ display:none;  color:#987C02 !important; } 


form.jqtransformdone label{ margin-top:4px; margin-right: 8px; display: block; float:left;  } 
form.jqtransformdone div.rowElem{ clear:both; padding:4px 0px; } 
/* ------------- * Buttons * ------------- */ 
button.jqTransformButton { margin: 0px; padding: 0px; border: none; background-color: transparent; cursor: pointer; overflow: visible; font-family: Arial; 	height: 25px;
width: 74px;
color: #FFF;
background-image: -webkit-gradient(linear, center top, center bottom, from(#5689c3), to(#1759a4));
background-image: -moz-linear-gradient(center top, #5689c3, #1759a4);
background-image: -o-linear-gradient(center bottom, #5689c3, #1759a4);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5689c3', endColorstr='#1759a4');
background-color: #45494D;
border: none;
border-radius:2px;
-webkit-border-radius:2px;
-moz-border-radius:2px;
margin-top:25px;
font-size:13px;
 } 
*:first-child+html button.jqTransformButton[type]{width: 1;} 
/* IE7 */ button.jqTransformButton span {  display: block; float: left; padding: 0px 4px 0px 0px; /* sliding doors padding */ margin: 0px; height: 33px; } 
button.jqTransformButton span span { color: #fff; padding: 4px 4px 0px 10px; font-weight: normal; font-size: 12px; line-height: 13px; display: block; text-decoration: none; height: 33px; text-align:center; } 
/*hover*/ button.jqTransformButton_hover span span { background-position: left -33px ; } 
button.jqTransformButton_hover span { background-position: right -33px ; } 
/*clicked*/ button.jqTransformButton_click span span { background-position: left -66px ; } 
button.jqTransformButton_click span { background-position: right -66px ; } 
/* IE 6 */ * html button.jqTransformButton { height:33px; } 
* button.jqTransformButton span span { height: 25px; } 
/* IE 7 */ *+ html button.jqTransformButton { height:33px; } 
*+ button.jqTransformButton span span { height: 25px; } 
/* ------------- * Inputs * ------------- */ 
.jqTransformInputWrapper { background: transparent url(../../../../default/files/careers/jqtransform/input/input_text_left.gif) no-repeat left top; height: 31px; padding: 0px; float:left; } 
.jqTransformInputInner { background: transparent url(../../../../default/files/careers/jqtransform/input/input_text_right.gif) no-repeat top right; padding: 0px; margin: 0px; } 
.jqTransformInputInner div { height: 31px; margin:0px 0px 0px 8px; } 
.jqTransformInputInner div input { font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height: 18px; vertical-align: middle; height: 31px; color:#404040;	 border: none; padding: 0px 0px 0px 0px; margin: 0px; background:transparent; } 
/*  IE6 */ * html .jqTransformInputInner div input { padding: 6px 0 0 0; margin: 0 0 0 -8px; height:24px; } 
/* Ie7 */ *+ html .jqTransformInputInner div input { padding: 6px 0 0 0; margin-left:-10px; height:24px; } 
/*hover*/ .jqTransformInputWrapper_hover{ background-position: left -31px ;} 
.jqTransformInputWrapper_hover div.jqTransformInputInner{ background-position: right -31px ;} 
/*focus*/ .jqTransformInputWrapper_focus{ background-position: left -62px ;} 
.jqTransformInputWrapper_focus div.jqTransformInputInner{ background-position: right -62px ;} 
.jqTransformSafari .jqTransformInputInner div { position: relative; overflow: hidden; margin:0px 8px; } 
.jqTransformSafari .jqTransformInputInner div input { background-color: none; position: absolute; top: -10px; left: -2px; height: 42px;  padding-left: 4px; } 
/* ------------- * Textarea * ------------- */ 
table.jqTransformTextarea td#jqTransformTextarea-mm textarea{ font-size: 12px; line-height: 16px; } 
table.jqTransformTextarea td{ font-size: 1px; line-height: 1px; width: 5px; height: 5px; margin: 0; padding: 0; } 
table.jqTransformTextarea{} 
table.jqTransformTextarea tr{ /*border: 1px solid red;*/ } 
table.jqTransformTextarea textarea{ margin: 0; padding: 0; border: 0; background: none; } 
table.jqTransformTextarea td#jqTransformTextarea-tl{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_tl.gif) no-repeat top left;} 
table.jqTransformTextarea td#jqTransformTextarea-tm{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_tm.gif) repeat-x top left;} 
table.jqTransformTextarea td#jqTransformTextarea-tr{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_tr.gif) no-repeat top left;} 
table.jqTransformTextarea td#jqTransformTextarea-ml{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_ml.gif) repeat-y top left;} 
table.jqTransformTextarea td#jqTransformTextarea-mm{background: url(../../../../default/files/careers/jqtransform/textarea/textarea-mm.gif) repeat;} 
table.jqTransformTextarea td#jqTransformTextarea-mr{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_mr.gif) repeat-y top left;} 
table.jqTransformTextarea td#jqTransformTextarea-bl{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_bl.gif) no-repeat top left;} 
table.jqTransformTextarea td#jqTransformTextarea-bm{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_bm.gif) repeat-x top left;} 
table.jqTransformTextarea td#jqTransformTextarea-br{background: url(../../../../default/files/careers/jqtransform/textarea/textarea_br.gif) no-repeat top left;} 
/*hover*/ table.jqTransformTextarea-hover td#jqTransformTextarea-tl{background-position:0px -5px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-tm{background-position:0px -5px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-tr{background-position:0px -5px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-ml{background-position:-5px 0px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-mm{background-image: url(../../../../default/files/careers/jqtransform/textarea/textarea-mm-hover.gif);} 
table.jqTransformTextarea-hover td#jqTransformTextarea-mr{background-position:-5px 0px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-bl{background-position:0px -5px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-bm{background-position:0px -5px;} 
table.jqTransformTextarea-hover td#jqTransformTextarea-br{background-position:0px -5px;} 
/*focus*/ table.jqTransformTextarea-focus td#jqTransformTextarea-tl{background-position:0px -10px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-tm{background-position:0px -10px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-tr{background-position:0px -10px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-ml{background-position:-10px 0px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-mm{background-image: url(../../../../default/files/careers/jqtransform/textarea/textarea-mm-focus.gif);} 
table.jqTransformTextarea-focus td#jqTransformTextarea-mr{background-position: -10px 0px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-bl{background-position:0px -10px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-bm{background-position:0px -10px;} 
table.jqTransformTextarea-focus td#jqTransformTextarea-br{background-position:0px -10px;} 
table.jqTransformTextarea .jqTransformSafariTextarea div { position: relative; overflow: hidden; border: 0px solid red; } 
table.jqTransformTextarea .jqTransformSafariTextarea textarea{ background: none; position: absolute; top:-10px; left:-10px; padding: 10px 10px 10px 10px; resize: none; } 
/* ------------- * Radios * ------------- */ 
.jqTransformRadioWrapper {float: left;display:block;margin:0px 4px;	margin-top:5px;} 
.jqTransformRadio { background: transparent url(../../../../default/files/careers/jqtransform/radio.gif) no-repeat center top; vertical-align: middle; height: 19px; width: 18px; display:block;/*display: -moz-inline-block;*/ } 
/* ------------- * Checkboxes * ------------- */ 
span.jqTransformCheckboxWrapper{ display:block;float:left; margin-top:5px; } 
a.jqTransformCheckbox { background: transparent url(../../../../default/files/careers/jqtransform/checkbox.gif) no-repeat center top; vertical-align: middle; height: 19px; width: 18px; display:block;/*display: -moz-inline-block;*/ } 
/* ------------- * Checked - Used for both Radio and Checkbox * ------------- */ 
a.jqTransformChecked { background-position: center bottom;} 
/* ------------- * Selects * ------------- */ 
.jqTransformSelectWrapper { width: 45px; position:relative; height: 31px; background: url(../../../../default/files/careers/jqtransform/select_left.gif) no-repeat top left; float:left; } 
.jqTransformSelectWrapper div span { font-size: 12px; float: none; position: absolute; white-space: nowrap; height: 31px; line-height: 15px; padding: 8px 0 0 7px; overflow: hidden; cursor:pointer; /*border: 1px solid #CCCCCC;*/ /*	border-right: none;*/ } 
.jqTransformSelectWrapper  a.jqTransformSelectOpen { display: block; position: absolute; right: 0px; width: 31px; height: 31px; background: url(../../../../default/files/careers/jqtransform/select_right.gif) no-repeat center center; } 
.jqTransformSelectWrapper ul { position: absolute; width: 43px; top: 30px; left: 0px; list-style: none; background-color: #FFF; border: solid 1px #CCC; display: none; margin: 0px; padding: 0px; height: 150px; overflow: auto; overflow-y: auto; z-index:10; } 
.jqTransformSelectWrapper ul a { display: block; padding: 5px; text-decoration: none; color:#333; background-color: #FFF; font-size: 12px; } 
.jqTransformSelectWrapper ul a.selected { background: #EDEDED; color: #333; } 
.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover { background:#3582c4; color: #fff; } 
/* ------------- * Hidden - used to hide the original form elements * ------------- */ 
.jqTransformHidden {display: none;}

/*-------------Styling File Input------------*/
.form-div input#file-name-text{
	position:absolute;
		font-size:12px;
	outline:none;
	border:1px solid #e7e7e7;
	/*-moz-box-shadow:inset 1px 1px 2px #e7e7e7;
   -webkit-box-shadow:inset 1px 1px 2px #e7e7e7;
   box-shadow:inset 1px 1px 2px #e7e7e7;*/
   -moz-border-radius:2px;
   -webkit-border-radius:2px;
   border-radius:2px;
	width:208px;
	height:21px;
	padding:4px 4px 4px 10px;
	/*margin:3px 0 8px 0;*/
	color:#737373;
}
.SI-FILES-STYLIZED div.file-wrapper{
	height:34px;
	width:265px;
	position:absolute;
	overflow:hidden;
}
.SI-FILES-STYLIZED  div.file-wrapper input.input-file{
	/*position:absolute;
	z-index:50;
	opacity:0;
	width:254px;
	height:24px;
	padding:4px 4px 4px 10px;*/
	position: absolute;
height: 24px;
width: 208px;
opacity: 0;
padding:4px 4px 10px;
filter: alpha(opacity=1);
    -moz-opacity:0.01;
    opacity:0.01;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); cursor:pointer;
}
#valid-resume {  }
.fileup { width:100%; height:35px; margin:0; padding:0; position:relative; }
#fileupload_filler { width:100%; height:28px; }

/*-------------------SUBMIT RESUME--------------*/

.pgsubmitresume { float:right; padding:0; width:260px; margin:0 200px 0 0; position:relative; }
#c_keyfacts.pgsubres { margin-right:110px; margin-top:20px; padding:20px; font-family: "Avenir LT W01 45 Book", Arial, Helvetica, sans-serif; font-size:17px; line-height:22px; font-weight:normal;  }
.pgsr { width:430px; margin-right:-170px; }