body {-webkit-text-size-adjust:none;}
input[type=submit], input[type=text], input[type=password], input[type=submit], input[type=file], textarea{
	-webkit-appearance:none;
	-webkit-border-radius:0;
}
#header .header-section{
	background:-moz-linear-gradient(top, #313131 0%, #000000 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#000000));
	background:-webkit-linear-gradient(top, #313131 0%,#000000 100%);
	background:-o-linear-gradient(top, #313131 0%,#000000 100%);
	background:-ms-linear-gradient(top, #313131 0%,#000000 100%);
	background:linear-gradient(top, #313131 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#000000',GradientType=0 );
}
.top-menu .open-drop .logged-link,
.top-menu .open-drop .login-link{
	box-shadow:1px 0 0 rgba(204, 204, 204, 0.3), -1px 0 0 rgba(204, 204, 204, 0.3);
	-webkit-box-shadow:1px 0 0 rgba(204, 204, 204, 0.3), -1px 0 0 rgba(204, 204, 204, 0.3);
	-moz-box-shadow:1px 0 0 rgba(204, 204, 204, 0.3), -1px 0 0 rgba(204, 204, 204, 0.3);
}
.top-menu .open-drop .basket{
	box-shadow:1px 0 0 rgba(204, 204, 204, 0.7), -1px 0 0 rgba(204, 204, 204, 0.7);
	-webkit-box-shadow:1px 0 0 rgba(204, 204, 204, 0.7), -1px 0 0 rgba(204, 204, 204, 0.7);
	-moz-box-shadow:1px 0 0 rgba(204, 204, 204, 0.7), -1px 0 0 rgba(204, 204, 204, 0.7);
}
.top-menu .basket-drop{
	box-shadow:1px 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:1px 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:1px 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.basket-drop .checkout{
	background:-moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b6e3), color-stop(100%,#0096d4));
	background:-webkit-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-o-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-ms-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 );
	text-shadow:2px 2px 3px #0089ba;
}
.basket-drop .checkout:hover{
	background:-moz-linear-gradient(top, #079bc4 0%, #0479a9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#079bc4), color-stop(100%,#0479a9));
	background:-webkit-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-o-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-ms-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:linear-gradient(top, #079bc4 0%,#0479a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#079bc4', endColorstr='#0479a9',GradientType=0 );
}
.top-menu .login-drop,
.top-menu .account-drop{
	box-shadow:1px 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:1px 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:1px 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.form-box .text,
.login-form .text,
.step .text,
.account-form .text,
.password-reset-form .text,
.shopping-basket .text,
.form-locator .text,
.email-form .text,
.confirm-box .text{
	box-shadow:inset 0 2px 2px #e9e9e9, inset 2px 0 2px #e9e9e9;
	-webkit-box-shadow:inset 0 2px 2px #e9e9e9, inset 2px 0 2px #e9e9e9;
	-moz-box-shadow:inset 0 2px 2px #e9e9e9, inset 2px 0 2px #e9e9e9;
}
.login-form .submit,
.email-form .submit{
	background:-moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b6e3), color-stop(100%,#0096d4));
	background:-webkit-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-o-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-ms-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 );
}
.login-form .submit:hover,
.email-form .submit:hover{
	background:-moz-linear-gradient(top, #079bc4 0%, #0479a9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#079bc4), color-stop(100%,#0479a9));
	background:-webkit-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-o-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-ms-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:linear-gradient(top, #079bc4 0%,#0479a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#079bc4', endColorstr='#0479a9',GradientType=0 );
}
#nav ul{
	box-shadow:1px 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:1px 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:1px 0 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 2px rgba(0, 0, 0, 0.1);
}
.gallery-block .text-box .view{
	background:-moz-linear-gradient(top, #666666 0%, #414141 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#414141));
	background:-webkit-linear-gradient(top, #666666 0%,#414141 100%);
	background:-o-linear-gradient(top, #666666 0%,#414141 100%);
	background:-ms-linear-gradient(top, #666666 0%,#414141 100%);
	background:linear-gradient(top, #666666 0%,#414141 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=0 );
}
.gallery-block .text-box .view:hover{
	background:-moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#2c2c2c));
	background:-webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-o-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-ms-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 );
}
.text-details .choice-form .text{
	box-shadow:inset 1px 0 3px #c2c2c2, inset -1px 0 3px #c2c2c2, inset 0 1px 3px #c2c2c2, inset 0 -1px 3px #c2c2c2;
	-webkit-box-shadow:inset 1px 0 3px #c2c2c2, inset -1px 0 3px #c2c2c2, inset 0 1px 3px #c2c2c2, inset 0 -1px 3px #c2c2c2;
	-moz-box-shadow:inset 1px 0 3px #d8d8d8, inset 0 1px 3px #d8d8d8;
}
.choice-form .submit{
	text-shadow:1px 1px 2px #0087b8;
	background:-moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b6e3), color-stop(100%,#0096d4));
	background:-webkit-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-o-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-ms-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 );
}
.choice-form .submit:hover{
	background:-moz-linear-gradient(top, #079bc4 0%, #0479a9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#079bc4), color-stop(100%,#0479a9));
	background:-webkit-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-o-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-ms-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:linear-gradient(top, #079bc4 0%,#0479a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#079bc4', endColorstr='#0479a9',GradientType=0 );
}
.choice-form .inactive-button {
	text-shadow:1px 1px 2px #a3a3a3;
	background:-moz-linear-gradient(top, #cccccc 0%, #b3b3b3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#b3b3b3));
	background:-webkit-linear-gradient(top, #cccccc 0%,#b3b3b3 100%);
	background:-o-linear-gradient(top, #cccccc 0%,#b3b3b3 100%);
	background:-ms-linear-gradient(top, #cccccc 0%,#b3b3b3 100%);
	background:linear-gradient(top, #cccccc 0%,#b3b3b3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#b3b3b3',GradientType=0 );
}
.write-review{
	background:-moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b6e3), color-stop(100%,#0096d4));
	background:-webkit-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-o-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-ms-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 );
	text-shadow:1px 1px 2px #0087b8;
}
.write-review:hover{
	background:-moz-linear-gradient(top, #079bc4 0%, #0479a9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#079bc4), color-stop(100%,#0479a9));
	background:-webkit-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-o-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-ms-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:linear-gradient(top, #079bc4 0%,#0479a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#079bc4', endColorstr='#0479a9',GradientType=0 );
}
.newsletter-block .newsletter-form .text{
	box-shadow:inset 2px 0 3px #e9e9e9, inset 0 2px 3px #e9e9e9;
	-webkit-box-shadow:inset 2px 0 3px #e9e9e9, inset 0 2px 3px #e9e9e9;
	-moz-box-shadow:inset 2px 0 3px #e9e9e9, inset 0 2px 3px #e9e9e9;
}
.form-box .login-form .submit,
.submit-black,
.btn-edit{
	background:-moz-linear-gradient(top, #666666 0%, #414141 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#414141));
	background:-webkit-linear-gradient(top, #666666 0%,#414141 100%);
	background:-o-linear-gradient(top, #666666 0%,#414141 100%);
	background:-ms-linear-gradient(top, #666666 0%,#414141 100%);
	background:linear-gradient(top, #666666 0%,#414141 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=0 );
}
.form-box .login-form .submit:hover,
.submit-black:hover,
.btn-edit:hover{
	background:-moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#2c2c2c));
	background:-webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-o-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-ms-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 );
}
.submit-black,
.btn-edit {text-shadow:1px 1px 1px #1c1c1c;}
.form-box .textarea,
.step .textarea,
.email-form .textarea,
.concern-form .textarea {
	box-shadow:inset 0 2px 2px #e9e9e9, inset 2px 0 2px #e9e9e9;
	-webkit-box-shadow:inset 0 2px 2px #e9e9e9, inset 2px 0 2px #e9e9e9;
	-moz-box-shadow:inset 0 2px 2px #e9e9e9, inset 2px 0 2px #e9e9e9;
}
.action .submit,
.account-form .submit,
.password-reset-form .submit,
.btn-blue,
.btn-blue-s,
.form-locator .submit,
.compare-bar .submit{
	text-shadow:2px 2px 3px #0089ba;
	background:-moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b6e3), color-stop(100%,#0096d4));
	background:-webkit-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-o-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:-ms-linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	background:linear-gradient(top, #00b6e3 0%,#0096d4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 );
}
.action .submit:hover,
.account-form .submit:hover,
.password-reset-form .submit:hover,
.btn-blue:hover,
.btn-blue-s:hover,
.form-locator .submit:hover,
.compare-bar .submit:hover{
	background:-moz-linear-gradient(top, #079bc4 0%, #0479a9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#079bc4), color-stop(100%,#0479a9));
	background:-webkit-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-o-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:-ms-linear-gradient(top, #079bc4 0%,#0479a9 100%);
	background:linear-gradient(top, #079bc4 0%,#0479a9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#079bc4', endColorstr='#0479a9',GradientType=0 );
}
.grey-bar img {box-shadow:0 0 9px #a4a4a4;}
.gallery-section.blue h2 span {
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
.season-top.green h2 span {
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
.btn {
	background:-moz-linear-gradient(top, #666666 0%, #414141 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#414141));
	background:-webkit-linear-gradient(top, #666666 0%,#414141 100%);
	background:-o-linear-gradient(top, #666666 0%,#414141 100%);
	background:-ms-linear-gradient(top, #666666 0%,#414141 100%);
	background:linear-gradient(top, #666666 0%,#414141 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=0 );
	text-shadow:1px 1px 1px #1c1c1c;
}
.btn:hover {
	background:-moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#2c2c2c));
	background:-webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-o-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-ms-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 );
}
.aside-box tr.more-products a,
.basket-table.big tr.more-products a {
	background:-moz-linear-gradient(top, #666666 0%, #414141 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#414141));
	background:-webkit-linear-gradient(top, #666666 0%,#414141 100%);
	background:-o-linear-gradient(top, #666666 0%,#414141 100%);
	background:-ms-linear-gradient(top, #666666 0%,#414141 100%);
	background:linear-gradient(top, #666666 0%,#414141 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#414141',GradientType=0 );
	text-shadow:1px 1px 1px #1c1c1c;
}
.aside-box tr.more-products a:hover,
.basket-table.big tr.more-products a:hover{
	background:-moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(100%,#2c2c2c));
	background:-webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-o-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:-ms-linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	background:linear-gradient(top, #4c4c4c 0%,#2c2c2c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 );
}
.add-to-cart {
	box-shadow:0 0 5px #b1b1b1;
	-webkit-box-shadow:0 0 5px #b1b1b1;
	-moz-box-shadow:0 0 5px #b1b1b1;
}
.links-list ul {
	box-shadow:0 0 8px #ccc;
	-webkit-box-shadow:0 0 8px #ccc;
	-moz-box-shadow:0 0 8px #ccc;
}
.badge .number {
	-webkit-border-radius: 39px;
	-moz-border-radius: 39px;
	border-radius: 39px;
}
.returns-steps li:before,
.returns-steps li .list-item-before {
	-webkit-border-radius: 67px;
	-moz-border-radius: 67px;
	border-radius: 67px;
}
ol.res-list > li:before,
ol.res-list > li .list-item-before {
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}
* +html .add-to-cart {border:1px solid #e1e1e1;}
.ie8 .add-to-cart {border:1px solid #e1e1e1;}
.tooltip-in {box-shadow:0 0 3px #6a6741;}
/* ie7 */
.ie7 .product-gallery .image-gallery .gallery a span,
.ie7 .product-columns .image-holder,
.ie7 .product-section .image-box,
.ie7 .top-shoes .info-block .image-block,
.ie7 .season-top .shoes-column .image-holder,
.ie7 .bestsellers-block .gallery-container .image-holder,
.ie7 .product-preview .products-columns .image-holder,
.ie7 .carousel .frame,
.ie7 .carousel .frame a,
.ie7 .products-grid .frame,
.ie7 .products-grid .frame a,
.ie7 .compare-table .frame,
.ie7 .compare-table .frame a,
.ie7 .main-carousel .image-box a,
.ie7 .main-carousel .image-box img,
.ie7 .look-item .image-holder a,
.ie7 .look-info .photo .frame,
.ie7 .look-info .photo .frame img,
.ie7 .cat-popular .pic,
.ie7 .cat-popular .pic img,
.ie7 .product-section .image-box .frame,
.ie7 .product-section .image-box .frame a {display:block;}
.ie7 .note-box {height:26px;}
.ie7 .note-box .cell {
	display:block;
	height:auto;
}
.ie7 .product-gallery .image-gallery .gallery a span span,
.ie7 .product-columns .image-holder .frame,
.ie7 .product-section .image-box .frame a,
.ie7 .top-shoes .image-block .frame,
.ie7 .season-top .shoes-column .image-holder .frame,
.ie7 .bestsellers-block .gallery-container .image-holder .frame,
.ie7 .product-preview .products-columns .image-holder .frame,
.ie7 .cat-nav span img,
.ie7 .carousel .frame a,
.ie7 .products-grid .frame a,
.ie7 .compare-table .frame a,
.ie7 .main-carousel .image-box img,
.ie7 .look-item .image-holder img,
.ie7 .look-info .photo .frame img,
.ie7 .note-box .cell,
.ie7 .cat-popular .pic img,
.confirm-box .box-center {margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");}
.ie7 .column .pic img {margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight) + "px") : "0");}
.ie7 .article ol li,
.ie7 .steps-numbers li,
.ie7 .msg-box ol li {
	list-style-type:expression(
		function(t){
			t.runtimeStyle.listStyleType = 'none';
			t.insertAdjacentHTML('afterBegin','<span class="list-item-before">' + (++t.parentNode.IEcounter || (t.parentNode.IEcounter = 1)) + '. </span>');
		}(this)
	);
}
.ie7 .returns-steps li,
ol.res-list > li {
	list-style-type:expression(
		function(t){
			t.runtimeStyle.listStyleType = 'none';
			t.insertAdjacentHTML('afterBegin','<span class="list-item-before">' + (++t.parentNode.IEcounter || (t.parentNode.IEcounter = 1)) + '</span>');
		}(this)
	);
}
.ie7 .product-section .box-column .frame a {margin-top:0;}
* +html .accordion h3 {outline:expression(hideFocus='true') !important;}
* +html .accordion h3 a {outline:expression(hideFocus='true') !important;}
* +html .accordion-alt li a {outline:expression(hideFocus='true') !important;}
* +html .form-locator .option label {outline:expression(hideFocus='true') !important;}
* +html .shoe-colour label {outline:expression(hideFocus='true') !important;}
.popup-in {
	box-shadow:0 0 5px #5e5c5c;
	-webkit-box-shadow:0 0 5px #5e5c5c;
	-moz-box-shadow:0 0 5px #5e5c5c;
}
.concern-form .submit {
	background: #cb0000;
	background: -moz-linear-gradient(top,  #cb0000 0%, #b30000 100%, #b30000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb0000), color-stop(100%,#b30000), color-stop(100%,#b30000));
	background: -webkit-linear-gradient(top,  #cb0000 0%,#b30000 100%,#b30000 100%);
	background: -o-linear-gradient(top,  #cb0000 0%,#b30000 100%,#b30000 100%);
	background: -ms-linear-gradient(top,  #cb0000 0%,#b30000 100%,#b30000 100%);
	background: linear-gradient(top,  #cb0000 0%,#b30000 100%,#b30000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb0000', endColorstr='#b30000',GradientType=0 );
	text-shadow:2px 2px 3px #890202;
}
.concern-form .submit:hover {
	background: #b30000; /* Old browsers */
	background: -moz-linear-gradient(top,  #b30000 0%, #cb0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b30000), color-stop(100%,#cb0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b30000 0%,#cb0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b30000 0%,#cb0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b30000 0%,#cb0000 100%); /* IE10+ */
	background: linear-gradient(top,  #b30000 0%,#cb0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30000', endColorstr='#cb0000',GradientType=0 ); /* IE6-9 */
}