html[dir="rtl"] #nav{
	float: left !important;
}
html[dir="rtl"] .region-box .popup-holder{
	float: left !important; 
	margin-left: -100px !important;
}
html[dir="rtl"] .user-panel span{
	float: right !important;
}
html[dir="rtl"] .user-panel ul{
	float: right !important;
}
html[dir="rtl"] .region-box span{
	float: left !important; 
	padding-right: 110px !important;
}