/*Press release */
.col-main .content {
	float: right;
	width: 708px;
	padding: 4px 4px 2px 2px;
}
.content .text-content {
	overflow: hidden;
	margin: 0 -4px 0 0;
	padding: 0 4px 0 0;
}
.content .content-col {
	float: left;
	width: 446px;
	padding: 0 0 20px;
}
.content .content-madia {
	width: 451px;
	border-right: 1px solid #e3e3e3;
	padding-right: 15px;
}
.content .aside-madia {
	width: 233px;
	background: none;
	padding: 0 0 9px;
	font-size: 12px;
	line-height: 14px;
	margin: 3px -4px 0 0;
	float: right;
}
.page-media .content .content-madia h1 {
margin-bottom: 22px;
}
.content h1 {
margin: 0 0 11px;
font-size: 30px;
line-height: 30px;
color: #080808;
letter-spacing: -1px;
}
.post {
padding: 0 0 13px;
}
.post h4 {
margin: 0 -11px 0 0;
color: #d90406;
font-size: 14px;
line-height: 18px;
font-weight: bold;
}
.post .date {
font-style: normal;
display: block;
margin: 0 0 6px;
font-size: 11px;
color: #999;
}
.post p {
margin: 0 0 5px;
}