body{
	margin-top: -17px !important;
}
.map-holder #mapview{
    width:655px;
    height:475px;
}
/* Marker and infobox custom css */
#beacon{font-family:arial;position:absolute;top:50px;right:100px;display:block;background-color:#FFFFFF;width:280px;height:200px;border:1px solid #CCCCCC;-moz-box-shadow:2px 2px 4px #999999;-webkit-box-shadow:2px 2px 4px #999999;box-shadow:2px 2px 4px #999999;-moz-border-radius:8px;-webkit-border-radius:8px;-border-radius:8px;margin:0;padding:0;display:none;z-index:10;}

/*#beacon {font-family:arial;	position: absolute; top: 50px; right: 100px; display: block; background-color: #FFFFFF; width: 280px; height: 200px; border: 1px solid #CCCCCC; -moz-box-shadow: 2px 2px 4px #999999; -webkit-box-shadow: 2px 2px 4px #999999; box-shadow: 2px 2px 4px #999999; -moz-border-radius: 8px; -webkit-border-radius: 8px; -border-radius: 8px; margin: 0; padding: 0; display: none; z-index: 10; }*/
#beacon .address-panel { margin: 10px; overflow:hidden; height:180px;position: relative; }
#beacon span { display: inline; }
#beacon .beacon-title { font: bold 16px Arial, Helvetica, sans-serif; color: #4B3905; margin-bottom: 3px; }
#beacon .beacon-address { font: 12px Arial, Helvetica, sans-serif; color: #666666; padding: 5px 0 8px 0; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; margin-bottom: 5px; }
#beacon .op-details span { font-size: 10px;font-family:arial;  }
#beacon .op-details span strong { font-family:arial;font-weight: bold; width: 17%; display: inline-block; }
#beacon form label { display: block; margin-top: 10px; font-size: 11px; margin-bottom: 3px; color:#2F7CAF;}
#beacon-ptr { width: 23px; height: 47px; display: block; background: url("../images/beacon-indicator.png") 0 0 no-repeat; position: absolute; top: 200px; left: 32px; }
.marker { position: absolute; display: block; width: 49px; height: 57px; background: url("../images/tplimg/marker.png") left top no-repeat ;background-position:-3px 0px; font-family: MuseoSans-300, Arial, Helvetica, sans-serif; color: #685e16; font-size: 20px; cursor: pointer; }
.marker.current { background-position: -52px 0px; color: #FFFFFF; }
.marker span { position: relative; top: 12px; left: 17px; }
#close-beacon {
    background: url("../images/close.gif") no-repeat scroll 0px 0 transparent;
    cursor: pointer;
    display: block;
    height: 16px;
    position: absolute;
    left: 390px;
    text-indent: -9999px;
    top: 123px;
    width: 16px;
}
/*#close-beacon:hover{ background-position:-17px 0; }*/
.search-location-button{
    background: url("../images/input_box_right_arrow_noborder.png") no-repeat scroll right top transparent;
    border: medium none;
    cursor: pointer;
    display: inline;
    height: 26px;
    margin-left: -7px;
    vertical-align: bottom;
    width: 28px;
    margin-top: 0px;
}
.sm-text-box{
    background-color: #EEEEED;
	border: #DCDCDC 1px solid;
	float:left;
	margin-top: 1px;
    padding: 7px 3px 4px 8px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	font-size: 11px;
	color: #919090;
	height: 13px;
}

#close-beacon:hover {
filter: none\9;
}
#close-beacon {
filter: none\9;
}


/* Marker and infobox custom css */

/* Auto complete custom css */
.ac_results {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #656565;
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 100;
	font: 13px/17px 'FuturaStd-Medium',Arial,Helvetica,sans-serif;
}
.ac_results li.ac_over {
    background-color: #D90406;
    color: #FFFFFF;
}
.ac_results li.ac_even{
    cursor: default;
    padding: 5px 5px;
    white-space: pre;
    text-align: left;
}
.ac_results li.ac_odd{
    cursor: default;
    padding: 5px 5px;
    white-space: pre;
    text-align: left;
}
.ac_results ul{
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: -40px;
    margin-top: 0;
}
/* Auto complete custom css */

/*for locator input style on contact us forms*/
.col-2 #contact-us-store-locator input.btn-enter {
	background: url("../images/btn-enter.gif") no-repeat scroll 0 0 transparent;
    float: right;
    height: 26px;
    margin: 0 1px 0 0;
    overflow: hidden;
    text-indent: -9999px;
    width: 28px;
	border-style: none;
	cursor: pointer;
}


.section-contact-us #status_msg {
    display: none;
}
.section-contact-us .errow-box {
    background: none repeat scroll 0 0 #F7CDCD;
    color: #000000;
    float: left;
    font-size: 12px;
    margin: -44px 0 0 142px;
    padding: 6px 0 8px;
    text-align: center;
    width: 356px;
}
.section-contact-us .success-box {
    background: none repeat scroll 0 0 #CCE57F !important;
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: -44px 0 0 142px;
    padding: 6px 0 8px;
    text-align: center;
    width: 356px;
}
.section-contact-us #status_msg a {
    color: #FF3333;
}
.section-contact-us #updates_status_msg a {
    color: #FF3333;
}

.section-receive-updates #updates_status_msg {
    display: none;
}
.section-receive-updates .errow-box {
    background: none repeat scroll 0 0 #F7CDCD;
    color: #000000;
    float: left;
    font-size: 12px;
    margin: -128px 0 0 -4px;
    padding: 6px 0 8px;
    text-align: center;
    width: 356px;
}
.section-receive-updates .success-box {
    background: none repeat scroll 0 0 #CCE57F !important;
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: -128px 0 0 -4px;
    padding: 6px 0 8px;
    text-align: center;
    width: 356px;
}
.section-receive-updates #status_msg a {
    color: #FF3333;
}

.section-partner-enquiry #status_msg {
    display: none;
}
.section-partner-enquiry .errow-box {
	background: none repeat scroll 0 0 #F7CDCD;
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: -53px 0 0 140px;
    padding: 6px 0 8px;
    text-align: center;
    width: 359px;
}
.section-partner-enquiry .success-box {
	background: none repeat scroll 0 0 #CCE57F !important;
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: -53px 0 0 140px;
    padding: 6px 0 8px;
    text-align: center;
    width: 359px;
}
.section-partner-enquiry #status_msg a {
    color: #FF3333;
}

.section-media-enquiry #media_status_msg {
    display: none;
}
.section-media-enquiry .errow-box {
	background: none repeat scroll 0 0 #F7CDCD;
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: -43px 0 0 141px;
    padding: 6px 0 8px;
    text-align: center;
    width: 356px;
}
.section-media-enquiry .success-box {
	background: none repeat scroll 0 0 #CCE57F !important;
    color: #000000;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: -43px 0 0 141px;
    padding: 6px 0 8px;
    text-align: center;
    width: 356px;
}
.section-media-enquiry #media_status_msg a {
    color: #FF3333;
}

#edit-request-for {
	overflow: hidden;
    padding: 8px 0 11px 7px;
    width: 492px;
}
#edit-request-for p {
	overflow: hidden;
    padding: 0 0 6px;
}
#edit-request-for p input{
	float: left;
    height: 15px;
    margin: 0 7px 0 0;
    padding: 0;
    width: 16px;
}
#edit-request-for p label{
	color: #999393;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
}
.content #edit-request-for p {
    margin: 0;
}

input#otherdetails_input {
	width: 441px;
    float: right;
    margin-top: -37px;
    margin-right: 11px;
    margin-bottom: 17px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
}
#contact-us-form #contactus-reach #contactus_feedback_email {
    margin-right: 6px;
}
#media-enquiry-form #reach_1_row input {
    width: 225px;
}
#reach_1_row #email_input1 {
    margin-right: 6px;
}
#contact-us-form #contactus-reach input {
    width: 224px;
}
#partner-enquiry-form #partner_reach_row input{
    width: 226px;
}

#publication_row p {
    margin:  0px;
    padding: 0px;
}
/*.section-support-services .inner p {
    height: 0px;
}*/

#media-enquiry-form .row-4 {
    padding-left: 3px;
}

#media-enquiry-form .cancel {
    line-height: 16px;
}

/*.hc-text-box{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #636363;
    float: left;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 9px;
    width: 150px;
}*/


/*for catalog js disabled page*/
.node-type-catalog .no-catalogue {
    margin: 25px 0 36px;
    overflow: hidden;
    padding: 32px 33px 27px;
}
.node-type-catalog .message-box {
    background-color: #FFFDDD;
    border: 1px solid #EEEEEE;
	width: 768px;
}
.node-type-catalog .no-catalogue .shadow {
    background: url("../images/catalogue-shadow.png") no-repeat scroll right bottom transparent;
    float: left;
    height: 194px;
    margin-right: 24px;
    position: relative;
    width: 152px;
}
.node-type-catalog .no-catalogue img {
    left: 0;
    position: absolute;
    top: 0;
}
.node-type-catalog .no-catalogue .why-no-view {
    float: left;
}
.node-type-catalog .no-catalogue h2.mainheading {
    color: #979797;
    margin-bottom: 6px;
}
.node-type-catalog .no-catalogue h3 {
    color: #979797;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
}
.node-type-catalog .no-catalogue ul {
    list-style: disc inside none;
    margin-bottom: 21px;
    padding-left: 25px;
}
.node-type-catalog .no-catalogue ul li {
    font-size: 13px;
    margin-bottom: 4px;
}
.node-type-catalog .no-catalogue .download-cat {
    font-size: 13px;
}
/*end for catalog js disabled page*/

/*css for buying guide js disabled page*/
.node-type-buying-guide .no-catalogue {
    margin: 25px 0 36px;
    overflow: hidden;
    padding: 32px 33px 27px;
}
.node-type-buying-guide .message-box {
    background-color: #FFFDDD;
    border: 1px solid #EEEEEE;
	width: 768px;
}
.node-type-buying-guide .no-catalogue .shadow {
    background: url("../images/catalogue-shadow.png") no-repeat scroll right bottom transparent;
    float: left;
    height: 194px;
    margin-right: 24px;
    position: relative;
    width: 152px;
}
.node-type-buying-guide .no-catalogue img {
    left: 0;
    position: absolute;
    top: 0;
}
.node-type-buying-guide .no-catalogue .why-no-view {
    float: left;
}
.node-type-buying-guide .no-catalogue h2.mainheading {
    color: #979797;
    margin-bottom: 6px;
}
.node-type-buying-guide .no-catalogue h3 {
    color: #979797;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
}
.node-type-buying-guide .no-catalogue ul {
    list-style: disc inside none;
    margin-bottom: 21px;
    padding-left: 25px;
}
.node-type-buying-guide .no-catalogue ul li {
    font-size: 13px;
    margin-bottom: 4px;
}
.node-type-buying-guide .no-catalogue .download-cat {
    font-size: 13px;
}

/*end of buying guide js disabled page*/

/*css for offer js disabled page*/
.node-type-offer .no-offer {
    margin: 25px 0 36px;
    overflow: hidden;
    padding: 32px 33px 27px;
}
.node-type-offer .message-box {
    background-color: #FFFDDD;
    border: 1px solid #EEEEEE;
	width: 768px;
}
.node-type-offer .no-offer .shadow {
    background: url("../images/catalogue-shadow.png") no-repeat scroll right bottom transparent;
    float: left;
    height: 194px;
    margin-right: 24px;
    position: relative;
    width: 152px;
}
.node-type-offer .no-offer img {
    left: 0;
    position: absolute;
    top: 0;
}
.node-type-offer .no-offer .why-no-view {
    float: left;
}
.node-type-offer .no-offer h2.mainheading {
    color: #979797;
    margin-bottom: 6px;
}
.node-type-offer .no-offer h3 {
    color: #979797;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
}
.node-type-offer .no-offer ul {
    list-style: disc inside none;
    margin-bottom: 21px;
    padding-left: 25px;
}
.node-type-offer .no-offer ul li {
    font-size: 13px;
    margin-bottom: 4px;
}
.node-type-offer .no-offer .download-cat {
    font-size: 13px;
}

/*end of offer js disabled page*/
/* Disable Throbber */
.ajax-progress-throbber {
  display: none;
}
/* Remove default error styling of drupal */
div.error, table tr.error {
    background-color: #FFFFFF;
}
div.error, .error {
    color: #FFFFFF;
}
div.error {
    background-image: none;
    border-color: #FFFFFF;
}

.columns-box li.first {
    margin:0px;
}
.columns-box li {
    margin:0px 0px 0px 3px;
}

.columns-box li .text-box a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

#nav > li:hover > a:hover {
    background:none;
}
/*for adjusting width of catalogue as per new hfp*/
#enabled-javascript{
	/*width:836px;*/
}

.section-offer a#tablinks:hover {
	border-style: none;
}
.section-offer #main a.active:hover {
	border-style: solid !important;
}
.new_tabs{
	padding-left: 42px;
	left: -55px;
	width: 803px;
}
.store-custom-labels {
    color: #FFFFFF;
    font-family: "Lucida Grande","Arial",sans-serif;
    font-size: 24px;
    height: 20px;
    padding-left: 14px;
    padding-top: 9px;
    text-align: center;
    white-space: nowrap;
    width: 16px;
}
/*end of width problem of catalogue as per new hfp*/
#nav > li:hover > a,
#nav > .active > a,
#nav > li:hover > a:hover,
#nav li a,
#nav li a:hover{
background:none;
}
/*for twitter button which is on taxonomy pages*/

.twitter_custom iframe{
	width:81px !important;
	height:24px !important;
}

/* side-bar ie7 */
.twocolumns .sidebar {
	 /**float: left;
	 *margin-top: 42px;*/
 }
.twocolumns .field-type-text-with-summary {
	*float:right; *width: 708px;
	*margin-top:14px;
}
/* end of side-bar ie7 */

/* autocomplete result in IE7 resolved*/
.ac_results ul{
	*margin-left: 0px;
}
/* end of autocomplete result in IE7 resolved*/

/* side bar for site-map issue resolved for IE7 */
.page-site-map .twocolumns .sidebar {
	 *margin-top: 0px;
 }
 /*end of side bar for site-map issue resolved for IE7 */

/* css for video gallery */
#youtube-video-gallery{
	width: 240px;
}
#youtube-video-gallery li.odd {
	float: left;
	padding-right: 17px;
}
.playlist li img {
	display: inline;
	margin-top: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
}
.aside-col ul li{
	background: none;
}
.aside-col ul li:first-child{
	background: none;
}
.content .aside-madia .paging{
	position: absolute;
	right: -160px;
}
.page_navigation ul li{
	padding: 0px;
}
.page_navigation ul{
	width: 235px;
}

.unsubscribe .text #tell-email {
    background-color: lightGrey;
}

.paging ul li a.active_page{
	text-decoration: none;
	background: none;
	color: #636363;
}
.playlist li.currentvideo img {
	border-bottom-color: #c1d252;
}
.playlist li:hover img {
	border-bottom-color: #999;
}

#youtube-video-gallery li {
    width: 110px !important;
}
#youtube-video-gallery li img {
    width: 110px !important;
}

#youtube-video-gallery .even {
    float: right;
    margin-top: -121px;
}
.user-panel .popup-holder {
    width: 105px;
}

.aside-col ul {
    margin: 17px;
    list-style: inherit;
    *list-style: disc outside none;
    list-style: disc outside none\9;
}

.user-panel .active div.popup{
    height:106px;
}
.user-panel .popup-holder div.popup{
    top:-111px;
}

.main-appliances .description-box .block {
    padding: 0 0 27px;
    position: relative;
    top: 72px;
}
.main-photography .description-box .block {
    padding: 0 0 27px;
    position: relative;
    top: 72px;
}
.main-phone .description-box .block {
    padding: 0 0 27px;
    position: relative;
    top: 72px;
}
.main-computer-gaming .description-box .block {
    padding: 0 0 27px;
    position: relative;
    top: 72px;
}
.main-sound-vision .description-box .block {
    padding: 0 0 27px;
    position: relative;
    top: 72px;
}

.item-main .row .box p{
    padding-right: 10px;
}

/* end of css for video gallery */
.interaction-box .mail-form label {
    margin-left: -110px;
}
.section-not-found .breadcrumbs , .section-not-found .section-not-found{
	display:none;
}
.page-site-map .content-box-3 .store-locator .location-form-3 .text{
	width: 73px;
}
.twocolumns .field-type-text-with-summary {
	float: right;
	width: 708px;
	padding: 4px 4px 2px 2px;
}
.section-faq .content h1 {
	padding-bottom:23px;
}

/* Category landing page - Phone - Start */

.main-phone {
	width:940px;
	margin:0 -9999px;
	padding:20px 9999px 0;
	background:#CB6229 url(../images/background-c-phones.jpg) no-repeat 50% 0;
	min-height:982px;
	position:relative;
	z-index:6;
}
.main-phone .box {
	padding:27px 5px 2px 57px;
	font-size:20px;
	line-height:20px;
	color:#fff;
	width:878px;
	margin:-20px;
}
.main-phone .text { width:390px;}
.main-phone .text p{letter-spacing:-1px;}
.main-phone .heading { margin:0 0 17px;}
.main-phone .heading span {background:url(../images/bg-heading-c5.png) repeat-x 0 100%;}
.main-phone .heading .cufon {padding:0 0 6px !important;}
.main-phone p { margin:0 0 11px 2px;}
.main-phone p .cufon {padding:0 0 2px !important;}
.main-phone .description-box {
	float:right;
	width:386px;
	margin:-20px -24px 0 0;
}
.main-phone .title {
	text-transform:uppercase;
	display:block;
	font-size:16px;
	line-height:16px;
	margin:0 0 3px 4px;
}
.main-phone .text img {display:block;}
.main-phone .social-networks {
	margin:0;
	padding:0 0 22px;
	list-style:none;
	overflow:hidden;
	text-align:right;
	height:24px;
}
.main-phone .social-networks li {
	display:inline-block;
	margin:0 0 0 11px;
}
*+html .main-phone .social-networks li {
	display:inline;
	margin:0 0 0 17px;
}
.main-phone .social-networks li img {display:block;}
.main-phone .description-box .block {padding:0 0 27px;}
.main-phone .description-box h3 {
	margin:0 0 8px;
	font-size:32px;
	line-height:32px;
	letter-spacing:-2px;
	overflow:hidden;
}
.main-phone .description-box h3 span {
	background:url(../images/bg-heading-c5.png) repeat-x 0 100%;
	padding:0 0 5px 2px;
	min-width:184px;
	float:left;
}
.main-phone .description-box .text-block {
	font-size:16px;
	line-height:20px;
	padding:4px 0 0 2px;
}
.main-phone .description-box .text-block p {margin:0 0 5px;}
.main-phone .description-box .block p {
	margin:0 0 19px 1px;
	letter-spacing:-1px;
}
.main-phone .description-box .button {margin:0 0 0 1px;}

/* Category landing page - Phone - End */


/* Category landing page - Computer and Gaming - Start */

.main-computer-gaming {
	width:940px;
	margin:0 -9999px;
	padding:20px 9999px 0;
	background:#6CAA47 url(../images/background-c-computers.jpg) no-repeat 50% 0;
	min-height:982px;
	position:relative;
	z-index:6;
}
.main-computer-gaming .box {
	padding:27px 5px 2px 57px;
	font-size:20px;
	line-height:20px;
	color:#fff;
	width:878px;
	margin:-20px;
}
.main-computer-gaming .text { width:390px;}
.main-computer-gaming .text p{letter-spacing:-1px;}
.main-computer-gaming .heading { margin:0 0 17px;}
.main-computer-gaming .heading span {background:url(../images/bg-heading-c5.png) repeat-x 0 100%;}
.main-computer-gaming .heading .cufon {padding:0 0 6px !important;}
.main-computer-gaming p { margin:0 0 11px 2px;}
.main-computer-gaming p .cufon {padding:0 0 2px !important;}
.main-computer-gaming .description-box {
	float:right;
	width:386px;
	margin:-20px -24px 0 0;
}
.main-computer-gaming .title {
	text-transform:uppercase;
	display:block;
	font-size:16px;
	line-height:16px;
	margin:0 0 3px 4px;
}
.main-computer-gaming .text img {display:block;}
.main-computer-gaming .social-networks {
	margin:0;
	padding:0 0 22px;
	list-style:none;
	overflow:hidden;
	text-align:right;
	height:24px;
}
.main-computer-gaming .social-networks li {
	display:inline-block;
	margin:0 0 0 11px;
}
*+html .main-computer-gaming .social-networks li {
	display:inline;
	margin:0 0 0 17px;
}
.main-computer-gaming .social-networks li img {display:block;}
.main-computer-gaming .description-box .block {padding:0 0 27px;}
.main-computer-gaming .description-box h3 {
	margin:0 0 8px;
	font-size:32px;
	line-height:32px;
	letter-spacing:-2px;
	overflow:hidden;
}
.main-computer-gaming .description-box h3 span {
	background:url(../images/bg-heading-c5.png) repeat-x 0 100%;
	padding:0 0 5px 2px;
	min-width:184px;
	float:left;
}
.main-computer-gaming .description-box .text-block {
	font-size:16px;
	line-height:20px;
	padding:4px 0 0 2px;
}
.main-computer-gaming .description-box .text-block p {margin:0 0 5px;}
.main-computer-gaming .description-box .block p {
	margin:0 0 19px 1px;
	letter-spacing:-1px;
}
.main-computer-gaming .description-box .button {margin:0 0 0 1px;}

/* Category landing page - Computer and Gaming - End */

/* Category landing page - Sound and vision - Start */

.main-sound-vision {
	width:940px;
	margin:0 -9999px;
	padding:20px 9999px 0;
	background:#613F60 url(../images/background-c-soundnvision.jpg) no-repeat 50% 0;
	min-height:982px;
	position:relative;
	z-index:6;
}
.main-sound-vision .box {
	padding:27px 5px 2px 57px;
	font-size:20px;
	line-height:20px;
	color:#fff;
	width:878px;
	margin:-20px;
}
.main-sound-vision .text { width:390px;}
.main-sound-vision .text p{letter-spacing:-1px;}
.main-sound-vision .heading { margin:0 0 17px;}
.main-sound-vision .heading span {background:url(../images/bg-heading-c5.png) repeat-x 0 100%;}
.main-sound-vision .heading .cufon {padding:0 0 6px !important;}
.main-sound-vision p { margin:0 0 11px 2px;}
.main-sound-vision p .cufon {padding:0 0 2px !important;}
.main-sound-vision .description-box {
	float:right;
	width:386px;
	margin:-20px -24px 0 0;
}
.main-sound-vision .title {
	text-transform:uppercase;
	display:block;
	font-size:16px;
	line-height:16px;
	margin:0 0 3px 4px;
}
.main-sound-vision .text img {display:block;}
.main-sound-vision .social-networks {
	margin:0;
	padding:0 0 22px;
	list-style:none;
	overflow:hidden;
	text-align:right;
	height:24px;
}
.main-sound-vision .social-networks li {
	display:inline-block;
	margin:0 0 0 11px;
}
*+html .main-sound-vision .social-networks li {
	display:inline;
	margin:0 0 0 17px;
}
.main-sound-vision .social-networks li img {display:block;}
.main-sound-vision .description-box .block {padding:0 0 27px;}
.main-sound-vision .description-box h3 {
	margin:0 0 8px;
	font-size:32px;
	line-height:32px;
	letter-spacing:-2px;
	overflow:hidden;
}
.main-sound-vision .description-box h3 span {
	background:url(../images/bg-heading-c5.png) repeat-x 0 100%;
	padding:0 0 5px 2px;
	min-width:184px;
	float:left;
}
.main-sound-vision .description-box .text-block {
	font-size:16px;
	line-height:20px;
	padding:4px 0 0 2px;
}
.main-sound-vision .description-box .text-block p {margin:0 0 5px;}
.main-sound-vision .description-box .block p {
	margin:0 0 19px 1px;
	letter-spacing:-1px;
}
.main-sound-vision .description-box .button {margin:0 0 0 1px;}

/* Category landing page - Sound and Vision - End */
.item-main .text-block .text p.bottom_p{
    margin: -29px 35px 5px;
}

.item-main .details-box ul{
    font-weight:normal;
}

.section-stores .popup-holder .holder .frame address {
    min-height: 25px;
}

.media-form .row {
    *width: 495px;
}

.info-box .news h4 {
    line-height: 20px;
    margin: 8px 0 8px;
}

.info-box .article .alignleft {
    margin: 0 16px 0 0;
}

.info-box .article {
    padding: 0;
}

.partner-form select {
    height: 30px\9;
}

.sidebar .submenu_child li .active {
    *color: #FFFFFF !important;
    color: #FFFFFF !important\9;
}

/*For changing color of hyperlink in faq */
.popup-holder .popup p a{
	color: #D90406;
}
.location-form-3 .btn-search {
margin-right:-7px;
}
.location-form-3 .text{
width:157px;
}
.page-taxonomy .item-main {
padding-bottom:0px;
}
.inner .intro{
min-height:172px;
}
.intro-locator{min-height:294px;}
.inner .support{min-height:184px;}
/*For changing overlay image of taxonomy page on IE 8-9*/
.page-taxonomy .intro .box .text img{
	position:absolute\9;
	margin-top:5px\9;
}
 intro-locator{min-height:296px;}
/*End of For changing overlay image of taxonomy page on IE 8-9*/

.feedback-form .btn-submit {
    *background: url("../images/btn-submit.png") no-repeat scroll 0 0 transparent\9 !important;
	width: 76px\9 !important;
    height: 32px\9 !important;
}
.receive-form .btn-submit {
    *background: url("../images/btn-submit.png") no-repeat scroll 0 0 transparent\9 !important;
    width: 76px\9 !important;
    height: 32px\9 !important;
}
.partner-form .btn-submit {
    *background: url("../images/btn-submit.png") no-repeat scroll 0 0 transparent\9 !important;
    width: 76px\9 !important;
    height: 32px\9 !important;
}
.media-form .btn-submit {
    *background: url("../images/btn-submit.png") no-repeat scroll 0 0 transparent\9 !important;
    width: 76px\9 !important;
    height: 32px\9 !important;
}
.sidebar .submenu_child {
    *position: relative;
}
.sidebar ul li {
    *position: relative;
}
.sidebar ul {
    *position: relative;
}

.page-front-page .slideshow .box-frame .text .text-section .banner_no_margin{
    margin-bottom: 0px;
}

.field-items h1 {
    color: #080808;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 30px;
    margin: 0 0 11px;
}

.section-receive-updates-unsubscribe-sad .btn-submit {
    background: url("../images/btn-submit.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    margin: 0 7px 0 0;
    padding: 0 0 3px;
    width: 74px;
}

.section-receive-updates-unsubscribe-sad .cancel {
    color: #D90406;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin: 8px 13px 0 0;
    text-decoration: underline;
}

/*for highlighted products ul li styling*/
.sol_prod_esc {
    margin: 0 0 0 -28px;
    list-style-type: disc;
}
.sol_prod_esc li {
    border-bottom: 0px solid;
    padding: 0px;
    display: list-item;
    list-style-type: disc;
    width: 140px;
}
.columns-box .sol_prod_esc li:first-child {
    margin-left: 3px !important;
}

/*Margin top for h1 on media page*/
.page-media .content .content-madia h1{
	margin-bottom:22px;
}
/*End of Margin top for h1 on media page*/
.slideshow .c3 h2 strong, .slideshow .c2 h2 strong, .slideshow h2 strong, .slideshow .c4 h2 strong, .slideshow .c3 .columns .col h3, .slideshow .c3 .columns .col h3, .slideshow .columns .col h3{background:url(../images/white-bg-heading-c2.png) repeat-x 0 100%;}
.inner .item-support{margin-top:-75px;}

/*Starting of IE7 issue for Home page Banner*/
.page-front-page .slideshow .columns{
	*padding-top:0px;
	*margin-top:-28px;
}

/*End of IE7 issue for Home page Banner*/

.page-front-page .columns-box .button span {
     background: none repeat scroll 0 0 transparent;
     color: #D90406;
     text-transform: uppercase;
     padding: 0;
}
.page-front-page .columns-box .button {
    background: none repeat scroll 0 0 transparent;
}
.page-front-page .columns-box .text-box {
    min-height: 198px;
    padding:  0;
}
/*for corporate footer*/
.links-block ul li {
display: block;
background: none;
padding: 0px;
}
.links-block ul {
float : left;
margin-left : 28px;
}
.links-block ul > ul{
margin-left : 0px;
}
.links-block ul li ul{
margin-left : 0px;
}
#nav > li {
margin-left: -4px;
}
#nav > li > a {
    padding-right:24px;
}
/*homepage */
.button_uae{
    color: #D90406;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding-right: 4px;
    vertical-align: top;
}

.page-front-page .text-box span a:hover {
    text-decoration: none;
}

/*product node pages FB like */

.item-sub h2 {
width:880px;
}

.item-sub .social_iframe {
left: 720px;
position: relative;
top: -40px;
width: 182px;
}

.like_tell_text {
font-size:11px;
vertical-align:top;
}

/*product node pages FB like  end */

/*new big logo css */
.logo {
width:141px;
height:46px;
}

#nav li a{
padding-left:23px;
}

#nav {
float:right;
}
html[dir="rtl"] #nav{
float: right !important;
padding-right: 20px !important;
}
/*new big logo css end */

/*banner fix */
.slideshow .c3 .text {
    width: 440px;
}


/* New Offers page style START */

.intro_offers{
min-height:0 !important;
}

.intro_offers .heading > span {
background: url("../images/heading-intro-grey.png") repeat-x scroll 0 100% transparent;
}

.greyboxinner table{
border-collapse:inherit;
}

#offermenu a.current, #offermenu a{
height:32px !important;
}

.offers-block {
overflow:hidden;
width: 904px;
}

.sale_item_main {
/*height:640px !important;*/
padding: 7px 13px 40px !important
}

.sale_item_main .greybox-full {
width: 100% !important;
}

#offermenu {
border-bottom: 3px solid #010000 !important;
}

/* New Offers page style END */

/**  Offer product permalink page START  **/

.sale_item_centre {
float:none !important;
margin: 60px auto 0 !important;
}

.social {
	display:inline-block;
    float: right;
    text-align: right;
	margin-top: 25px;
}

.social > div {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: top;
}
.sale_item_main_link {
cursor:pointer;
}

.sale_item_node {
margin-top: 55px !important;
}

.back_button {
display: block;
float: right;
position: relative;
top: -70px;
}
.i18n-ar .interaction-box.errow .frame{
background: url(../images/errow-b-ar.gif) repeat -1px 0px;
}
.i18n-ar .interaction-box.notification .info-text{
float:left;
}
.i18n-ar .interaction-box .mail-form .row-error .text-errow input{
width:auto;	
}
.i18n-ar .interaction-box .mail-form .row-error .text-errow{
width:auto;
}
.i18n-ar #contactus_right .media-span-ltr{
	margin: -12px 0px 0px 23px;
}
.brand-footer-newsletter .submit {
    height: 28px;
    padding: 0!important;
}
html[dir="rtl"] .section-receive-updates .errow-box{
	float: right;
}
html[dir="rtl"] .section-receive-updates .success-box{
	float: right;
}
html[dir="rtl"] .links-block .logo{
	background: url(../images/footer-logo-new-ar.png) no-repeat scroll 0 7px transparent;
}
html[dir="rtl"] .links-block .logo:hover{
	background-position: left -51px;
}
html[dir="rtl"] .user-panel .popup-holder div.popup ul li a{
	width:110px;
}
html[dir="rtl"] .user-panel .popup-holder div.popup ul li img{
	float:right;
}
html[dir="rtl"] .user-panel .active div.popup{
	width:109px;
}
html[dir="rtl"] .slideshow .c2 .text{
	width: 452px !important;
}
html[dir="rtl"] .twocolumns h2{
	width: 690px;
}
html[dir="rtl"] .ac_results li.ac_even{
	text-align:right;
}
html[dir="rtl"] .ac_results li.ac_odd{
	text-align:right;
}
html[dir="rtl"] .intro .text{
	width:auto !important;
}
html[dir="rtl"] .sub-category .text{
	width: 515px !important;
}
html[dir="rtl"] .sub-category .text .heading{
	font-size: 46px !important;
}
html[dir="rtl"] .main-sound-vision .text{
	width: 390px !important;
}
html[dir="rtl"] .main-photography .text{
	width: 390px !important;
}
html[dir="rtl"] .main-phone .text{
	width: 390px !important;
}
html[dir="rtl"] .main-computer-gaming .text{
	width: 390px !important;
}
html[dir="rtl"] .main-computer-gaming .text .heading{
	font-size: 35px !important;
}
html[dir="rtl"] .main-appliances .text{
	width: 390px !important;
}
html[dir="rtl"] .box-title{
	font-size: 19px;
}