//==============================
// $RTL HELPERS
//==============================

%fl{
    float:left;
}

%fr{
    float:right;
}

%fn{
    float:none;
}

%tr{
    text-align:right;
}

%tl{
    text-align:left;
}

%dr{
    direction:rtl;
}

%dl{
    direction:ltr !important;
}

//==============================
// $RTL MIXINS
//==============================
@mixin rtl{
    @if $rtl {
        html[dir="rtl"] &{
            @content;
        }
    }
}

@mixin flip($property, $right, $left){
    @if $property == pos {
        left: #{$left};
        right: #{$right};
    } @else {
        #{$property}-right:#{$right};
        #{$property}-left:#{$left};
    }
}

//==============================
// $RTL
//===============================

html[dir="rtl"]{
    *{
        letter-spacing: 0 !important;
        word-spacing: 0 !important;
        font-family: 'Geeza Pro', arial, tahoma, sans-serif;
    }

    .language-switcher-locale-url{
        @include flip(pos, auto, 24px);
    }

    .header-holder{
        @include flip(padding, 4px, 10px);
    }

    .logo{
        @extend %fr;
        @include flip(padding, 0, 10px);
    }

    #nav{
        @extend %fl;

        > li {
            @extend %fr;
            @include flip(margin, -4px, 0);
        }

        a {
            @include flip(padding, 23px, 24px);
        }
    }


    // .slideshow,
    .fade-gallery{
        @extend %dl;
    }

    .slideshow{
        h2{
            strong{
                @extend %fr;
                @include flip(padding, 9999px, 0);
                @include flip(margin, -9999px, 0);
                background-position: 100% 100%;
            }
        }
    }

    .box-title{
        @extend %fr;
        @include flip(margin, -2px, 0);
        @include flip(padding, 17px, 2px);
    }

    .columns-box{
        .columns{
            @include flip(margin, -3px, 0);
        }

        li{
            @include flip(margin, 3px, 0);

            &.first{
                margin-right:0;

                .col-box{
                    border-right: none;
                    margin-right: 0;
                }
            }
        }

        .col-box{
            @include flip(border, 3px solid #f3f4f4, none);
            @include flip(margin, -3px, 0);
            @include flip(padding, 22px, 16px);
        }
    }

    .info-box{
        .col{
            @extend %fr;
        }
        .news{
            @include flip(margin, 18px, 0);
        }

        .article{
            .alignleft{
                @include flip(margin, 0, 16px);
                @extend %fr;
            }
            .text{
                @include flip(padding, 0, 15px);
            }
        }

        .button{
            @include flip(pos, 2px, auto);
        }

        .button-news{
            @include flip(pos, 117px, auto);
        }
    }

    .interaction-box{
        .frame{
            @include flip(padding, 11px, 9px)
        }

        .row-holder{
            @extend %fr;
            width: auto;
        }

        .text{
            @extend %fr;
            width: auto;

            input{
                width: auto;
                border-radius: 0 3px 3px 0;
            }
        }

        .mail-form{
            @extend %fl;
            width: auto;
            label{
                @extend %fr;
                @include flip(margin, 0, 9px);
            }

            .btn-send{
                float: left !important;
                background-image: url(../images/btn-send-ar.png);
                margin-right: -2px;
            }
        }
    }

    .newsletter{
        @include flip(margin, 0, 10px);
        @extend %fr;
    }

    .location-form{
        label{
            @extend %fr;
            @include flip(margin, 0, 11px);
        }

        .btn-send{
            @extend %fr;
            background-image: url(../images/btn-send-ar.png);
            margin-right: -2px;

        }

    }

    .columns-block{
        .col{
            @extend %fr;
            @include flip(padding, 0, 10px);

            .social-networks{
                @include flip(margin, -2px, 0);

                li{
                    @extend %fr;
                    @include flip(margin, 0, 4px);
                }
            }
        }
    }

    .region-box{
        @extend %fl;
        span{
            @extend %fr;
            @include flip(margin, 0, 30px);
        }

        .popup-holder{
            @extend %fr;

            .open{
                background-position: 0 4px;
            }

            img{
                @extend %fr;
                @include flip(margin, 0, 6px);
            }
        }
    }

    .user-panel{
        ul{
            @include flip(padding, 5px, 0);
            li{
                @include flip(padding, 7px, 5px);
            }
        }
    }

    .links-block{
        @include flip(padding, 20px, 0);

        .logo{
            @include flip(margin, 0, 12px);
        }

        .box > ul{
            @include flip(margin, 28px, 0);
        }

        ul{
            @extend %fr;
            margin: 0;
        }
    }

    .breadcrumbs{
        @include flip(margin, -3px, 0);
        li{
            @extend %fr;
        }
    }


    .intro {
        .title{
            @include flip(margin, 4px, 0);
        }

        .alignright{
            @extend %fl;
            @include flip(margin, 10px, 0);
        }

        .box{
            @include flip(padding, 57px, 5px);
        }

        .description-box{
            @extend %fl;
            @include flip(margin, 0, -24px);

            h3{
                span{
                    @include flip(padding, 2px, 0);
                    @extend %fr;
                }
            }

            .block{
                p{
                    @include flip(margin, 1px, 0);
                }
            }

            .button{
                @include flip(margin, 1px, 0);
            }

            .text-block{
                @include flip(padding, 2px, 0);
            }

        }

        .social-networks{
            li{
                @include flip(margin, 11px, 0);
            }
        }
    }

    .intro{
        .heading{
            @extend %fr;
            span{
                @extend %fr;
                @include flip(padding, 9999px, 0);
                @include flip(margin, -9999px, 0);
            }
        }
    }

    .item-block{
        @include flip(margin, -3px, 0);
        @include flip(padding, 37px, 80px);

        .alignleft{
            @extend %fr;
            @include flip(margin, 23px, 57px);
        }
    }

    .item-main{
        @include flip(margin, -2px, 0);
        @include flip(padding, 0, 0);

        .main-box{
            @extend %fr;
            @include flip(padding, 38px, 19px);
            border-width: 0 0 0 3px;
        }

        .text-block{
            @include flip(margin, -38px, 13px);

            img{
                @extend %fr;
                @include flip(margin, 0, 35px);
            }
        }

        .details-box{
            @include flip(margin, -3px, 0);
            @include flip(padding, 24px, 4px);

            li{
                @include flip(padding, 12px, 0);
                background-position: right 5px;
            }
        }

        .blocks-holder{
            @extend %fr;

            h2{
                @include flip(margin, 13px, 0);
            }
        }

        .box{
            @extend %fr;
            @include flip(padding, 21px, 1px);

            p{
                @include flip(padding, 0, 10px);
            }
        }

        .img-holder{
            @extend %fr;
            @include flip(margin, 0, 28px);
        }
    }

    .item-sub{
        background-position: 0 100%;
        .social_iframe{
            @include flip(pos, 680px, auto);
        }

        .alignleft{
            @include flip(margin, 1px, 43px);
        }
        .text{
            @include flip(padding, 0, 12px);
        }

        .details-box{
            @include flip(padding, 17px, 4px);
            li {
                @include flip(padding, 6px, 12px);
                background-position: right 5px;
            }
        }
    }

    .bnt-holder{
        @extend %tl;
    }

    .brands-box{
        @include flip(margin, -3px, 0);
        .heading{
            @include flip(padding, 16px, 33px);
            .button{
                @extend %fl;
                @include flip(margin, 10px, 0);
            }
        }
    }

    .offers-block{
        @include flip(padding, 18px, 18px);
    }

    #offermenu{
        li{
            @extend %fr;
        }

        .current{
            @extend %fr;
        }
    }

    [class*="sale_item"]{
        .valuesavewas{
            @include flip(pos, auto, -17px);
        }

        .value{
            @include flip(pos, auto, -17px);
        }

        .save{
            @include flip(pos, auto, 200px);
        }

        .saveText{
            @include flip(pos, auto, 214px);
        }

        .model{
            @include flip(padding, 1px, 0);
        }

        .exclusive{
            @include flip(padding, 1px, 0);
        }

        .col1,
        .col2,
        .col3{
            @extend %fr;
        }

        .col1{
            @include flip(margin, -12px, 0);

            .ttl{
                @include flip(padding, 15px, 0);
            }
        }

        .plus{
            @extend %fr;
        }

        .item3{
            @extend %fr;
        }

        .item_right{
            @extend %fl;
        }

        .hlight{
            display: block;
        }

        .feats{
            li{
                @extend %fr;
                @include flip(padding, 10px, 2px);
                background-position: right 6px;
            }
        }
    }

    .sale_item_main{
        @extend %fr;
    }

    .sale_item_even{
        float: left !important;
        @include flip(margin, 0, -2px);
    }

    .product-block{
        @include flip(margin, -3px, 0);
        @include flip(padding, 37px, 80px);
        .bnt-holder{
            @include flip(margin, 0, -57px);
        }
    }

    .products-box{
        @include flip(margin, -37px, -84px);

        .img-holder{
            @extend %fr;
            @include flip(margin, 0, 24px);
        }

        .box{
            border-right: 3px solid #f3f4f4;
            border-left: 0;
            @include flip(padding, 41px, 10px);
            &:first-child{
                border-right: 0;
            }
        }

        li{
            @include flip(padding, 8px, 0);
            background-position: right 7px;
        }

    }

    .item-support{

        @include flip(padding, 40px, 89px);

        .alignleft{
            @include flip(margin, 0, 56px);
        }

        .details-box{
            @include flip(margin, 0, 0);
            @include flip(padding, 16px, 4px);

            li{
                @include flip(margin, 0, 10px);
                @include flip(padding, 8px, 0);
                background-position: right 5px;
            }
        }

        .text{
            @include flip(padding, 0, 12px);
        }
    }

    .services-box{
        @include flip(padding, 350px, 10px);
        @include flip(margin, -3px, 0);
    }

    .accordion{
        @include flip(margin, -10px, 0);

        .active{
            .opener{
                background-image: url(../images/arrow-6.gif);
            }
        }

        .opener{
            background-image: url(../images/arrow-5-ar.gif);
            background-position: right 5px;
            @include flip(padding, 30px, 0);
        }

        li{
            background-position: right 6px;
            @include flip(padding, 8px, 0);
        }
    }


    .item-know{
        @include flip(padding, 0, 0);
    }

    .twocolumns{
        @include flip(padding, 14px, 13px);
        background-position: 745px 0;

        .content,
        .field-type-text-with-summary{
            @extend %fl;
            @include flip(padding, 2px, 4px);
        }

        .content{

            .popup-holder{
                @include flip(margin, 0, 24px);

                .open{
                    @include flip(padding, 27px, 0);
                    background-position: right 13px;
                    background-image: url(../images/arrow-9.gif);
                }
            }

            .active{
                .popup{
                    @include flip(padding, 27px, 10px);
                }

                &.popup-holder{
                    .open{
                        background-image: url(../images/arrow-10.gif);
                        background-position: 99% 13px;
                    }
                }
            }

            .border-box{
                @extend %tl;
                @include flip(margin, 5px, 23px);
            }
        }

        .sidebar{
            @extend %fr;

            .has-subs{
                background-image: url(../images/nav-arrow-ar.png);
                background-repeat: no-repeat;
                background-position: 10px center;
            }

            .open {
                > a{
                    background-image: url(../images/sidenav-sprite.png);
                    background-repeat: no-repeat;
                    background-position: 15px 15px;
                }
            }

            ul{
                ul{
                    @include flip(margin, 10px, 0);
                }

                li{
                    a{
                        &:hover{
                            @include flip(margin, 0, -11px);
                            background-position: 0 0;
                            background-image: url(../images/arrow-7-ar.gif);
                        }
                    }
                }

                .active{
                    a{
                        @include flip(margin, 0, -11px);
                        background-position: 0 0;
                        background-image: url(../images/arrow-7-ar.gif);
                    }
                }
            }
        }

        .box{
            img{
                @extend %fr;
                @include flip(margin, 0, 13px);
            }
        }

        .text-content{
            @include flip(margin, 0, -4px);
            @include flip(padding, 0, 4px);
        }

        .content-col{
            @extend %fr;
        }

        .content-madia{
            @include flip(padding, 0, 15px);
            @include flip(border, none, 1px solid #e3e3e3);
        }

        .aside-col{
            @extend %fl;
        }

        .aside-madia{
            @include flip(margin, 0, -4px);
        }

        .heading{
            @include flip(margin, 0, 22px);
            .link-back{
                @include flip(padding, 20px, 0);
                background-image: url(../images/arrow-3.gif);
                background-position: 95% 2px;
                @extend %fl;
            }
        }

        .link-more{
            @include flip(padding, 0, 14px);
            background-image: url(../images/arrow-9.gif);
            background-position: 0 4px;
        }
    } // Content

    .post{
        h4{
            @include flip(margin, 0, -11px);
        }
    }

    .article-4{
        @include flip(padding, 0, 57px);
    }

    .paging{
        ul{
            @extend %fl;
        }

        li{
            @extend %fr;
            @include flip(margin, 3px, 0);
        }
    }

    .contact-box{
        @include flip(padding, 16px, 0);
        @include flip(margin, -3px, 1px);

        .col{
            @extend %fr;

            dt{
                @extend %fr;
                @include flip(padding, 0, 5px);
            }

            .phone,
            .fax{
                @extend %dl;
                @extend %tr;
            }
        }
    }

    .location-form-2{
        .text{
            @extend %fr;
        }

        .btn-enter{
            background-image: url(../images/btn-send-ar.png) !important;
        }
    }

    .list-form{
        @include flip(margin, 2px, -9px);

        li{
            @extend %fr;
            @include flip(margin, 0, 17px);
        }
    }


    .feedback-form{
        @include flip(margin, 5px, 0);
        @include flip(padding, 4px, 0);

        .row{
            @include flip(margin, -4px, 0);
            @include flip(padding, 4px, 0);

            .text{
                @extend %fr;
                @include flip(margin, 0, 10px);
            }
        }

        .btn-submit,
        .cancel{
            @extend %fr;
        }

        .btn-submit{
            @include flip(margin, 0, 7px);
        }

        .cancel{
            @include flip(margin, 0, 13px);
        }
    }

    #contact-us-form #contactus-reach #contactus_feedback_email{ //OMG!!!!
        @include flip(margin,0 , 6px);
    }

    .receive-form{
        @include flip(margin, 5px, 0);
        @include flip(padding, 4px, 0);

        .row{
            @include flip(margin, -4px, 0);
            @include flip(padding, 4px, 0);

            .text{
                @extend %fr;
            }

            span{
                // @extend %fr;
                @extend %dl;
                @extend %tr;
            }
        }

        .box-holder{
            @include flip(padding, 4px, 0);
            @include flip(margin, -4px, 0);
            background-position: 315px 0;
        }

        .box-form{
            @extend %fr;
            @include flip(margin, 0, 22px);
        }

        .btn-submit,
        .cancel{
            @extend %fr;
        }

        .btn-submit{
            @include flip(margin, 0, 7px);
        }

        .cancel{
            @include flip(margin, 0, 13px);
        }
    }

    .partner-form{
        .row-1{
            @extend %fr;
            @include flip(margin, 0, 10px);
        }

        .row{
            .text{
                @extend %fr;
                @include flip(margin, -2px, 7px);
            }
        }

        .btn-submit,
        .cancel{
            @extend %fr;
        }

        .btn-submit{
            @include flip(margin, 0, 7px);
        }

        .cancel{
            @include flip(margin, 0, 13px);
        }
    }

    .media-form{
        @include flip(padding, 4px, 0);
        @include flip(margin, 4px, 0);

        .row{
            @include flip(margin, -4px, 0);
            @include flip(padding, 4px, 0);
            .text{
                @extend %fr;
                @include flip(margin, -1px, 0);
            }
        }

        .box-holder{
            @include flip(margin, -4px, 0);
            @include flip(padding, 4px, 0);
            background-position: 191px 0;
        }

        .box-form{
            @extend %fr;
            @include flip(margin, 0, 22px);
        }

        .btn-submit,
        .cancel{
            @extend %fr;
        }

        .btn-submit{
            @include flip(margin, 0, 7px);
        }

        .cancel{
            @include flip(margin, 0, 13px);
        }

        .media-block{
            @extend %fr;
        }
    }

    #reach_1_row #email_input1{
        @include flip(margin, 0, 6px);
    }

    #edit-request-for{
        @include flip(margin, 7px, 0);
        input{
            @extend %fr;
            @include flip(margin, 0, 7px);
        }
        label{
            @extend %fr;
        }
    }

    #otherdetails_input{
        @extend %fl;
        @include flip(margin, 0, 11px);
    }

    .item-locator{
        @include flip(margin, -3px, 0);
        @include flip(padding, 14px, 6px);

        .twocolumns{
            @include flip(padding, 1px, 0);

            > div[style]{
                margin-right: -10000px;
            }
        }

        .locate-box{
            @extend %fr;
            @include flip(padding, 16px, 15px);
        }

        .location-form-3{
            label{
                @extend %fr;
                @include flip(margin, 0, 9px);
            }

            .row{
                @extend %fr;
            }

            .text{
                @extend %fr;
            }

            .btn-search{
                background-image: url(../images/btn-send-ar.png);
                @extend %fl;
                @include flip(margin, 0, -7px);
            }
        }
    }

    .ac_results {
        ul{
            margin: 0;
            padding: 0;
            text-align: right;
        }
    }


    .results{
        @include flip(margin, -3px, 0);
        li{
            @include flip(padding, 8px, 0);
        }

        .number{
            @extend %fr;
            @include flip(margin, 0, 7px);
        }
    }

    .store-close-img{
        @include flip(pos, 345px !important, auto);
    }

    .map-holder {
        dt{
            @include flip(margin, 0, 5px);
            @extend %fr;
            clear: right;
        }

        [dir="ltr"]{
            @extend %tr;
        }

        .text{
            @extend %fr;
        }

        .btn-enter{
            @extend %fl;
            @include flip(margin, 0, -1px);
            background-image: url(../images/btn-send-ar.png);
        }
    }
}// RTL
