/* New sizing chart */
.sizing-chart-popup-table-new {
  padding: 10px 0 30px 0;
}

.sizing-chart-popup-table-new table {
  width: 100%;
}

.sizing-chart-popup-table-new table,
.sizing-chart-popup-table-new tr,
.sizing-chart-popup-table-new th,
.sizing-chart-popup-table-new td {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.sizing-chart-popup-table-new th,
.sizing-chart-popup-table-new td {
  width: auto;
}

.sizing-table-cell {
  text-align: center;
  margin: 0 3px 0 3px;
}

.sizing-chart-popup-table-new th .sizing-table-cell {
  color: #666;
  background-color: #ededed;
  padding: 15px 0 15px 0;
  text-transform: uppercase;
  font-size: 9px;
}

.sizing-chart-popup-table-new td .sizing-table-cell {
  color: #000;
  background-color: inherit;
  padding: 10px 0 10px 0;
}

.sizing-chart-popup-table-new th.has-border,
.sizing-chart-popup-table-new td.has-border {
  border-left: 1px solid #d3d3d3;
}

.column-7 td {
  width: 14%;
}

.column-7 th {
  font-size: 9px;
}

.column-5 td {
  width: 20%;
}

/* Filters Checkboxes */
.box-filters .filter-check {
  display: block;
  position: relative;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  color: #999;
  line-height: 15px;
  margin: 11px 0 0 0;
}

.box-filters .filter-check input {
  position: absolute;
  left: -999999px;
  top: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.box-filters .filter-check label {
  color: #999;
  font-weight: normal;
  overflow: auto;
  display: inline-block;
}

.box-filters .filter-check label strong {
  font-weight: normal;
  color: #666;
}

.box-filters .filter-check b {
  background: url("../images/checkbox.gif") no-repeat scroll -1px -1px transparent;
  float: left;
  height: 15px;
  margin: 0 12px 0 0;
  overflow: hidden;
  width: 15px !important;
}

.box-filters .filter-check:hover b {
  background-position: -1px -35px;
}

.box-filters .filter-check.checked b {
  background-position: -1px -18px;
}

/* Filter Sizes */
.box-filters .filter-size {
  display: inline-block;
  position: relative;
}

.ie7 .box-filters .filter-size {
  float: left;
  margin-left: 1px;
}

.ie7 .filter-size form {
  float: left;
}

.box-filters .filter-size input {
  position: absolute;
  top: 0;
  left: -999999px;
  height: 0;
  width: 0;
  overflow: hidden;
}

.box-filters .filter-size label {
  margin: 3px 0 0 0 !important;
}

.box-filters .filter-size.checked label {
  color: #fff;
  border-color: #000 !important;
  background: #000;
}

/* Filter Color */
.box-filters .filter-color {
  display: inline-block;
  position: relative;
  float: left;
}

.box-filters .filter-color input {
  position: absolute;
  top: 0;
  left: -999999px;
  height: 0;
  width: 0;
  overflow: hidden;
}

.box-filters .filter-color b {
  background: url("../images/radio.png") no-repeat -4443px -45px;
  width: 34px;
  height: 31px;
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 6px;
}

.box-filters .filter-color.checked b {
  background-position: -3px -45px;
}

/* Facebook like reposition */
.look-info .like-holder iframe {
  min-height: 40px !important;
}

.look-info .like-holder span {
  height: 28px !important;
}

/* Remove error counter in IE7 */
.ie7 .msg-box ol li:before, .msg-box ol li .list-item-before {
  display: none;
}

/* New CC radio label */
label.address {
  font-weight: normal !important;
  display: inline-block;
  width: 340px;
  float: left;
}

input.saved-address {
  float: left;
}

.popup .cancel {
  float: left;
  margin: 15px 0 0 10px;
  line-height: 21px !important;
}

/* Review edit */
.form-review-edit .form-box {
  margin: 0 !important;
  padding: 24px 115px 29px !important;
}

/* Facebook like reposition */
.look-info .like-holder iframe {
  min-height: 40px !important;
}

.look-info .like-holder span:first-child {
  height: 28px !important;
}

/* Remove error counter in IE7 */
.ie7 .msg-box ol li:before, .msg-box ol li .list-item-before {
  display: none;
}

/* New CC radio label */
label.address {
  font-weight: normal !important;
  display: inline-block;
  width: 340px;
  float: left;
}

input.saved-address {
  float: left;
}

.popup .cancel {
  float: left;
  margin: 15px 0 0 10px;
}

/* Product Sale WAS/Now Price */
.price-was {
  font-size: 11px;
  color: #999;
  text-decoration: line-through;
  font-weight: normal;
}

.price-now {
  font-size: 36px;
  color: #000;
}

.reg-price {
  color: #999;
  font-size: 11px;
  font-weight: normal;
}

input.submit-loading {
  background: url(../images/add-loader2.gif) 165px 20px no-repeat, -moz-linear-gradient(top, #00b6e3 0%, #0096d4 100%) !important;
  background: url(../images/add-loader2.gif) 165px 20px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b6e3), color-stop(100%, #0096d4)) !important;
  background: url(../images/add-loader2.gif) 165px 20px no-repeat, -webkit-linear-gradient(top, #00b6e3 0%, #0096d4 100%) !important;
  background: url(../images/add-loader2.gif) 165px 20px no-repeat, -o-linear-gradient(top, #00b6e3 0%, #0096d4 100%) !important;
  background: url(../images/add-loader2.gif) 165px 20px no-repeat, -ms-linear-gradient(top, #00b6e3 0%, #0096d4 100%) !important;
  background: url(../images/add-loader2.gif) 165px 20px no-repeat, linear-gradient(top, #00b6e3 0%, #0096d4 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b6e3', endColorstr='#0096d4',GradientType=0 );
}

/* Home Slider 02 */
.home-gallery .info-section {
  position: absolute;
  top: 31px;
  left: 625px;
}

.home-gallery {
  z-index: 2 !important;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1980px;
  margin: 0 0 0 -990px;
  text-align: center;
}

.home-gallery img {
  vertical-align: top;
}

.home-gallery .sliders-holder {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-gallery .sliders-holder li {
  position: absolute;
  top: 0;
  left: 0;
  width: 1980px;
  height: 660px;
}

.home-gallery .switcher-holder {
  position: absolute;
  top: 309px;
  left: 50%;
  width: 960px;
  margin-left: -482px;
}

.home-gallery .switcher-holder ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

* + html .home-gallery .switcher-holder ul {
  display: inline;
}

.home-gallery .switcher-holder li {
  float: left;
  padding: 0 0px 0 0px;
}

.home-gallery .prev, .home-gallery .next {
  top: 200px !important;
}

.home-gallery a.next {
  right: 480px !important;
  z-index: 4 !important;
  background-position: -81px -1129px !important;
}

.home-gallery a.prev {
  left: 480px !important;
  z-index: 4 !important;
  background-position: -1px -1129px !important;
}

.home-gallery .switcher-holder {
  display: none !important;
}

.home-gallery .sliders-holder li {
  width: 1980px !important;
}

.home-gallery .sliders-holder li:first-child {
  z-index: 3;
}

.home-gallery .slider-caption {
  position: absolute;
  background: #fff;
  z-index: 3;
  width: 1980px;
  height: 660px;
  display: block;
  text-indent: -99999px;
}

.home-gallery.playing .slider-caption {
  background: none;
  background: url(../images/transparent.gif);
}

/* Tour Page */
.tour-list {
  width: 100%;
  border-bottom: 48px solid #f7f7f7;
}

.tour-list .section {
  position: relative;
  padding: 0;
}

.tour-list .section .photo {
  float: right;
}

.tour-list .section:nth-child(even) .photo {
  float: left;
}

.tour-list .section:nth-child(even) .description {
  float: right;
  padding: 80px 40px 0 20px !important;
}

.tour-list .description {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  padding: 60px 20px 0 40px;
  text-align: center;
}

.tour-list .photo {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

* + html .tour-list .description {
  display: inline;
}

* + html .tour-list .photo {
  display: inline;
}

.tour-list .number {
  font-size: 90px;
  line-height: 100px;
  margin-bottom: 5px;
}

.tour-list h2 {
  color: #666;
  font: 24px/26px Arial, Helvetica, sans-serif;
  text-transform: none;
  letter-spacing: 0;
  margin: 15px 0 20px;
}

.tour-list h2 a {
  color: #666;
}

.tour-list .photo img {
  vertical-align: top;
}

/* Basket page */
.msg-box.inline {
  border-bottom: 1px solid #E2E2E2;
  margin-top: -20px;
}

/* Look gallery for less than 5 items */
.lessthanfive ul li {
  box-shadow: inset inset 0 0 1px 0 white;
}

.lessthanfive ul li.active {
  box-shadow: inset 0 0 1px 0 #d7d7d7;
}

/* My Account Reviews */
p.discontinued-product {
  display: inline-block;
  margin: 0 10px 0 0;
}

.btn-edit.disabled {
  background: -moz-linear-gradient(center top, #dddddd 0%, #cccccc 100%) repeat scroll 0 0 transparent;
  text-shadow: 1px 1px 1px #999999 !important;
}

.btn-edit:hover {
  background: -moz-linear-gradient(center top, #cccccc 0%, #cccccc 100%) repeat scroll 0 0 transparent;
}

.popup-buy-look .preloader {
  display: none;
  float: left;
  margin: 8px 0 0 5px;
  width: 20px;
  height: 20px;
  background: url(../images/add-loader2.gif) 0 0 no-repeat;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.display-inline-block {
  display: inline-block !important;
}

/* For product details page technical specifications popup table | Remove this after content team will add whitespaces into the specs tabels */
.compare-table td {
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  white-space: normal;
  max-width: 400px;
}

/* Breadcrumbs */
.breadcrumbs {
  text-align: left;
  height: 35px;
}

.breadcrumbs div, .breadcrumbs div a, .breadcrumbs div a span {
  float: left;
  display: inline-block;
  font-size: 11px;
}

.breadcrumbs div a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs div span.arrow {
  margin: 4px 8px 0 8px;
  text-indent: -99999px;
  background: url("../images/sprite.png") no-repeat -30px -51px;
  width: 4px;
  height: 6px;
  float: left;
}

.product-details .breadcrumbs {
  margin: -3px 0 0 20px;
}

.ie7 .product-details .breadcrumbs {
  margin: -4px 0 11px 20px;
}

.product-details .breadcrumbs div.parent-page span.arrow {
  display: none;
}

.product-details .breadcrumbs div.current-page {
  color: #fff;
}

.subcategory .breadcrumbs {
  margin: -42px 0 12px 0;
}

.subcategory .breadcrumbs div.current-page {
  color: #000;
}
