.holder {
    border: 1px dashed #888;
    width:929px;
}
.holder img{
    
}
.trash{
    border: 1px dashed #D86347;
    float: right;
    height: 471px;
    width: 243px;
    /*overflow: auto;*/            
}
.drag {
    position:absolute;
    border: 1px solid #89B;
    background: #BCE;
    height: 150px;
    width: 150px;
    cursor: move; 
    z-index:999;               
}
.close{
    background: url("../images/close.png") no-repeat scroll 0 0 transparent;
    display:none;
    float: right;
    height: 12px;
    width: 12px;
    cursor:pointer;
}
.odd{
    
}
.even{
    
}