/*this is for latest from on homepage*/
.home .grid-half .item{
	width:45.94%\9;
}
/*for tags*/
.tag a{
	float:left;
	margin-left:1px;
}
/*search*/
.search input[name="search_block_form"] {
padding: 3px 5px 3px 30px;
padding: 0.3rem 0.5rem 0.3rem 3rem;
background: #fff url(../img/style/search-icon.png) no-repeat 10px center;
border-radius: 20px;
border-radius: 2rem;
min-width: 185px;
min-width: 18.5rem;
border: 1px solid #fff;
margin-left: 10px;
margin-left: 1rem;
}
.search input[name="search_block_form"]:focus {
	border-color: #888;
	outline: none;
}
.search_button_hidden{display:none;}
.page-search .filters label{
	display: inline;
	font-weight: normal;
	margin-right: 10px;
}
.page-search .search-form{display:none;}
/*Locate a Store*/
.ac_results {  border: 1px solid;  overflow: hidden;  position: absolute;  z-index: 100;  min-width:166px; font-family: arial, sans-serif; font-size:11px;}
.ac_results ul {  list-style: none;  list-style-image: none;  margin: 0;  padding: 0;}
#navigation.closed {    border-bottom: 1px solid #CCCCCC;    margin-bottom: 20px;}
.ac_results li {  background: #fff;  color: #333;  cursor: default;  white-space: pre;  padding: 1px 5px;  background:#f7f7f7;}
li.ac_over {    background-color: rgb(132, 134, 138);    color: white;}

/* Store Locator Page */
.content .locate-box {
	float: left;
	width: 226px;
	padding: 21px 15px 0 16px;
	height: 500px;
	background-color: #E4E4E4;
    margin-top: -3px;
}
.content .locate-box h3 {
	margin: 0 0 13px;
	font-size: 12px;
	line-height: 16px;
	color: #666;
	font-weight: bold;
}
.content .location-form-3 {
	overflow: hidden;
	margin: 0 0 9px -3px;
}
.content .location-form-3 label {
	float: left;
	background: url(../images/img76.gif) no-repeat;
	height: 24px;
	width: 14px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 9px 0 0;
}
.content .location-form-3 .row {
	float: left;
	width: 166px;
}
.location-form-3 .text {
	float: left;
	font-size: 12px;
	width: 149px;
}
#locate_input {
    line-height: 10px;
    line-height: 22px \9;
    *line-height: 22px;
}
.location-form-3 .btn-search {
	float: right;
	margin: -25px 0 0 0;
	border: none;
	cursor: pointer;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	height: 26px;
	width: 27px;
	background: url(../images/icon-go.png) no-repeat;
}
.results {
	margin: 0 0 0 -3px;
	padding: 1px 0 8px;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
}
.content .map-holder {
	float: left;
	width: 683px;
	position: relative;
    margin-top: -3px;
}
.map-holder #mapview {
    height: 500px;
	width: 732px;
}
.results .active .number {
background: url(../images/bg-number-active.gif) no-repeat;
}

.results li {
	border-bottom: 1px solid #BFBFBF;
	margin: 0 0 4px;
	overflow: hidden;
	padding: 0 0 8px 8px;
	cursor: pointer;
}
.results .number {
	float: left;
	margin: 0 7px 0 0;
	background: url(../images/bg-number.gif) no-repeat;
	font-size: 15px;
	line-height: 17px;
	color: white;
	width: 37px;
	height: 35px;
	padding: 10px 0 0;
	text-align: center;
	font-weight: bold;
}
.results .details {
	overflow: hidden;
	padding: 2px 0 0;
}
.results .title {
	display: block;
	margin: 0 0 1px;
	font-weight: bold;
}
.results address {
	padding: 0;
	font-style: normal;
	font-size: 11px;
}
.map-holder .popup-holder .popup {
	position: absolute;
	/*top: 67px;
	left: 125px;*/
	top: 41px;
	left: 128px;
	width: 292px;
	background: url(../images/popup-t.png) no-repeat;
	padding: 7px 0 0;
	z-index: 15;
}
.map-holder .popup .holder {
	background: url(../images/popup-b.png) no-repeat 0 100%;
	padding: 0 0 58px;
}
.map-holder .popup .frame {
	background: url(../images/popup-c.png) repeat-y;
	padding: 4px 18px 8px 14px;
	position: relative;
	font-size: 12px;
	line-height: 15px;
	width: 286px;
	min-height: 140px;
}
.map-holder h4 {
	margin: 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #F1F1F1;
	font-size: 16px;
	line-height: 18px;
	color: #333;
	font-weight: bold;
}
.map-holder address span {
	display: block;
}
.map-holder address {
	font-style: normal;
}
.map-holder dl {
	font-size: 11px;
    margin: 0;
}
.map-holder dl dt {
	float: left;
	clear: left;
	margin: 0 5px 13px 0;
	font-weight: bold;
	width: 47px;
    text-transform: capitalize;
}
.map-holder dl dd {
	margin: 0 0 13px;
}
.map-holder .link-more {
	color: #D90406;
	padding: .5em 0;
	background: url(../images/arrow-12.gif) no-repeat 100% 4px;
	font-size: 11px;
    display: block;
}

#mapview .map-get-directions{
    width: 100%;
    margin: 0 0 5px;
}

.map-holder .search-popup,
.map-holder .search-popup fieldset {
    margin: 0;
}

.map-holder .search-popup .text {
	font-size: 12px;
	color: #636363;
    border: 1px solid #C7C7C7;
}
.map-holder .search-popup .btn {
    border: 1px solid #444;
    margin-left: -1px;
}
.store-custom-labels {
	color: white;
	font-family: "Lucida Grande","Arial",sans-serif;
	font-size: 24px;
	height: 30px;
	padding-left: 15px;
	padding-top: 0px;
	text-align: center;
	white-space: nowrap;
}
.map-holder img{
	max-width:none;
}
.map-holder .popup-holder {
	position: absolute;
}
.map-holder address {
padding: .2em 0 0.6em;
font-style: normal;
border-bottom: 1px solid #F1F1F1;
margin: 7px 0;
display: block;
}
#close-beacon {
	background: url("../images/close.gif") no-repeat scroll 0px 0 transparent;
	cursor: pointer;
	display: block;
	height: 16px;
	position: absolute;
	left: 390px;
	text-indent: -9999px;
	/*top: 89px;*/
	top: 66px;
	width: 16px;
}
.paging { overflow:hidden;}
.paging ul {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	font-size:11px;
	line-height:15px;
	font-weight:bold;
	color:#636363;
}
.paging ul li {
	float:left;
	margin:0 0 0 3px;
}
.paging ul li a {
	color:#fff;
	background:#d90406;
	float:left;
	width:16px;
	text-align:center;
}
.paging ul li a:hover {
	text-decoration:none;
	background:none;
	color:#636363;
}
.paging ul li span {
	float:left;
	width:16px;
	text-align:center;
}

/* Offer */
#current-offers-days {
top: 22px;
left: -6px;
}
.offers-days-left {
background-color: #EEE;
position: absolute;
font-size: 10px;
color: #666;
padding: 1px 3px 2px;
border: 1px solid #CCC;
z-index: 500;
}
#content_inner .offers-content h2 {
font-family: MuseoSans-300,Arial,Helvetica,sans-serif;
font-size: 22px;
color: #4B3900;
}
#content_inner .offers-content h3 {
font-family: MuseoSans-300,Arial,Helvetica,sans-serif;
font-size: 20px;
color: #767676;
margin-top: 5px;
margin-bottom: -5px;
}
.offers-content h2,
.offers-content h3{
    margin-bottom: 0;
}
.offers-content ul {
border-bottom: 1px solid #EEE;
padding: 5px 0;
list-style: none;
margin: 0;
}
.offers-content ul:first-child{
    border-top: 1px solid #EEE;
}
.offers-content li {
display: inline;
margin-right: 4px;
border-left: 1px solid #666;
padding-left: 4px;
}
.offers-content li:first-child {
margin-left: 3px;
border-left: none;
}

.offer-expire-date{
    margin: 10px 0 0;
}
a.crouching-popup {
cursor: default;
border-bottom: 0px;
color: #666;
}
.offer-date {
margin-left: 11px;
font-family: arial;
font-weight: bold;
color: #4B3900;
display: inline;
}
#sms-me-offer {
display: block;
margin-top: 10px;
width: 394px;
float: left;
}
#offers-yes-like {
float: left;
margin-right: 20px;
}
#missed-offers-container {
margin-bottom: 30px;
}
.offers-heading {
font-size: 38px;
margin-bottom: 6px;
}
.missed {
color: #DADADA;
}
.missed img {
opacity: 0.4;
}
#missed-offers-days {
top: 22px;
left: -6px;
}
.missed li {
border-color: #DADADA;
}
 .missed h1, .missed h2, .missed h3, .missed ul, .missed li a, .missed p, .missed span {
color: #C4C4C4;
}
#no-offers-content {
    opacity: 0.6;
}
#no-offers-heading {
font-family: MuseoSans-300,Arial,Helvetica,sans-serif;
font-size: 14px;
color: #666;
margin-bottom: 10px;
}
#no-offers-description {
font-family: MuseoSans-300,Arial,Helvetica,sans-serif;
font-size: 12px;
color: #666;
display: inline;
}
#no-offers-form {
    border: medium none;
    color: #4B3A06;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin: 0;
}

#no-offers-form .btn{
    padding: 6px 13px;
    margin-left: -4px;
}

#no-offers-form .email-field{
    vertical-align: top;
    font-size: 12px;
    border: 1px solid #c9c9c9;
}


#no-offers-content  #no-offers-form  #tell-email {
border: 0 none;
color: #4B3A06;
font-family: Arial,Helvetica,sans-serif;
font-size: 11px;
padding: 6px 0 6px 8px;
position: relative;
}
.no-offer-form{
	position: absolute;
    top: 30px;
    right: 80px;
}
.no-offer-text{
	width: 450px;
	margin-top: 8px;
}
#current-offers #offers-content-no {
    overflow: hidden;
    padding: 20px;
    background-color: #f5f5f5;
}
/*for offers*/
#offer-location-popup .offers-valid-note {
	*font-size: 9px;
	*width: 185px;
}
#offer-location-popup {
	width: 180px;
	padding: 10px;
	padding-bottom: 4px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #CCCCCC;
	color: #787474;
	background-color: #EBEDEF;
	-moz-box-shadow: 1px 3px 4px #444444;
	display: none;
	z-index: 999;
}
#offer-location-popup li {
	background: url("../images/shoemart-mark.png") 0 8px no-repeat;
	padding: 5px 0 5px 20px;
	border-bottom: 1px dotted #CCCCCC;
	font-size: 11px;
}
#offer-location-popup li:last-child {
	border-bottom:none;
	padding-bottom: 0;
}
#offer-location-popup div.inner-reference {
	position: relative;
	margin-top: -18px;
	background: url("../images/offer-location-popup-pointer.png") top left no-repeat;
	padding-top: 20px;
}
#close-offer-location-popup {
	width: 14px;
	height: 17px;
	text-indent: -9999px;
	background: url("../images/close_button_sprite.png") 0px 0px no-repeat;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 11px;
	right: -5px;
	padding-bottom: 2px;
}
#close-offer-location-popup:hover{
	width: 14px;
	height: 17px;
	text-indent: -9999px;
	background: url("../images/close_button_sprite.png") -16px 0px no-repeat;
	display: block;
	cursor: pointer;
	position: absolute;
	top: 11px;
	right: -5px;
}
#offer-location-popup ul {
    list-style-type: none;
    margin-left:  -11px;
}
#bag {
    border: medium none;
    float: left;
    margin: 0 20px 0 0;
    padding: 29px 0 0 27px;
}
#no-offers-content #no-offers-form #tell-email {
    border: 0 none;
    color: #4B3A06;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-left: 20px;
    padding: 12px 0 12px 8px;
    position: relative;
    width: 164px;
}
#tell-email {
    border: 1px solid #D6D7CF;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #999393;
    font-size: 11px;
    height: 24px;
    line-height: 22px;
    padding: 0 5px;
    width: 137px;
}
.go {
    background: url("../images/icon-go.png") no-repeat scroll right center transparent;
    border: medium none;
    cursor: pointer;
    display: inline;
    height: 26px;
    margin-left: -7px;
    vertical-align: top;
    width: 28px;
}
.offerspopup-heading {
	font-weight: bold;
	padding-top: 6px;
}
.offers-valid-note {
    display: block;
    font-family: arial;
    font-size: 8.6px;
    margin-top: 12px;
}
.container-c p.offerspopup-title {
	margin: 0;
	padding-bottom: 4px;
	font-size: 11px;
	color: #787474;
}
a.crouching-popup {
	cursor: pointer;
	border-bottom: 1px dashed #666666;
	color: #666666;
}
a:hover.crouching-popup, a.crouching-popup.active {
	color: #990000;
	border-bottom-color: transparent;
	text-decoration: none;
}
/*end for offers*/

/** FAQ Page  */
.page-faq .content  h2 {
	overflow: hidden;
	padding: 0 0 6px 0;
	color: #656565;
	font: 30px/1.1 'Din', Arial, Verdana, Helvetica, sans-serif;
	margin: -2px 0 0 0;
}

#faqnav {
	padding: 10px 0 20px 0;
}
#faqnav a {
	color: #21679A;
	text-decoration: none;
	margin: 0 5px 0 5px;
}


.faq {
	border-bottom: 1px solid #CCC;
	padding-bottom: 12px;
	margin-bottom: 5px;
}

.faq a{
	color:#333;
	text-decoration:underline;
}

.faq dt {
	background: url("../img/style/faq-arrow-closed.png") 5px 9px no-repeat transparent;
	line-height: 1.8;
	padding: 3px 0 0 25px;
}
.faq dt a, .faq dt a:hover, .faq dt a:visited {
	color: #21679A;
	cursor: pointer;
	text-decoration: none;
}

.faq dd {
	padding: 0 20px 10px 25px;
	background: #F2F6F7;
    margin-left: 0;
}

.faq .current {
	background: url("../img/style/faq-arrow-open.png") 5px 9px no-repeat #F2F6F7;
}

.faq .current + dd{
    overflow: visible !important;
}
.category-footer {
	text-align: right;
	margin: 0 0 5px 0;
}
.category-footer a {
	background: url("../images/back-to-top-arrow.gif") right 6px no-repeat;
	color: #999;
	padding: 5px 7px 5px 5px;
	font-size: 10px;
	line-height: 1;
	text-decoration: none;
}

.faq p {
    margin-bottom: .5em;
}

.faq p:last-of-type {
	margin: 0;
}
/* FAQ END*/

/*for contact us page*/
.mainbodyinner label {
	display: block;
	font-weight: bold;
}
.mainbodyinner .contactus-checkbox label {
	display: inline !important;
	font-weight: normal;
}
.mainheading {
    color: #656565;
    font: 30px/1.1 'Din',Arial,Verdana,Helvetica,sans-serif;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 0 0 6px;
}
#contactus_top {
    min-height: 74px;
}
#contactus_top {
    background-color: #F9F9F9;
    border-bottom: 1px dotted #393939;
    border-top: 1px dotted #393939;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    margin: 0 0 15px;
    padding: 18px 15px 26px;
}
.page-contact-us .mainbody {
    padding-bottom: 10px;
}
div.contactus_toptext {
    float: left;
    font-family: Helvetica;
    margin-right: 15px;
    width: 200px;
}

p.contactus_top_heading, label.contactus_top_heading {
    color: #666666;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
    padding: 0;
}
form.form_contactus_toptext {
    float: left;
    font-family: Helvetica;
    padding-left: 15px;
    width: 200px;
}

.form-item-request-for > legend{
    font-weight: bold;
}

.mainbody {

}

.mainbodyinner {

}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
}
#contactus_tabs_heading {
    width: 100%;
}
#contactus_tabs_heading {
    border-bottom: 1px solid #E3E3E3;
    /*margin: 0 10px;*/
    padding: 0;
}
#contactus_tabs_heading ul {
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#contactus_tabs_heading ul li.current-tab {
    border-bottom: 1px solid #000;
    color: #8F8F8F;
}
#contactus_tabs_heading ul li {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 13px;
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0 5px 0 0;
}
#contactus_tabs_heading li {
    font-family: Arial;
}
#contactus_tabs_heading ul li a {
    color: #7698E7;
    text-decoration: none;
}
#contactus_tab_content h3 {
    margin-top: 1em;
}
#contact-us-form .form-item-onmind {
    margin-bottom: 1px;
    margin-top: 0;
}
label.contactus_feedback_heading {
    color: #656565;
    display: block;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
select.contactus-select {
    border: 1px solid #D6D7CF;
    color: #999999;
    height: 22px;
    line-height: 20px;
    /*margin: 0 0 10px;*/
    padding: 2px 2px 2px 4px;
}
.inputwide {
    width: 480px;
}
/*
input, textarea, select {
    vertical-align: middle;
}
*/
.contactus-input option {
    padding: 3px;
}
textarea.contactus-textarea {
    background: url("../images/inputbox_gradient.png") repeat-x scroll left top transparent;
    border: 1px solid #D6D7CF;
    color: #999999;
    height: 126px;
    margin: 0 0 10px;
    padding: 4px;
}
label.contactus_feedback_heading, p.contactus_feedback_heading {
    clear: both;
    padding: 0;
}

p.contactus_feedback_heading {
    margin-bottom: 0;
}
.form-item-reach-1 {
    margin-top: 1px;
}
#contactus_feedback_email {
    margin-bottom: 10px;
}
input.contactus-input {
    border: 1px solid #D6D7CF;
    color: #999999;
}


#otherdetails_input{
    left: 23px;
    margin-bottom: -10px;
    position: relative;
    top: -33px;
    *top: -37px;
}

#request-for{
    margin-bottom: 0;
}

#edit-request-for > p{
    margin-bottom: .8em;
}

.inputshort {
    width: 185px;
}
.contactus_reach_or {
    font-weight: bold;
    margin: 0 10px;
    position: relative;
}
.form-item-company-name {
    margin-bottom: 0;
    margin-top: 1px;
}
.submit-fieldset {
    display: block;
    margin: 10px 0;
    width: 100%;
    border: 0 none;
}

.contactus_submit {
    background-color: #444;
    padding: .7em 1.2em;
    line-height: normal;
    border:none;
    color: #fff;
}
#contactus_cancel {
    color: #7698E7;
    font-size: 12px;
    line-height: 1;
    position: relative;
    text-decoration: underline;
    margin-left: 8px;
}
#status_msg {
    float: left;
    margin-left: 15px;
    margin-top: -10px;
    position: relative;
}
#contactus_feedback_messageReceived {
    color: #4B3905;
    float: right;
    font-size: 11px;
    line-height: 1;
    margin: 3px 0 0;
    padding: 5px 0 5px 30px;
    width: 315px;
   /* background: url("../images/cross.png") no-repeat scroll 5px 2px #FEFBCE;*/
}
.inputnormal {
    width: 335px;
}
#wizard-form-wrapper-receives-updates {
    border-right: 1px solid #F2F2F2;
    margin: 0;
    padding: 0 20px 0 0;
}
#contactus_left {
    border-right: 1px solid #FBFBFB;
    float: left;
    margin: 0 0 30px;
    padding: 0;
    width: 350px;
}
#receives-updates-form .form-item-inbox {
    margin-top: 0;
}
#contactus_cityname{
	width: 156px;
	border: 1px solid #D6D7CF;
    font-size:12px;
}

#contactus_cityname + .btn{
    margin-left: -4px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
	padding-top: 2px;
padding-bottom: 9px;
}
.page-receive-updates #column_right{
	float: right;
}
/*Contact ud ended */

/**Lookbook **/
/* .section-lookbook [role="main"] {
width: 66.5rem;
float: left;
} */

/*for media pages*/
.playlist{
	background: none;
	box-shadow: none;
	border: none;
}
#column_left.medium {
    width: 434px;
}
#column_left {
    border-right: 1px solid #FBFBFB;
    float: left;
    margin: 0 0 30px;
    padding: 0;
}

#column_left_inner {
    border-right: 1px solid #F2F2F2;
    margin: 0;
    padding: 0 20px 0 0;
}
.post {
    margin: 5px 0 20px;
    padding: 0;
}
.post h4 {
    color: #49B4D8;
    font-size: 13px;
    line-height: 1.3;
    margin: 0 0 5px;
    padding: 0;
	font-weight: inherit;
}
.post h4 a {
    color: #49B4D8;
}
#content_inner .post .date {
    color: #AAAAAA;
    font-size: 11px;
    margin: 0 0 3px;
    padding: 0;
}
.post .newsdescription {
    margin: 0 0 0 126px;
    padding: 0;
    text-align: justify;
}
#column_left h3.mediaheading {
    color: #666666;
    font-size: 24px;
    line-height: 1.3;
	font-weight: inherit;
}
#content_inner p {
  /*  margin: 0 0 2em; */
}
#news-pagination {
    border-top: 1px dotted #999999;
    margin: 0;
    padding: 17px 0 0;
    text-align: right;
}
#column_right.medium {
    width: 227px;
}
#column_right {
    float: left;
    padding: 0;
}
#column_right_inner {
    margin: 0;
    padding: 0 0 0 20px;
}
h3.mediasubheading {
    border-top: 1px dotted #999999;
    color: #666666;
    padding: 10px 0 0;
}
#content_inner p.newscontact {
    margin: 0;
    padding: 0;
}
#content_inner h3, .subheading {
	font: 16px/1.1 'Din',Arial,Verdana,Helvetica,sans-serif;
    margin: 0 0 7px;
}

#content_inner p.newscontactlink {
    margin: 0;
    padding: 0 0 20px;
}
#content_inner p.newscontactlink a {
    color: #49B4D8;
    text-decoration: none;
}
#firstvideo {
    padding: 5px 0 25px;
}
#column_left #column_left_inner ul li {
    background: url("../images/chevron.gif") no-repeat scroll 0 0.4em transparent;
    list-style-type: none;
    margin: 0;
    padding: 0 0 2px 16px;
}

#news-pagination a {
    margin-right: 2px;
}
#news-pagination a {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 1.3;
    padding: 1px 4px;
    text-decoration: none;
}

#news-pagination {
    border-top: 1px dotted #999999;
    margin: 0;
    padding: 17px 0 0;
    text-align: right;
}

#news-pagination a:hover, #news-pagination a.prev:hover, #news-pagination a.next:hover, #news-pagination .active_page {
    background: none repeat scroll 0 0 #D8B734;
}
#playlist {
    height: 211px;
}
#playlist {
    list-style-type: none;
}
#column_right ul {
    margin: 0;
    padding: 0;
}
#playlist li.col1 {
    width: 103px;
}
#playlist li {
    background: none repeat scroll 0 0 transparent;
    float: left;
    list-style-type: none;
    margin: 0 0 18px;
    padding: 0;
    display: list-item;
}
#playlist li.current a, #playlist li.current a:hover {
    border-bottom: 3px solid #0099CC;
}
#playlist li.current {
    margin-bottom: 15px;
}
#playlist li a {
    color: #666666;
    display: block;
    font-size: 11px;
    line-height: 1.2;
    margin: 0;
    padding: 0 0 5px;
    text-decoration: none;
    width: 95px;
}
#playlist li img {
    border: 0 none;
    display: block;
    margin: 0 0 3px;
    padding: 0;
}
#playlist li.odd {
    float: left;
}

h3.pressrelease_heading2 {
    float: left;
    margin-top: 10px;
    color: #333333;
    font-weight: inherit;
}
a.pressrelease_link {
    color: #49B4D8;
    float: right;
    font-size: 11px;
    margin-top: 10px;
    padding: 0 4px 4px 0;
    text-decoration: none;
}
#pressrelease {
    border-bottom: medium none;
    border-top: medium none;
    padding: 3px 16px;

}
#pressrelease {
    border-bottom: medium none;
    border-top: medium none;
    padding: 3px 16px;
}
#pressrelease .newsdate {
    color: #AAAAAA;
    font-size: 11px;
    margin: 0 0 10px;
    padding: 0;
}

/* For Site Map Page */

.sitemap {
	float: left;
	width: 230px;
}
.content-box-3 {
	width: 228px;
	float: right;
	margin: -139px 0px 0 0;
}

.content-box-3 .store-locator, .content-box-3 .offers-box {
	background: #E4E4E4;
	padding: 15px 0 15px 15px;
	margin-right: 10px;
	margin-bottom: 15px;
}

#content_inner .content-box-3 .store-locator h3, #content_inner .content-box-3 .offers-box h3 {
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 16px;
	color: #666;
	font-weight: bold;
}
#content_inner .content-box-3 .store-locator h4, #content_inner .content-box-3 .offers-box h4 {
	font-size: 12px;
	line-height: 14px;
	color: #999393;
	margin: 0 0 5px 0;
	font-weight: normal;
	padding-right: 20px;
	padding-bottom: 8px;
}
#content_outer .store-locator .location-form-3 {
	overflow: hidden;
	border:none;
	margin: 0;
	padding: 0;
}
.content-box-3 .store-locator .location-form-3 label {
	float: left;
	background: url(../images/img76.gif) no-repeat;
	height: 24px;
	width: 14px;
	overflow: hidden;
	text-indent: -9999px;
	margin: 0 9px 0 0;
}

#content_outer .content-box-3 .store-locator .location-form-3 .row {
	float: left;
	width: 120px;
	background: url(../images/location-form-3.gif) no-repeat;
	padding: 1px 0 2px;
}

.content-box-3 .store-locator .location-form-3 .text {
	float: left;
	border: none;
	background: none;
	line-height: 10px;
    line-height: 24px \9;
    *line-height: 24px;
	height: 24px;
	color: #636363;
	font-size: 11px;
	width: 73px;
	padding: 0 10px;
	border-image: initial;
}
.content-box-3 .location-form-3 .btn-search {
	float: right;
	margin: -1px 0 0 0;
	border: none;
	cursor: pointer;
	padding: 0;
	overflow: hidden;
	text-indent: -9999px;
	font-size: 0;
	line-height: 0;
	height: 26px;
	width: 27px;
	background: url(../images/icon-go.png) no-repeat;
	border-image: initial;
}
.content-box-3 .store-locator, .content-box-3 .offers-box {
	background: #E4E4E4;
	padding: 15px 0 15px 15px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.content-box-3 .offers-box a {
	padding: 6px 15px;
	font-size: 13px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #D90406;
	color: white;
	text-decoration: none;
	display: block;
	margin-right: 15px;
}

.site-article .sitemap a:hover {
	text-decoration: underline;
}

.store-locator .location-form-3  fieldset{
	border:none;
	margin: 0;
	padding: 0;
}
.site-article{
	margin: 0 0 0 30px;

}
.site-article .sitemap a {
	color: #666;
}
#content_inner .site-article h3 {
	margin: 0 0 22px;
	font-size: 16px;
	line-height: 19px;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}

/*custom facebook button with sharethis*/
.st_facebook_custom{
	background:  url("../img/style/share-icon.png")	 no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
	cursor:pointer;
}

/* arrows - :before and :after
.lookbook-popup:before {
  position: absolute;
  display: inline-block;
  border-top: 7px solid transparent;
  border-right: 7px solid #eee;
  border-bottom: 7px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.2);
  left: -14px;
  top: 20px;
  content: '';
}

.lookbook-popup:after {
  position: absolute;
  display: inline-block;
  border-top: 6px solid transparent;
  border-right: 6px solid #eee;
  border-bottom: 6px solid transparent;
  left: -12px;
  top: 21px;
  content: '';
}
*/

.section-stores .content{
    padding: 0;
}

#store-locator-search .btn.btn-secondary.form-submit{
    margin-left: -9px;
}

.map-holder .holder:after{
    content: normal;
}

.page-site-map .content-box-3 .store-locator{
    padding: 15px;
}

.sitemap-storelocator > input[type="text"]{
    width:142px;
    font-size: 12px;
}

.sitemap-storelocator .btn{
    margin-left: -4px;
}
.page-search .grid-half h2, ul{
letter-spacing: 0px;
}
