//==============================
// $FORMS
//===============================
form,
fieldset {
	margin-bottom: $verticalspace;
}

legend { //http://www.456bereastreet.com/archive/201210/how_to_line_wrap_text_in_legend_elements_even_in_ie/
    display:table; // Enable line-wrapping in IE8+
    white-space:normal; // Enable line-wrapping in old versions of some other browsers
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	font-family: $sans-serif;
	line-height: normal;
	vertical-align: baseline;
}

label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button {
	cursor: pointer;
}

input[type=search] {
	-webkit-appearance : textfield;
}

input[type="search"]::-webkit-search-decoration {
	display : none;
}

input[type="search"]::-webkit-search-cancel-button {
	cursor: pointer;
}

::-webkit-input-placeholder {
}

input:-moz-placeholder {
}

.placeholder{
    color:#a9a9a9;
}

::-webkit-validation-bubble-message {
}

textarea {
	@include resizable(vertical);
}

input,
textarea {
	@include box-sizing;
}

input[type="checkbox"],
input[type="radio"]{
	margin-right:5px;
}

input[type="color"]{

}

input[type="range"]{

}

input[type="image"]{

}


input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
    border:none;
    background-color:#fff;
    padding:em(6,13) 1em;
    @include fontSize(13);

	&:hover{

	}

	&:focus{
        outline:none;
	}
}

.btn {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    @include fontSize(12);
    font-family: $sans-serif-light;
    margin:auto;
    line-height: 1;

    // &:after,
    // &:before{
    //     position: absolute;
    // }

    // &:before{
    //     content:"";
    //     @include rem('width',1px);
    //     @include rem('top',7px);
    //     @include rem('bottom',7px);
    //     @include rem('right',20px);
    //     background-color:#fff;
    //     display: block;
    // }

    // &:after{
    //     content:url(../img/style/promo-btn-arrow.png);
    //     @include rem('width',6px);
    //     @include rem('height',11px);
    //     @include rem('top',7px);
    //     @include rem('right',7px);
    // }

	&:hover{

	}

	&:focus{

	}
}

.btn-primary{
    background-color: #fff;
    background-color: rgba(white,.5);
    font-weight: bold;
    color: #222;
    text-align: center;
    width:100%;
    -webkit-box-shadow: 0 0 8px rgba(black, .2);
    -moz-box-shadow: 0 0 8px rgba(black, .2);
    box-shadow: 0 0 8px rgba(black, .2);
    padding: .8em 1em;
}

.btn-secondary{
    background:#444 url(../img/style/submit-btn-arrow.png) no-repeat 50% 50%;
    @include rem('padding',4px 13px 6px);
    line-height: normal;
    border:none;
    text-indent: -9999px;
    color: #fff;
}

input[type="reset"]{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	&:hover{

	}

	&:focus{

	}
}

// select {
//     display: none
// }

// .no-js select {
//     display: block
// }

// .sb-custom {
//     cursor: pointer;
//     display: inline;
//     position: relative;
//     width: 100%
// }

// .sb-select:focus {
//     box-shadow: 0 0 4px 2px rgba(#444, .2);
// }

// .sb-select {
//     display: inline !important;
//     background-color: #fff !important;
//     color: #999999;
//     left: 0;
//     position: relative;
//     text-decoration: none;
//     top: 0;
//     width: auto !important;
//     @include rem('max-width',70px);
//     z-index: 1;
//     cursor: pointer;
//     margin: 0 !important
// }

// .sb-custom .sb-select,
// [data-value] a{
//     @include rem('padding', 5px 5px 5px 30px);
//     background-position: .6rem center;
//     background-position: 6px center;
//     background-repeat: no-repeat;
// }

// [data-value$="AE"] a{
//     background-image: url(../img/style/ae.png);
// }

// [data-value$="BH"] a{
//     background-image: url(../img/style/bh.png);
// }

// [data-value$="SA"] a{
//     background-image: url(../img/style/sa.png);
// }

// .sb-dropdown {
//     background-color: white;
//     box-shadow: 0 0 4px rgba(0,0,0,0.2),inset 0px 6px 8px -8px rgba(0,0,0,0.5);
//     display: none;
//     right: 0;
//     list-style: none;
//     margin: 0;
//     @include rem('padding',5px);
//     position: absolute;
//     top: 100%;
//     width: auto !important;
//     z-index: 10
// }

// .sb-dropdown a {
//     color: #444;
//     display: block;
//     text-decoration: none
// }

// .sb-dropdown a:hover,.sb-dropdown .selected a {
//     background-color: grey;
//     color: #fff
// }