/* ==========================================================================
    `grids
   ========================================================================== */

/* primary grid - % based
------------------------------------------------------*/
$grid_width: 960px;
$grid_pc_col: 60px; // 60px
$grid_pc_gutter: 20px; // 20px

// Row for clearfixing & controlling vertical spacing
%row{
    margin-bottom:$verticalspace/2;
    @extend %clearfix;
    width: 100%;
}

// 12 column grid
%grid {
    float: left;
    @include rem('margin-right', $grid_pc_gutter);
    &:last-child { margin-right: 0; }
}


@mixin gridCalc($colNumber, $totalColumns) {
    width: percentage(($colNumber / $totalColumns));
}
// generate grid function
@mixin grid_width($multiplier) {
    @include rem('width', ($grid_pc_col * $multiplier) + ($grid_pc_gutter * ($multiplier - 1))); // columns + gutter
}
// execute the grid function
// outputs: %grid-X and .grid-X where X is from 1 to 12
@for $i from 1 through 12 {
    %grid_#{$i}, .grid_#{$i} {
        @extend %grid;
        @include grid_width($i);
    }

    @if $i == 12 {
        %grid_12, .grid_12 {
            width: 100%;
            margin-right:0;
        }
    }
}
