//==============================
// $LAYOUT
//===============================

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width:100%;
  @include rem('width',960px);
  position: relative;
}

%fl{
  float:left;
}

%fr{
  float:right;
}

%fn{
    float:none;
}

%tr{
  text-align:right;
}

%tl{
  text-align:left;
}

%dr{
    direction:rtl;
}

%dl{
    direction:ltr;
}

.content{
    @extend %row;
    @include rem(padding, 40px 0);
    background-color: #fff;
    position: relative;

    .hero-bg &{
        @include rem(margin-top, -385px);
        z-index: 2000; // to be in front fo the slider
    }

    .hero-bg.category-page &{
        @include rem(margin-top, -420px);
    }
}

[role="main"]{
    @extend %padded-box;

    .two-cols &{
        border-right: 1px solid #e7e7e7;
        @extend %fl;
        @include rem('width',640px);

    }
    .two-cols.reverse &{
        @extend %fr;
        border-right:none;
        @include rem('width',743px);
        border-left:1px solid #e7e7e7;
    }
}

[role="complementary"]{
    @extend %fr;
    @include rem(padding, 0 40px 0 30px);

    @include rem('width',320px);

    > div{
        @include rem('margin-bottom',40px);

        &:last-of-type{
            margin-bottom: 0;
        }
    }

    .two-cols &{
        border-left: 1px solid #e7e7e7;
        @include rem(left, -1px);
        position: relative;
    }


    .two-cols.reverse &{
        @include rem('width',215px);
        border-left: none;
        left:0;
        @extend %fl;
    }
}

.row{
    @extend %row;
    font-size: 0; // To remove the space between inline-block elements
    @include rem(margin-bottom, 40px);
    &:last-of-type{
        margin-bottom: 0;
    }
}

.grid-unit{
    @include fontSize(12); // to restore the right font size to the default
    display: inline-block;
    vertical-align: top;
    @include rem('margin-bottom',20px);
    @include rem('margin-right', 20px);
}

.grid-half{
    .grid-unit{
        @include rem(width, 269px);
        &:nth-of-type(2n+2){
            margin-right: 0;
        }
    }
}

.grid-thirds{
    .grid-unit{
        @include rem(width, 159px);
        margin-right: 40px;
        &:nth-of-type(3n+3){
            margin-right: 0;
        }
    }
}

.grid-quarter{
    .grid-unit{
        width:23%;
        display: inline-block;
        vertical-align: middle;

        &:nth-of-type(4n+4){
            margin-right:0;
        }
    }
}

//==============================
// $HEADER
//==============================
[role="banner"]{
    background-color: #393939;
    position:relative;
    @include rem('margin-bottom',170px);

    .hero-bg &{
        margin-bottom: 0;
    }
}

#logo{
    position:absolute;
    @include rem('top',62px);
    left:0;
    right: 0;
    z-index: 1000; // to be in front of the slider

    a{
        display: block;
        margin: 0 auto;
        @include rem(width, 228px);
        height: auto;
    }
}

[role="navigation"]{
    @extend %clearfix;
    @include fontSize(11);
    text-transform:uppercase;
    font-family:$sans-serif-light;
    letter-spacing:.2em;

    a,
    form{
        position: relative;
    }

    a{
        color:#fff;
        padding:1em .8em;

        &:hover{
            color:$linkColorHover;
        }

        img{
            vertical-align:text-bottom;
        }
    }

    .nav,
    form{
        margin:0;
    }
}

.main-nav{
    @extend %fl;

    > li{
        > a{
            &:hover,
            &.current{
                background-color:#222;
            }
        }
    }

    .sub{

        // @include rem(min-width, 133px);

        &:hover{
            background-color: #222;
        }

        > a{
            @include rem('padding-left',27px);
            background-image: url(../img/style/arrow-down.png);
        }

        &:hover > a{
            background-image: url(../img/style/arrow-up.png);
            background-color:transparent;
        }
    }

    .sub-menu{
        background-color:#222;
        @include rem(padding,20px);
        @include fontSize(11);
        a{
            border-bottom: 1px solid #414141;
            display: block;
            color: #fff;
            &:hover{
                color: $linkColorHover;
            }
        }

        li{

            &:first-child{
                a{
                    padding-top: 0;
                }
            }

            &:last-of-type{
                a{
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
}

.utility-nav{
    @extend %fr;
}

.sub,
.utility-nav{
     a {
        color: #ababab;
     }
}

.search{
    input[type="search"]{
        @include rem('padding',3px 5px 3px 25px);
        background:#fff url(../img/style/search-icon.png) no-repeat 10px center;
        @include rem('border-radius',20px);
        @include rem('min-width',170px);
        border: 1px solid #fff;
        @include rem('margin-left',10px);
        &:focus{
            border-color: #888;
            outline:none;
        }
    }
}

//==============================
// $FOOTER
//==============================
.brand-footer{

    @include rem('padding-bottom',40px);

    form{
        margin-bottom:0;
    }

    small{
        @include fontSize(10);
    }

    a{
        color: #999;
        &:hover{
            color:$linkColorHover;
        }
    }
}

.footer-section{
    margin-bottom:$verticalspace/2;
    clear: both;
    &:last-of-type{
        margin-bottom: 0;
    }
}

.tagline{
    text-align: center;
    color:#bbb;
    text-transform: uppercase;
    @include rem(margin, 18px 0);
    small{
        @include fontSize(11);
        font-family: $sans-serif;
    }
}

.user-interaction{
    @extend %clearfix;
    background-color:#888;
    color:#fff;
    font-family:$sans-serif-thin;
    @include rem('padding',10px);

    form{
        margin-bottom:0;
        font-size: 0;
    }

    label{
        @include fontSize(15);
        @include rem('margin-right',10px);
    }

    input[type="text"],
    input[type="email"]{
        @include fontSize(12);
    }

    .store-locator{
        @extend %fl;

        .ir{
            background-image:url(../img/style/locator-icon.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            @include rem('height',23px);
            @include rem('width',13px);
            vertical-align: top;
            @include rem('margin-left',5px);
        }

        #locator{
            @include rem('min-width',250px);
        }
    }

    .newsletter{
        @extend %fr;
        label{
            @include rem('padding-left',32px);
            background:url(../img/style/subscribe-icon.png) no-repeat left center;
            display:inline-block;
        }

        #subscribe{
            @include rem('min-width',300px);
        }
    }

    .store-locator,
    .newsletter{
        .btn-form{
            @include fontSize(13);
        }
    }
}

.brand-navigation{

    @include rem('padding',10px);
    @extend %clearfix;

    .title{
        @include fontSize(12);
        color:#444;
        line-height: normal;
        font-family: $sans-serif;
        font-weight: 500;
        @include rem('margin-bottom',5px);
    }

    > div{
        @extend %fl;
        @include rem('margin-right',130px);

        &:last-of-type{
            margin-right:0;
        }

        ul{
            @include fontSize(11);
            @include rem('margin',0 0 10px);
            list-style: none;
            padding:0;
        }
    }
}

.brand-social{

    .title{
        @include fontSize(11);
        color:#999;

    }

    li{
        display: inline-block;
        text-align: center;
    }

    a{
        @include rem('width',32px);
        @include rem('height',32px);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    .twitter{
        a{
            background-image: url(../img/style/twitter-icon.png);
        }
    }

    .rss{
        a{
            background-color: #ef791f;
            background-image: url(../img/style/rss-icon.png);
        }

    }

    .facebook{
        a{
            background-image: url(../img/style/facebook-icon.png);
        }
    }

    .youtube{
        a{
            background-image: url(../img/style/youtube-icon.png);
        }
    }

}

.brand-legal{
    @extend %clearfix;
    border-bottom: 1px solid #c8c8bf;
    color:#999;

    > div{
        @include rem('margin-bottom',10px);
    }

    .copyright{
        @extend %fl;
        @include rem(padding, 5px 0);
        a{
            &:before{
                content:"I";
                @include rem(padding, 10px);
                color:#999;
            }
        }
    }

    .country-selector{
        @extend %fr;
    }
}


@import'corporate-footer';

//==============================
// $ARTICLE
//==============================

.article-title{
    margin-bottom: 0;
}

.article-intro{
    @include fontSize(21);
    color:#222;
}

.figure{
    margin-bottom: 1.5em;
}


//==============================
// $STATIC
//==============================
.static-banner{
    @include rem('margin-bottom',20px);

    img{
        display:block;
    }
}

//==============================
// $NOT FOUND
//==============================
.not-found{
    @extend %clearfix;
}
