//==============================
// $MEDIA
//===============================
img,
object,
embed{

  &,
  figure &{
  	max-width : 100%;
  	height: auto;
  }
}

audio:not([controls]) {
    display: none;
}

img {
	font-style: italic;
	color: $error;
	-ms-interpolation-mode: bicubic;

	a & {
		border:none;
	}
}

//==============================
// $LISTS
//===============================
.reset-list{
    margin:0;
    padding:0;
    list-style: none;

    li{
        @include rem(margin-bottom, 20px);
        // &:last-of-type{
        //     margin-bottom:0;
        // }
    }

    a{
        display:inline-block;
    }
}

ol{
	list-style:decimal;
}

ul,
ol{
	margin-left: .5em;
	padding-left:1em;

  ol,
  ul{
    margin:.5em 0;
  }
}

li{
	line-height:$lineheight;

  + ul,
  + ol{}
}

dl{
	margin: 0 0 $verticalspace 0;


}

dt{
	font-weight: bold;
}

dd{
	margin-left: $verticalspace;
}
//==============================
// $TABLE
//===============================

table {
	border-collapse: collapse;
	border-spacing: 0;
    width:100%;
}

th{
	font-weight:bold;
}

th,td{
	padding:.5em 1em;
}

// https://github.com/csswizardry/inuit.css/blob/master/inuit.css/partials/base/_tables.scss#L88
// used on
// <colgroup>
//  <col class="t5"/>
//  <col class="t5"/>
//  <col/>
// </colgroup>

.t5     { width: 5% }
.t10    { width:10% }
.t12    { width:12.5% }     // 1/8
.t15    { width:15% }
.t20    { width:20% }
.t25    { width:25% }       // 1/4
.t30    { width:30% }
.t33    { width:33.333% }   // 1/3
.t35    { width:35% }
.t37    { width:37.5% }     // 3/8
.t40    { width:40% }
.t45    { width:45% }
.t50    { width:50% }       // 1/2
.t55    { width:55% }
.t60    { width:60% }
.t62    { width:62.5% }     // 5/8
.t65    { width:65% }
.t66    { width:66.666% }   // 2/3
.t70    { width:70% }
.t75    { width:75% }       // 3/4
.t80    { width:80% }
.t85    { width:85% }
.t87    { width:87.5% }     // 7/8
.t90    { width:90% }
.t95    { width:95% }