//==============================
// $MIXINS
//===============================

// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element
// If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
$baseline-px: 10px;

@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: unquote("");
    @each $value in $px-values {
      // If the value is zero, return 0
      @if $value == 0 {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    // Return the property and its list of converted values
    #{$property}: $rem-values; } }

//==============================
// $LAYOUT
//==============================
@function grid($cols) {
  @return ($grid-width - $grid-gutter * ($grid-columns - 1)) / $grid-columns * $cols + $grid-gutter * ($cols - 1);
}

// CSS3 Content Columns
@mixin css-columns($columnCount, $columnGap: 20px) {
  -webkit-column-count: $columnCount;
  -moz-column-count: $columnCount;
  column-count: $columnCount;
  -webkit-column-gap: $columnGap;
  -moz-column-gap: $columnGap;
  column-gap: $columnGap;
}

@mixin box-sizing($box: border-box){
  -webkit-box-sizing : $box;
  -moz-box-sizing : $box;
  -o-box-sizing : $box;
  box-sizing : $box;
}

//==============================
// $TYPOGRAPHY
//==============================

//return em value (target/context = em);
@function em($x,$y){
  @return $x/$y + em;
}

@mixin hide-text{
  text-indent:100%;
  whitespace:nowrap;
  overflow:hidden;
}

// Fonts
@mixin fontSize($size: $basefont){
  font-size: ($size) * 1px;
  font-size: ($size/10) * 1rem;
}

@mixin headers($size){
  @include fontSize($size);
  margin-bottom:(($basefont * $lineheight)/$size)+em;
}


// ellipsis
@mixin ellipsis{
    white-space: nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

// Word Wrapping
@mixin word-wrap{
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

//==============================
// $UI
//==============================

// Border Radius
@mixin border-radius($radius: 5px) {
  border-radius: #{$radius};
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

// Box shadow
@mixin box-shadow ($x) {
  -webkit-box-shadow: #{$x};
  -moz-box-shadow:    #{$x};
  box-shadow:         #{$x};
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
@mixin background($color: $white, $alpha: 1) {
  background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
}

@mixin border($color: $white, $alpha: 1) {
  border-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
  background-clip: padding-box;
}

// Gradients

//==============================
// $HELPERS
//==============================

// Vendor Prefixing
@mixin vendor($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

// Animation
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
        @content
    }
    @-moz-keyframes #{$name} {
        @content
    }
    @-ms-keyframes #{$name} {
        @content
    }
    @-o-keyframes #{$name} {
        @content
    }
    @keyframes #{$name} {
        @content
    }
}

@mixin resizable($direction: both) {
  resize: $direction; // Options are horizontal, vertical, both
  overflow: auto; // Safari fix
}

@mixin ir{ //image replacement
  display : block;
  text-indent : -9999em;
  overflow : hidden;
  background-repeat : no-repeat;
  text-align : left;
  direction : ltr;
}

@mixin hidden{
  display : none;
  visibility : hidden;
}

@mixin visuallyhidden {
  position : absolute;
  clip : rect(0 0 0 0);
  overflow : hidden;
  margin: -1px;
  padding : 0;
  height : 1px;
  width : 1px;
  border : 0;

  &:focus,
  &:active{
    position : static;
    clip : auto;
    overflow : visible;
    height : auto;
    margin : 0;
    width : auto;
}
}

@mixin offscreen($dir : ltr){
    @if $dir == ltr {
        position: absolute;
        left: -9999px;
    } @else {
        left: auto;
        right: -9999px;
    }
}


//==============================
// $RTL HELPERS
//==============================

@mixin rtl($p,$r,$l,$b:true){
  @if $b == false {
    left: #{$l};
    right: #{$r};
  } @else {
    #{$p}-right:#{$r};
    #{$p}-left:#{$l};
  }
}

//==============================
// $DEBUG
//==============================

$debug: false;

@mixin debug-display{
    @if $debug {
        display: normal !important;
    } @else {
        display: none;
    }
}