//==============================
// $VARIABLES
//===============================

// Links
$linkColor:               #2577b1;
$linkColorHover:          #008fd4;
$tabcolor:			      rgba(200,0,0,0.4);

// Grays
$black:                   #000;
$grayDark:                lighten($black, 25%);
$gray:                    lighten($black, 50%);
$grayLight:               lighten($black, 75%);
$grayLighter:             lighten($black, 90%);
$white:                   #fff;

// Accent Colors
$textcolor:			      #666;
$bgcolor:			      #fff;
$tabhighlight:		      rgba(200,0,0,0.4);
$error:				      #c00;
$alert:				      #ff9;
$colorname:			      #eee;


// Baseline grid
$basefont:                12; //14px
$lineheight:              1.5;
$verticalspace:		      1.5em;

//fonts
$sans-serif:              "Helvetica Neue",Helvetica,Arial,sans-serif;
$sans-serif-light:		  'HelveticaNeueW01-45Ligh',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
$sans-serif-u-light:      'HelveticaNeueW01-UltLt',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
$sans-serif-thin:         'HelveticaNeueW01-Thin',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
$serif:				      "Georgia", Times New Roman, Times, serif;
$monospace:			      Inconsolata,monaco,consolas,'andale mono', 'lucida console', monospace;

// Grids
$grid-columns:            12;
$grid-width:              960px;
$grid-gutter:             40px;