@charset "UTF-8";

// ==========================================================================
// corporate footer
// ==========================================================================

// includes and helpers
//------------------------------------------------------
// %clearfix {
//     *zoom: 1;
//     &:before, &:after { content: ""; display: table; }
//     &:after { clear: both; }
// }

// color variables
//------------------------------------------------------

$clr_txt_footer: #999;


// If you want to use em instead of Pixels use this mixin.
// return em value (target/context = em);
@function em($x,$y){
    @return $x/$y + em;
}

// the code
//------------------------------------------------------

.corporate_footer {
    @extend %clearfix;
    @include fontSize(10);
    color: $clr_txt_footer;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
    @include vendor(transition, opacity .1s linear);

    &:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        opacity: 1;
    }
    .landmark_logo {
        float: left;
        @include rem('margin-right',45px);
        @include rem('width',185px);
        @include rem('height',54px);
        background: url(../img/style/footer-logo.png) no-repeat 50% 50%;
    }
    a {
        color: $clr_txt_footer;
    }
    .title {
        font-weight: bold;
        margin-bottom:0;
        line-height:normal;
        @include fontSize(10);
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .columns {
        @extend %clearfix;
        > li {
            float: left;
            @include rem('margin-right',25px);
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .links {
        @include rem('margin-bottom',15px);
        &:last-child {
            margin-bottom: 0;
        }
    }
    .links_wide {
        @extend %clearfix;
        > li {
            float: left;
            @include rem('margin-right',25px);
            &.title { margin-right: 0; }
            &:nth-child(2) { clear: both; }
            &:last-child { margin-right: 0; }
        }
    }
}
