/*header, footer, .main-container.container {
  margin: 0 auto;
  padding: 0 15px 0 0;
}*/
#dropdown-country ul li {
  float:left;
  width:50%;
} 
#dropdown-country a {
  text-align: right;
}
.navbar-header {
  float: right;
}
.language-switcher-locale-url {
  text-align: left;
}
.language-switcher-locale-url li {
  float: left;
}
ul.menu {
  text-align: left;
}
.menu {
  padding: 0;
}
.menu li {
  display: inline-block !important;
  margin: 0 !important;
  padding: 0;
}
.block-menu .menu li a {
  font-size: 18px;
  padding: 7px;
}
.block-locale, .block-menu {
  left: 0;
  right: auto;
}
.logo.pull-left {
  /* padding-right: 15px; */
  padding-right: 0;
  padding-left: 0;
  width: auto;
}
.container > .navbar-header, .container > .navbar-collapse {
  padding-left: 0;
  padding-right: inherit;
}
.ad.min-ht {
  float: right;
}
.columns-section .ad.min-ht a.see::before {
    font-size: 13px;
    height: 22px;
    margin: 0 67px 109px 0;
    padding: 1px 5px 0;
    width: 39.47%;
}
.i18n-ar .min-ht.brand-4 .title > img {
    height: 25px;
    width: 110px;
}
.i18n-ar .min-ht.brand-2 .title > img {
    height: 25px;
    width: 73px;
}
ul.menu.nav {
  float: left;
}
.columns-section .social, .block-menu .menu li {
    float: right;
}
.fb-content {
  padding-bottom: 5px;
}
.fb-content > p {
  padding: 0 20px 8px;
}
.fb-content .action-button {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.twitter-section .twitter-list {
  padding-left: 10px;
  padding-right: 20px!important;
}
.brand-instagram-widget.col-md-3.col-sm-3.col-xs-12 {
  float: right;
  padding: 0 0 0 10px;
}
.instagram-thumbnails .col-md-2.col-sm-2.col-xs-4 {
  float: right;
}
.footer-desktop-menu {
  padding-left: 0;
  padding-right: 15px;
}
.brand-footer-extra {
  padding-right: 0;
  padding-left: 15px;
}
.frame div.sep:first-child {
  margin-left: 22px;
}
.footer-desktop-menu, .brand-footer-extra, .frame div.sep, .frame h3, .brand-footer-extra .blank, .brand-footer-extra .brand-footer-newsletter, .brand-footer-extra .brand-footer-social, .brand-footer-newsletter input#lms-email-add, .offer-wrapper .offer-banner, .offer-wrapper .offer-content, .meta-city li, .offer-meta-col.col-title, .offer-meta-col.col-body, .social-lookbook .twitter {
    float: right;
}
.footer-desktop-menu {
    padding-left: 7px;
    padding-right: 15px;
}
.frame div.sep:first-child {
  margin-left: 0;
  margin-right: 22px;
}
.brand-footer-country div.copyright, .brand-footer-country form#select-location {
    float: right;
}
.brand-footer-country form#select-location {
    padding-right: 0;
    padding-left: 20px;
    text-align: left;
}
.networks-list li {
    float: right;
}
.brand-footer h3, .brand-footer .sep {
  float: right!important;
}
.brand-footer-country .copyright {
  padding-left: 0;
  padding-right: 20px;
}
#select-location label {
  margin-right: 0;
  margin-left: 10px;
}
#corporate-footer-logo #corporate-footer-links {
    margin-left: -20px;
}
.col-md-3.col-sm-3.col-xs-12.logo {
    float: right;
    padding-right: 0;
}
#corp-logo {
    /* background: url(../images/footer-logo-ar.png) no-repeat scroll 13px 3px rgba(0, 0, 0, 0); */
    margin-right: 0;
    margin-left: 12px
}
#corp-logo:hover {
    /* background: url(../images/footer-logo-ar.png) no-repeat scroll 13px -56px rgba(0, 0, 0, 0); */
}
.store-wrapper .locate-box, .store-wrapper .map-holder {
  float: right;
}
.results.search-results {
  margin: 10px 10px 10px 0;
}
.results .number {
  float: right;
  margin: 0 0 0 7px;
}
#store-locator-search label[for="city"] {
  float: right;
}
#search-storelocator-input {
  right: 26px;
  margin: 0 5px 0 0;
}
#store-locator-search .btn-secondary, #contact-us-store-locator .btn-secondary {
  background: #444 url(../images/store-submit-ar.png) no-repeat 50% 50%;
  right: auto;
  left: 0;
}
.store-custom-labels {
  padding-right: 17px;
}
.map-holder .popup-holder .popup {
  width: 286px;
}
.map-holder dl dt {
  float: right;
  clear: right;
  margin: 0 0 13px 5px;
}
.map-holder dl dt {
  width: 55px;
}
.search-popup .btn-secondary {
  background: #444 url(../images/store-submit-ar.png) no-repeat 50% 50%;
}
img#bag, #no-offers-content {
  float: right;
}
#block-ecommerce-leftnav-ae, #block-system-main {
  float: right;
}
.node-type-concept #block-system-main, .page-receive-updates-unsubscribe #block-system-main {
  float: none;
}
.faq dt:before {
  background: url(../images/right-arrow-bullet.png) right -50px no-repeat!important;
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
.faq dt {
  padding-right: 0px!important;
}
.faq dt a {  
  padding-left: 0!important;
  padding-right: 20px!important;
}
.faq dd {
  margin-left: 0;
  margin-right: 20px;
}
/* .faq dt.current {
  background: url(../images/right-arrow-bullet.png) no-repeat right -25px!important;
} */
.brand-col-wrap .col {
  float: right;
}
.apply-ar {
  background-color: #DCDCDC;
  padding: 5px 10px;
  border: 1px solid;
}
#contactus_top .contactus_toptext, #contactus_top #contact-us-store-locator {
  float: right;
}
#contact-us-store-locator .btn-secondary {
  right: auto;
  left: 32%;
}
#contactus_tabs_heading ul li {
  float: right;
  margin: 0 0 0 20px;
  padding: 0 0 0 5px;
}
form[id*="contact-us-form"] #contactus_feedback_email, form[id*="contact-us-form"] #contactus_feedback_phone, form[id*="partner-enquiry-form"] #contactus_partner_reach_email, form[id*="partner-enquiry-form"] #contactus_partner_reach_mobile, form[id*="media-enquiry-form"] #email_input1, form[id*="media-enquiry-form"] #mobile_input2, form[id*="contact-us-form"] .contactus_reach_or, .contactus_reach_or, .contactus_reach_or, #contactus_left, #column_right, form[id*="receives-updates-form"] #contactus_phone_country, form[id*="receives-updates-form"] #contactus_phone {
  float: right;
}
#column_right {
  border-left: none;
  border-right: 1px solid #ccc;
}
#edit-request-for p input[type="checkbox"], #edit-request-for--2 p input[type="checkbox"] {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.posted-date-likes .fleft.mt5, .posted-date-likes .fright.mt5, .concept-logo, .concept-description, .social-lookbook a {
  float: right;
}
.node-type-blog .blog-sidebar, .node-type-blog .blog-main, .frame span, .frame h3, .block-extent-blog, .social-lookbook .facebook {
  float: left;
}
.blog-sidebar-widget ul li a {
  padding: 5px 10px 5px 0;
}
span.linkrss {
  background: url(../images/rss.png) no-repeat right;
  padding-right: 27px;
  padding-left: 0;
}
.previous_next .next {
  float: left;
}
.previous_next .previous {
  float: right;
}
.browse-categories h3, .browse-categories .sep {
  float: right;
}
#dropdown-country ul {
  right: auto;
  left: -30px;
  min-width: 290px;
}
.concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next {
  background-image: url(../images/previous.png);
  right: auto;
  left: -33px;
}
.concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev {
  background-image: url(../images/next.png);
  left: auto;
  right: -33px;
}
.nav-tabs > li, .concept-brand-explorer .slides li {
  float: right;
}
.category-title .backtocat {
  text-align: left;
  margin: 0 0 0 13px;
  float: left;
}
.tab-content .category-title {
  text-align: right!important;
}
.tab-content .category-title .category-text {
    padding: 0 25px 0 0!important;
}
.jcarousel-category-content ul li.products {
  float: right;
}
.readmore-blog {
  text-align: left;
}
#dropdown-country > dt > a {
  background: url(../images/select-arrow.png) no-repeat left center;
}
#dropdown-country > dt > a {
  padding: 0 0 0 15px;
}
#myCarousel .carousel-control .glyphicon-chevron-left {
  left: 9%;
}
#myCarousel .carousel-control .glyphicon-chevron-right {
  right: -24%;
}
.carousel-indicators {
    padding-right: 0;
}
#contactus_tabs_heading ul .current-tab, #contactus_tabs_heading > ul li {
  border-bottom: none;
  padding-bottom: 2px;
}
#contactus_tabs_heading ul .current-tab, #contactus_tabs_heading > ul li:hover {
  border-bottom: none;
  padding-bottom: 2px;
  text-decoration: underline;
}
.static .static-page__header, .static #node-170 .mainheading {
  text-align: right;
}
.page-offers-ae #block-system-main {
  float: none;
}
.min-ht.brand-3 .title > img {
  height: 25px;
  width: 40px;
}
.popup .frame span {
  float: none;
}
#close-beacon {
  left: auto;
  right: 340px;
}
.store-custom-labels {
  width: 9%;
}
.makescrolltoright {
  left: auto!important;
  right: 235px!important;
}
.node-type-concept .jcarousel-wrapper .jcarousel > ul > li {
  margin-right: 0px;
  margin-left: 3px;
}
.results address {
  padding: 0 45px 0 0;
}
.offers-para {
  float: right;
}
.block-menu .menu li.last.leaf a, .block-locale ul li.first a {
  padding-left: 0;
  padding-right: 5px;
}
.page-receive-updates-unsubscribe .go.btn.btn-default.form-submit:after {
  content: "عرض";
}
.page-receive-updates-unsubscribe img#bag {
  margin-right: auto;
  float: right;
}
.page-receive-updates-unsubscribe #no-offers-content {
  margin-right: auto;
}
.concept-description {
  padding: 20px 0 15px 10px;
}
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev {
    right: -30px;
  }
  .concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next {
    left: -30px;
  }
  #myCarousel .carousel-control .glyphicon-chevron-right {
    right: -21%;
  }
  #myCarousel .carousel-control .glyphicon-chevron-left {
    left: 11%;
  }
  /* S IOS */
  /* slider container */
  .iossliderar-category {
    /* required */    
    height: 288px;
  }

  .iossliderar-category.when3 {
    /* required */    
    height: 288px;
  }
  
  .iossliderar-category.when4 {
    height: 388px;
  }

  .iossliderar-content {
    height: 692px;
  }

  .iossliderar-brand {
    height: 100px
  }
  
  /* slider */
  .iossliderar .slider {
    /* required */
    height: 100%;
  }
  
  /* slide */
  .iossliderar .slider .slide {
    /* required */
  
    height: 100%;
  }
  /* E IOS*/
  #dropdown-country {
    /*width: 40%;*/
    width: 34%;
    text-align: right;
  }
}
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------   TABLET  ------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------- */
 @media screen and (min-width: 767px) and (max-width: 991px) {
  .block-menu .menu li a {
    font-size: 14px;
    padding: 7px 2%;
  }
  #contact-us-store-locator .btn-secondary {
    left: 10%;
  }
  .concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next {
    background-image: url(../images/previous-tab.png);
    right: auto;
    left: 2px;
  }
  .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev {
    background-image: url(../images/next-tab.png);
    left: auto;
    right: 2px;
  }
  .networks-list .main-net.col-sm-12 {
    margin-left: auto;
    margin-right: 5%;
  }
  .page-stores .ac_results {
    right: 6%!important;
  }
  .concept-logo-inside {
    padding: 0 0 0 10px;
  }
} 
@media screen and (max-width: 960px) and (min-width: 960px) {
  .block-menu .menu li a {
    padding: 7px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- TABLET & MOBILE ---------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
@media screen and (min-width: 641px) and (max-width: 991px) {
  .columns-section .ad.min-ht a.see::before {
    font-size: 10px;
    margin: 42.905% 25%;
    padding: 2px 0;
  } 
  #column_right {
    border-right: none;
  }
  .blog-sidebar-widget h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  .columns-section .ad.min-ht a.see::before {
    font-size: 11px;
    margin: 42.905% 25%;
    padding: 4px 2px 0;
    width: 45%
  }
  #column_right {
    border-right: none;
  }
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------   MOBILE  -------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .logo.pull-left {
    float: right!important;
  }
  .navbar-toggle {
    margin-right: 30px;
  }
  .navbar-header {
    margin-right: 0 !important;
    width: 100%;
  }
  .navbar-collapse.in {
    /*height: 150px!important;*/
  }
  .block-menu .menu li a {
    padding: 7px 3px;
  }
  /* .block-menu {
    padding-left: 10px;
  } */
  .block-locale li.first a {
    padding-right: 10px;
    padding-left: 10px;
  }
  #corp-logo {
    margin: 0 auto;
  }
  #lms-email-add {
    float: none !important;
  }
  #lms-email-add {
    float: none !important;
  }
  .footer-mobile-menu ul li a {
    background: url(../images/arrow-ar.png) no-repeat scroll left center transparent;
  }
  .brand-footer-country small {
    text-align: right;
  }
  #corporate-footer-links ul {
    float: right;
  }
  .store-locator-search-result.details {
    float: right;
  }
  #contact-us-store-locator .btn-secondary {
    left: 2%;
  }
 .concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next {
   background-image: url(../images/previous-mobile.png);
   right: auto;
   left: 2px;
 }
 .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev {
   background-image: url(../images/next-mobile.png);
   left: auto;
   right: 2px;
 }
  #corp-logo {
      /* background: url(../images/footer-logo-ar.png) no-repeat scroll 13px -56px rgba(0, 0, 0, 0); */
  }
  #myCarousel .carousel-control .glyphicon-chevron-right {
   right: -28%; 
   overflow: hidden;
   width: 65%;
  } 
  #myCarousel .carousel-control .glyphicon-chevron-left {
    left: -5%;
    overflow: hidden;
    width: 36%;
  }
  #store-locator-search .btn-secondary {
    left: 0.8%;
  }
  .store-custom-labels {
    width: 8%;
  }
  .node-type-concept .jcarousel-wrapper .jcarousel > ul > li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navbar-collapse.in {
    padding-right: 0;
  }
  ul.language-switcher-locale-url li.first {
    padding-right: 10px;
  }
  a.logo.navbar-btn {
    position: relative;
    z-index: 9999999;
  }
  /* S IOS */
  /* slider container */
  .iossliderar-category {
    /* required */    
     height: 288px; 
  }
  
  .iossliderar-category.when3 {
    /* required */    
    height: 288px;
  }

  .iossliderar-category.when4 {
    height: 388px;
  }

  .iossliderar-content {
    height: 692px;
  }

  .iossliderar-brand {
    height: 100px
  }
  
  /* slider */
  .iossliderar-category .slider, .iossliderar-content .slider, .iossliderar-brand .slider {
    /* required */
    height: 100%;
  }
  
  /* slide */
  .iossliderar-category .slider .slide, .iossliderar-content .slider .slide, .iossliderar-brand .slider .slide {
    /* required */
  
    height: 100%;
  }
  /* E IOS*/
  /* ----------------------------------------------------- Start Push Menu ---------------------------------------- */
  .cbp-spmenu-vertical {
    left: 0;
  }
  .cbp-spmenu {
    position: absolute;
  }
  /* ------------------------------------------------- End Push Menu ---------------------------------------------------- */
}
@media screen and (max-width: 767px) {
  .logo.pull-left {
    width: 100%;
    float: none!important;
  }
  .block-menu {
    padding-left: 0;
  }
  .block-locale {
    width: 15%;
    position: absolute;
    right: auto;
    left: 0;
    /* top: 345px; */
    /*top: 280px;*/
  }
  .brand-instagram-widget.col-md-3.col-sm-3.col-xs-12 {
    padding: 0 0 0 0;
  }
  .cbp-spmenu {
    position: fixed;
  }
  .block-locale li.first a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .page-catalogue #block-system-main .title-page, .page-offers-ae #block-system-main .title-page {
    padding-left: 0px;
    padding-right: 15px;
  }
  .block-menu .menu li a {
    font-size: 20px;
  }
  #overlay {
    left: -100%;
    right: auto;
  }
  button#showRightPush {
    /* padding-left: auto;
    padding-right: 0; */
    /* margin: 0 0 4% 0; */
    padding: 0 4% 0 0;
    top: 10%;
  }
  .block-locale .language-switcher-locale-url a {
    font-size: 12px;
  }
  .block-locale ul li.first a {
    padding-left: 15px;
  }
  .hamb-menu {
    margin: inherit;
  }
  .block-menu .menu li {
    width: 100%;
  }
  .results address {
    padding: 0;
  }
  .logo-wrap:after {
    border-right: none;
  }
  .concept-categories .mobile-next, .concept-brand-explorer .mobile-next, .tab-content .mobile-next {
    background-image: url(../images/previous-mobile.png);
    right: auto;
    left: 2px;
  }
  .concept-categories .mobile-prev, .concept-brand-explorer .mobile-prev, .tab-content .mobile-prev {
    background-image: url(../images/next-mobile.png);
    left: auto;
    right: 2px;
  }
  .concept-description {
    padding: 20px 10px 15px 10px;
  }
  a.logo.navbar-btn {
    z-index: auto;
  }
  /* hemangi */
  /* ----------------------------------------------------- Start Push Menu ---------------------------------------- */
  .cbp-spmenu-right.cbp-spmenu-open {
    border-right: none;
    border-left: 1px solid #ccc;    
  }
  .cbp-spmenu-vertical {
    left: auto;
  }
  /* ------------------------------------------------- End Push Menu ---------------------------------------------------- */
}
@media screen and (max-width: 610px) {
  #store-locator-search .btn-secondary {
    left: 2.8%;
  }
}
@media screen and (max-width: 550px) {
  #contactus_tabs_heading ul li {
    margin-right: auto;
    margin-left: 3%;
  }
}
@media screen and (max-width: 500px) {
  #showLeftPush, #showRightPush {
    /* margin-right: 15px; */
  }
  #dropdown-country {
    width: 50%;
    text-align: right;
  }
}
@media screen and (max-width: 440px) {
  .brand-footer-country form#select-location {
    text-align: center;
  }
}
@media screen and (max-width: 440px) {
  #store-locator-search .btn-secondary {
    left: 4%;
  }
}
@media screen and (max-width: 380px) {
  .page-catalogue .sub-title h2, .page-lookbook .sub-title h2 {
    font-size: 16px;
  } 
  .store-custom-labels {
    width: 17%;
  }
  .makescrolltoright {
    left: auto!important;
    right: 341px!important;
  }
  .iossliderar {
    direction: rtl;
  }
  /* S IOS */
  /* slider container */
  .iossliderar-category {
    /* required */
    /*height: 390px;*/
  }
  
  /* .iossliderar-content {
    height: 692px;
  } */

  .iossliderar-brand {
    height: 100px;
  }

  /* slider */
  .iossliderar-category .slider, .iossliderar-content .slider, .iossliderar-brand .slider {
    /* required */
    width: 100%;
    height: 100%;
  }

  /* slide */
  .iossliderar-category .slider .slide, .iossliderar-content .slider .slide, .iossliderar-brand .slider .slide {
    /* required */

    width: 100%;
    height: 100%;
  }
  /* E IOS*/
}
@media screen and (max-width: 320px) {
  /* S IOS */
  /* slider container */
  .iossliderar-category {
    /* required */
    /*height: 336px;*/
  }

  /* .iossliderar-content {
    height: 579px;
  } */

  .iossliderar-brand {
    height: 100px
  }
  #dropdown-country {
    width: 45%;
  }
}