/* body {
  background-color: #999!important;
} */
/* a.right.carousel-control {
  display: none;
} */
@font-face {
  font-family: 'Swiss721CondensedRegular';
  src: url('../fonts/swiss721bt-romancondensed-webfont.eot');
  src: url('../fonts/swiss721bt-romancondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/swiss721bt-romancondensed-webfont.woff') format('woff'), url('../fonts/swiss721bt-romancondensed-webfont.ttf') format('truetype'), url('../fonts/swiss721bt-romancondensed-webfont.svg#Swiss721CondensedRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Swiss721CondensedBold';
  src: url('../fonts/swiss721bt-boldcondensed-webfont.eot');
  src: url('../fonts/swiss721bt-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/swiss721bt-boldcondensed-webfont.woff') format('woff'), url('../fonts/swiss721bt-boldcondensed-webfont.ttf') format('truetype'), url('../fonts/swiss721bt-boldcondensed-webfont.svg#Swiss721CondensedBold') format('svg');
}
@font-face {
  font-family: 'Swiss924BTRegular';
  src: url('../fonts/swiss924bt-webfont.eot');
  src: url('../fonts/swiss924bt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/swiss924bt-webfont.woff') format('woff'), url('../fonts/swiss924bt-webfont.ttf') format('truetype'), url('../fonts/swiss924bt-webfont.svg#Swiss924BTRegular') format('svg');
}
@font-face {
  font-family: 'AdobeGaramondProItalic';
  src: url('../fonts/agaramondpro-italic-webfont.eot');
  src: url('../fonts/agaramondpro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agaramondpro-italic-webfont.woff') format('woff'), url('../fonts/agaramondpro-italic-webfont.ttf') format('truetype'), url('../fonts/agaramondpro-italic-webfont.svg#AdobeGaramondProItalic') format('svg');
}
@font-face {
  font-family: 'ITCKabelRegular';
  src: url('../fonts/itckabel-book-webfont.eot');
  src: url('../fonts/itckabel-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/itckabel-book-webfont.woff') format('woff'), url('../fonts/itckabel-book-webfont.ttf') format('truetype'), url('../fonts/itckabel-book-webfont.svg#ITCKabelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MRockwellRegular';
  src: url('../fonts/mrockwell-webfont.eot');
  src: url('../fonts/mrockwell-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mrockwell-webfont.woff') format('woff'), url('../fonts/mrockwell-webfont.ttf') format('truetype'), url('../fonts/mrockwell-webfont.svg#RockwellRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RockwellRegular';
  src: url('../fonts/rockwell-webfont.eot');
  src: url('../fonts/rockwell-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/rockwell-webfont.woff') format('woff'), url('../fonts/rockwell-webfont.ttf') format('truetype'), url('../fonts/rockwell-webfont.svg#RockwellRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RockwellLightRegular';
  src: url('../fonts/mrockwell-light-webfont.eot');
  src: url('../fonts/mrockwell-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mrockwell-light-webfont.woff') format('woff'), url('../fonts/mrockwell-light-webfont.ttf') format('truetype'), url('../fonts/mrockwell-light-webfont.svg#RockwellLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RockwellBold';
  src: url('../fonts/mrockwell-bold-webfont.eot');
  src: url('../fonts/mrockwell-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mrockwell-bold-webfont.woff') format('woff'), url('../fonts/mrockwell-bold-webfont.ttf') format('truetype'), url('../fonts/mrockwell-bold-webfont.svg#RockwellBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f7f7f7;
  color: #666;
}
.custom-dropdown{display:none}.dropdown{display:inline-block;margin:0}.dropdown ul,.dropdown dd,.dropdown dt{margin:0;padding:0;position:relative;z-index:99}.dropdown,.dropdown dd{position:relative}.dropdown a{text-decoration:none;outline:none;color:#737373}.dropdown span.value{display:none}.dropdown .flag{border:none;vertical-align:middle;margin-right:2px;margin-right:0.2rem}.dropdown .ae .flag{/*background-image:url(../img/style/ae.png)*/}.dropdown .flagvisibility{display:none}.dropdown dt{font-weight:normal}.dropdown dt a span{cursor:pointer;display:block}.dropdown dd ul{background-color:#fff;border:1px solid #ddd;left:0px;padding:5px 0px;position:absolute;top:2px;width:auto;min-width:170px;list-style:none}.dropdown dd a{padding:5px;display:block}.dropdown dd a:hover{background-color:#f1f1f1}#dropdown-country{font-size:11px;}#dropdown-country a{line-height:1;text-align:left;}.ie8 #dropdown-country a{width:100px;width:10rem}#dropdown-country ul{right:0;left:auto;min-width:205px;top:10px}#dropdown-country ul li{float:left;width:50%}#dropdown-filter{text-align:left;margin-left:10px;margin-left:1rem}#dropdown-filter dt a{padding:0 0 0 20px;padding: 0 0 0 2rem;background:url(../img/style/filters-arrow.png) no-repeat left center}#dropdown-filter dd ul{padding:10px 20px;padding: 1rem 2rem;border-top:none}#dropdown-filter dd ul li:last-of-type a{border-bottom:none}#dropdown-filter dd a{border-bottom:1px solid #ddd}.offscreen{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.clear {
  clear: both;
}
#dropdown-country > dt > a {
  padding: 0 15px 0 0;
  background: url(../images/select-arrow.png) no-repeat right center;
}
.cleardiv {
  clear: both;
}
.container {
  padding: 0;
}
.main-container.container, .navbar.container, .footer {
  max-width: 960px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar.container {
  margin-top: inherit;
  padding: 0;
}
.block-menu .menu li {
  float:left;
}
.nav>li>a {
  /* padding: 0; */
  /*padding: 10px 7%!important;*/
}
.block-menu .menu li a {
  font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  color: #222!important;
  font-size: 20px;
  text-transform: uppercase;
   padding: 10px 9px; 
  text-align: center;
  display: block;
}
.region.region-navigation {
  height: 150px;
  overflow: visible;
  position: relative;
}
ul.menu.nav {
  float: right;
}
.region.region-navigation > section {
  position: absolute;
  width:600px;
}
.language-switcher-locale-url::after {
  clear: both;
  content: "";
  display: block;
}
.language-switcher-locale-url li {
  display: inline-block;
  float: right;
}
.block-locale {
  top: 6px;
  right: 0;
}
.block-menu {
  right: 0;
  top: 68px;
}
.block-locale a {
  color: #29b1ec;
  font-size: 11px;
  padding: 0 5px;
}
.cbp-spmenu a:hover {
    background: none repeat scroll 0 0 transparent!important;
    text-decoration: none;
}
.block-locale a.active {
  border-left: 1px solid #333;
  color: #222;
  font-weight: bold;
}
.carousel-indicators {
  bottom: -45px;
}
.carousel-indicators li.active {
  background-color: #5d5d5d;
}
.carousel-indicators li {
  background-color: #acacac;
}
.navbar-collapse.in {
  border: none;
  overflow: hidden;
}
.buttonset {
  display: none;
}
#showLeftPush, #showRightPush {
  border-color: #ddd;
  float: left;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  border-radius: 4px;
  /* margin-left: 30px;
  margin-bottom: 8px;
  margin-right: 15px;
  margin-top: 8px;
  padding: 20px 10px 20px 10px; */
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
}
.icon-bar {
  background-color: #ccc;
  display: block;
  width: 33px;
  height: 4px;
  border-radius: 10px;
}
.icon-bar+.icon-bar {
  margin-top: 4px;
}
.navbar {
  margin-bottom: 10px;
}
.min-ht .title, .brand-shukran-ad-small .title, .twitter-section .title, .alt24 .title, .ui-tabs-anchor > div, #tabs .category-title {
  background-color: #000;
  color: #f7f7f7;
  font-family: "Swiss721CondensedBold",Arial,Helvetica,sans-serif;
  font-size: 18px;
  height: 45px;
  line-height: 24px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.min-ht.brand-1 .title > img {
  height: 25px;
  width: 110px;
}
img.bh_logo{
	height: 17px !important;
}
img.bh_logo_ar{
	height: 22px !important;
}
.min-ht.brand-2 .title > img {
  height: 30px;
  width: 80px;
}
.min-ht.brand-3 .title > img {
  height: 25px;
  width: 40px;
}
.min-ht.brand-4 .title > img {
  height: 30px;
  width: 80px;
}
.brand-section.row {
  margin-top: 50px;
}
/* Start See More */
.columns-section .ad.min-ht a.see::before {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: attr(data-content);
  font-family: "Swiss721CondensedBold",Arial,Helvetica,sans-serif;
  height: 23px;
  margin: 0 0 109px 72px;
  padding: 2px 5px 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 39.47%;
  z-index: 1;
  font-size: 12px;
}
.columns-section .ad.min-ht a.see::after, .columns-section .ad.min-ht a.see::before {
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
}
.columns-section .ad.min-ht a.see:after {
  content:'\A';
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0, 0, 0, 0.6);
}
.columns-section .ad.min-ht a.see:hover:after, .columns-section .ad.min-ht a.see:hover:before {
  opacity:1;
}
/* End See More */
.ad.min-ht {
  padding: 0;
  margin: 0 7px;
  width: 23.56%;
}

.social-section.row {
    margin-top: 15px;
    margin-bottom: 5px;
}
.iframe-responsive {
  width: 100%;
}
.brand-shukran-ad-small h3 {
    color: #000;
    font-family: "Swiss721CondensedBold",Arial,Helvetica,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 15px 20px 15px 20px!important;
    text-transform: uppercase;
}
.fb-content {
  padding: 20px;
  background-color: #ccc;
  padding: 0;
  height: 280px;
  overflow-y: scroll;
  width: auto!important;
  padding-right: 0!important;
  padding-bottom: 10px;
  display: table;
  margin: 0 auto;
}
.fb-content > p {
    padding: 0 20px 0px;
    margin-bottom: 0;
}
.fb-content .action-button {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 12px;
}
.brand-shukran-ad-small p {
  color: #000;
  font-size: 12px;
  line-height: 18px;
}
.fb-content .action-button {
  font: 12px/24px "Swiss721CondensedBold",Arial,Helvetica,sans-serif;
  text-transform: uppercase;
}
.twitter-section .twitter-list {
  background-color: #7fd4f9;
  padding: 20px 20px 15px;
  color: #4d7989;
  font-size: 13px;
  height: 280px;
  overflow-y: scroll;
  width: auto!important;
  padding-right: 10px!important;
}
.twitter-list li {
  list-style: outside none none;
  margin-bottom: 5px;
}
.twitter-section .twitter-list a {
  color: #222;
  font-weight: bold;
}
.twitter-section .twitter-list .time {
  font-size: 12px;
  display: block;
  color: #4d7989;
  font-weight: bold;
}
.twitter-list p {
  margin-bottom: 0;
}

/* Start enscroller */
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}
.track3:hover, .track3.dragging {
    background: #d9d9d9;
    /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}
.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}
.track3:hover .handle3, .track3.dragging .handle3 {
    width: 10px;
}
/* End enscroller*/


.brand-instagram-widget span {
    background-color: #000;
    display: block;
    line-height: 103px;
    text-align: center;
}
.brand-instagram-widget .title a {
    color: #f7f7f7;
    font-family: "Swiss721CondensedBold",Arial,Helvetica,sans-serif;
    font-size: 23px;
    text-transform: uppercase;
}
.brand-instagram-widget.row img {
    height: 100% !important;
    width: 100% !important;
}
.insta-li-desk.col-sm-2 {
    margin-right: 4px;
    width: 12%;
}
.row {
  margin: 0 -7px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0 7px;
}
.ad.min-ht img.img-responsive {
  width: 100%;
}
.ad.min-ht {
  position: relative;
}
.col-md-9.instagram-thumbnails img {
  width: 100%!important;
  height: auto!important;
}
.brand-instagram-widget.col-md-3.col-sm-3.col-xs-12 {
    padding: 0 10px 0 0;
}
.footer {
  border: none;
}
#block-site-structure-footer-bottom {
    border: 1px solid #ccc;
}
.brand-footer .sub-title h3 {
    color: #666;
    font: 16px/24px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.brand-footer .sep {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 4px;
    margin-top: 23px;
    width: 31%;
}
.frame div.sep:first-child {
  margin-left: 22px;
}
.brand-footer-nav.row, .brand-footer-nav.row ul, .brand-footer-social ul {
    list-style: outside none none;
    padding: 0;
}
.footer-desktop-menu {
    padding-left: 15px;
}
.brand-footer-extra {
    padding-right: 15px;
}
.brand-footer-nav {
    font-size: 11px;
    list-style: outside none none;
}
.brand-footer-nav p {
    font-weight: bold;
    margin: 0 0 5px;
    color: #666;
}
.brand-footer-nav li a {
  color: #666;
}
.footer-mobile-menu {
  display: none;
}
.brand-footer-newsletter label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #666;
}

.brand-footer-newsletter input#lms-email-add {
    float: left;
    width: 58%;
    color: #666;
    font: 12px/20px Arial,Helvetica,sans-serif;
}
.brand-footer-newsletter input[type="submit"] {
  background: -webkit-linear-gradient(rgba(102, 102, 102, 1) 0%, rgba(65, 65, 65, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(rgba(102, 102, 102, 1) 0%, rgba(65, 65, 65, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(rgba(102, 102, 102, 1) 0%, rgba(65, 65, 65, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  border: 0 none;
  cursor: pointer;
  font: 12px/26px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  width: 45px;
}
small {
    color: #666;
    font-size: 75%;
}
.networks-list li {
    margin-bottom: 5px;
    padding: 0;
    /* width: 34%; */
}
.networks-list li.blank {
    display: none;
}
.networks-list .main-net.col-md-12 {
  width: 75%;
  margin-left: 5%;
}
.brand-footer-country {
  margin-top: 20px;
  margin-bottom: 15px;
}
.sub-title {
  margin-bottom: 20px;
}
.brand-footer-country form#select-location {
    padding-right: 30px;
    text-align: right;
}
.brand-footer-country .copyright {
  padding-left: 20px;
}
#select-location label {
  margin-right: 10px;
}
#corp-logo {
    /*background: url(../images/footer-logo.png) no-repeat scroll 1px 3px rgba(0, 0, 0, 0);*/
    height: 60px;
    margin-right: 12px;
    width: 190px;
    display: block;
}
#corp-logo:hover {
    /*background: url(../images/footer-logo.png) no-repeat scroll 1px -56px rgba(0, 0, 0, 0);*/
}
#corporate-footer-links ul > ul, #corporate-footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#corporate-footer ul li strong {
    font-size: 10px;
    font-weight: bold;
    color: #a6a6a6;
}
#corporate-footer li a {
    color: #a6a6a6;
    font-size: 10px;
    list-style: outside none none;
}
#corporate-footer-links li {
    line-height: 13px;
}
#block-site-structure-corporate-footer {
    margin-bottom: 40px;
    margin-top: 20px;
}
#corporate-footer-links:hover ul li strong {
  color: #222;
}
.main-social li {
  width: 34%;
}
#main .map-holder {
  float: left;
  width: 663px;
  position: relative;
  margin-top: -3px;
}
.map-holder #mapview {
  height: 500px;
  width: 100%;
}
.gm-style {
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-decoration: none;
}
.store-wrapper {
  background-color: #e4e4e4;
}
.locate-box h3 {
  margin: 0 0 13px;
  font-size: 12px;
  line-height: 16px;
  color: #666;
  font-weight: bold;
  margin: 20px 10px;
}
#store-locator-search > div {
  position: relative;
}
#store-locator-search label[for="city"] {
  background: url(../images/map-point.gif) no-repeat;
  text-indent: -9999px;
  height: 24px;
  width: 14px;
  overflow: hidden;
  margin: 5px 10px 0 10px;
}
#search-storelocator-input {
  width: 88%;
  margin: 0 0 0 5px;
  position: absolute;
  top: 0;
  left: 28px;
}
#store-locator-search .btn-secondary, #contact-us-store-locator .btn-secondary {
  background: #444 url(../images/store-submit.png) no-repeat 50% 50%;
  line-height: normal;
  border: none;
  text-indent: -9999px;
  color: #fff;
  position: absolute;
  height: 25px;
  top: 5px;
  right: 0;
}
#contact-us-store-locator .btn-secondary {
  top: auto;
  right: 32%;
  width: 25px;
  position: absolute;
}
.ac_results ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.ac_results li {
  background: #fff;
  color: #333;
  cursor: default;
  white-space: pre;
  padding: 1px 5px;
  background: #f7f7f7;
  font-size: 12px;
}
li.ac_over {
  background-color: rgb(132, 134, 138);
  color: #fff;
}
.results.search-results {
  margin: 10px 0 10px 10px;
  list-style: none;
  padding: 0;
}
.results.search-results li:hover {
  cursor: pointer;
}
.results .number {
  float: left;
  margin: 0 7px 0 0;
  background: url(../images/bg-number.gif) no-repeat;
  font-size: 15px;
  line-height: 17px;
  color: white;
  width: 37px;
  height: 35px;
  padding: 10px 0 0;
  text-align: center;
  font-weight: bold;
}
.results .active .number {
  background: url(../images/bg-number-active.gif) no-repeat;
}
.search-results .title {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  color: #666;
}
.results address {
  padding: 0 0 0 45px;
  font-style: normal;
  font-size: 11px;
  color: #666;
}
.store-locator-search-result.details {
  font-size: 10px;
  margin: 0;
  padding: 0;
  float: none;
}
.store-custom-labels {
  color: white;
  font-family: "Lucida Grande","Arial",sans-serif;
  font-size: 24px;
  height: 30px;
  text-align: center;
  white-space: nowrap;
  width: 6%
}
.map-holder .popup-holder .popup {
  position: absolute;
  top: 124px;
  left: 128px;
  width: 292px;
  background: url(../images/popup-t.png) no-repeat;
  padding: 7px 0 0;
  z-index: 15;
  display: block;
}
.map-holder .popup .holder {
  background: url(../images/popup-b.png) no-repeat 0 100%;
  padding: 0 0 58px;
}
.map-holder .popup .frame {
  background: url(../images/popup-c.png) repeat-y;
  padding: 4px 18px 8px 14px;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  width: 286px;
  min-height: 140px;
}
.map-holder h4 {
  margin: 0;
  padding: 0 0 3px;
  border-bottom: 1px solid #F1F1F1;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  font-weight: bold;
}
.map-holder address {
  padding: .2em 0 0.6em;
  font-style: normal;
  border-bottom: 1px solid #F1F1F1;
  margin: 7px 0;
  display: block;
}
.map-holder dl {
  font-size: 11px;
  margin: 0;
}
.map-holder address span {
  display: block;
}
.map-holder dl dt {
  float: left;
  clear: left;
  margin: 0 5px 13px 0;
  font-weight: bold;
  width: 47px;
  text-transform: capitalize;
}
.map-holder dl dd {
  margin: 0 0 13px;
}
.map-holder .search-popup, .map-holder .search-popup fieldset {
  margin: 0;
}
.map-holder .search-popup, .map-holder .search-popup fieldset {
  margin: 0;
}
.map-holder .search-popup .text {
  font-size: 12px;
  color: #636363;
  border: 1px solid #C7C7C7;
  z-index: 99999999;
}
.search-popup .btn-secondary {
  background: #444 url(../images/store-submit.png) no-repeat 50% 50%;
  padding: 4px 11px 4px;
  line-height: normal;
  border: none;
  text-indent: -9999px;
  color: #fff;
}
#close-beacon {
  background: url(../images/map-close.gif) no-repeat scroll 0px 0 transparent;
  cursor: pointer;
  display: block;
  height: 16px;
  position: absolute;
  left: 390px;
  text-indent: -9999px;
  top: 132px;
  width: 16px;
}
.title-page h2 {
  color: #000;
  margin: 0;
  font: 40px/28px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.title-page h3 {
  font-family: Georgia;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 30px;
  font-style: italic;
}
.section {
  background-color: #fff;
  padding: 15px;
}
#no-offers-content p {
  margin-bottom: 0;
}
img#bag, #no-offers-content {
  float: left;
  margin-right: 10px;
}
#no-offers-content {
  width: 90%;
}
#block-ecommerce-leftnav-ae .col-left > ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
}
#block-ecommerce-leftnav-ae li {
  margin: 5px 0;
}
#block-ecommerce-leftnav-ae li > span {
  font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  color: #222;
  text-transform: uppercase;
  font-size: 21px;
}
#block-ecommerce-leftnav-ae li > a {
  color: #666;
}
.section h2 {
  color: #b2b2b2;
  font: 24px/32px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}
.page-node .static-page__header, .page-media .static-page__header, .page-node .mainheading, .page-contact-us .static-page__header, .page-media-enquiry .static-page__header, .page-receive-updates .static-page__header, .page-partner-enquiry .static-page__header {
  text-align: left;
  color: #222;
  margin-bottom: 30px;
  margin-bottom: 20px;
  font: 30px/32px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}
.page-media .post h4 {
  color: #00aeef;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.page-media .section p {
  margin-bottom: 1em;
}
.faq dt:before {
  height: 16px;
  width: 10px;
  background: url(../images/right-arrow-bullet.png) no-repeat left -2px!important;
  display: inline;
  content: "";
  float: left;
  margin-right: 10px;
}
.faq dt {
  padding-left: 0px!important;
  background: transparent!important;
}
.faq dt a {
  line-height: 1.8;
  cursor: pointer;
  padding-left: 20px!important;
  display: block;
}
.faq dt.current:before {
  background: url(../images/right-arrow-bullet.png) no-repeat left -28px!important;
}
.faq dd {
  margin-left: 20px;
}
.page-catalogue .sub-title .sep, .page-offers-ae .sub-title .sep {
  height: 4px;
  overflow: hidden;
  border: solid #d8d8d8;
  border-width: 1px 0;
}

.page-catalogue .sub-title h2, .page-lookbook .sub-title h2, .page-offers-ae .sub-title h3 {
  font: 48px/52px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  margin-top: -20px;
  text-align: center;
  color: #222;
}
.page-lookbook .sub-title h2 {
  line-height: 25px;
  margin-top: -10px;
}
.page-offers-ae .sub-title {
  margin-top: 10px;
}
.page-offers-ae .sub-title h3 {
  text-transform: uppercase;
  font-size: 30px;
}
.page-lookbook .sub-title.lookbook {
  margin-top: 20px;
}
.static-pages-wrapper > .section p {
  font-size: 13px;
  margin-bottom: 1em;
}
.title.pgsr {
  border-bottom: 1px dotted #cacbcd;
  color: #555555;
  font-size: 38px;
  font-weight: normal;
}
.render-resume .apply-scroll {
  font-size: 20px;
}
.career-form {
  font-size: 14px;
}
.col-main label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
}
.render-resume input[type="text"] {
  border: 1px solid #ccc;
  color: #222;
  font-size: 14px;
  height: 25px;
  padding: 0 5px;
  width: 240px;
}
.input-valid .valid-span {
  color: #987c02 !important;
  display: none;
}
.gender-male, [for="gender-male"], .gender-female, [for="gender-female"] {
  float: left;
}
.career-form select {
  font-size: 14px;
  padding: 5px;
  width: 252px;
}
.career-form .experience select {
  width: 124px;
}
.career-form .valid-span.valid-resume {
  font-size: 12px;
}
#contactus_top {
  background-color: #F9F9F9;
  border-bottom: 1px dotted #393939;
  border-top: 1px dotted #393939;
  font-family: Helvetica,Arial,Verdana,sans-serif;
}
p.contactus_top_heading, label.contactus_top_heading {
  color: #666666;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
  padding: 0;
}
#contactus_tabs_heading ul li {
  background: none repeat scroll 0 0 transparent;
  display: block;
  float: left;
  font-size: 13px;
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0 5px 0 0;
}
.page-contact-us h1, .page-receive-updates h1, #contactus_tab_content h1 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0px;
}
.page-contact-us .submit-fieldset, .page-receive-updates .submit-fieldset {
  margin-top: 20px;
}
#column_right {
  text-align: center;
  border-left: 1px solid #ccc; 
}
form[id*="contact-us-form"] .contactus_reach_or, .contactus_reach_or, .contactus_reach_or {
  text-align: center;
  padding: 7px 0;
}
form[id*="contact-us-form"] #contactus_feedback_email, form[id*="contact-us-form"] #contactus_feedback_phone, form[id*="partner-enquiry-form"] #contactus_partner_reach_email, form[id*="partner-enquiry-form"] #contactus_partner_reach_mobile, form[id*="media-enquiry-form"] #email_input1, form[id*="media-enquiry-form"] #mobile_input2 {
  width: 41.66666666666667%!important;
}
form[id*="contact-us-form"] #contactus_feedback_phone:after, .frame:after, .concept-detail:after, .browse-categories .frame:after, .region-content.region:after {
  clear: both;
  content: "";
  display: block;
}
form[id*="contact-us-form"] .form-item.form-type-textfield.form-item-name, form[id*="partner-enquiry-form"] .submit-fieldset, form[id*="media-enquiry-form"] .form-type-textfield.form-item-name {
  clear: both;
  margin-top: 50px;
}
form[id*="media-enquiry-form"] .form-type-textfield.form-item-publication {
  margin-bottom: 10px;
}
#contact-us-store-locator #contactus_cityname {
  position: relative;
}
form[id*="receives-updates-form"] #contactus_phone {
  width: 83.33333333333334%;
}
form[id*="receives-updates-form"] .submit-fieldset {
  clear: both;
  margin-top: 50px; 
}
form[id*="receives-updates-form"] #contactus_phone_country {
  padding: 7px 0;
}
form[id*="media-enquiry-form"] .form-type-checkboxes > legend {
  font-size: 15px;
  color: #666;
  font-weight: bold;
}
#edit-request-for p input[type="checkbox"], #edit-request-for--2 p input[type="checkbox"] {
  float: left;
  margin-right: 10px;
}
#otherdetails_input {
  width: 89%!important;
}
form[id*="media-enquiry-form"] #request-for {
  margin-bottom: 15px;
}
#contactus_tabs_heading ul {
  padding: 0;
}
/* #contactus_tabs_heading ul .current-tab,#contactus_tabs_heading > ul li {
  border-bottom: 1px solid #fff; 
  padding-bottom: 2px; 
} */
#contactus_tabs_heading ul .current-tab,#contactus_tabs_heading > ul li:hover {
  border-bottom: 1px solid #666; 
  padding-bottom: 2px; 
}
#contactus_tabs_heading ul {
  border-bottom: 1px solid #ccc;
  height: 21px;
  margin-top: 20px;
}
#contactus_tabs_heading > ul li a:hover {
  text-decoration: none;
} 
.page-blog .region-content, .node-type-blog #block-system-main {
  background-color: #fff;
}
.page-blog .region-content:after, .node-type-blog #block-system-main:after {
  display: block;
  clear: both;
  content: "";
}
.block-extent-blog, .node-type-blog .blog-sidebar, .node-type-blog .blog-main {
  padding: 0 15px;
}
.node-type-blog .blog-sidebar {
  float: right;
}
.node-type-blog .item-list {
  display: none;
}
.brand-blog__header h2 {
  text-transform: capitalize;
  color: #222;
  font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.brand-blog__header h2 a {
  color: #222;
}
.posted-date-likes iframe#twitter-widget-0 {
  width: 85px!important;
}
/* .brand-blog.brand-blog--post > p {
  display: none;
} */
.posted-date-likes {
  margin-top: 10px;
  margin-bottom: 15px;
}
.brand-blog__body p {
  color: #666;
  font-size: 12px;
}
.brand-blog.brand-blog--post {
  border-bottom: 1px solid #ccc!important;
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.blog-sidebar-widget {
  border: 1px solid #e7e7e7;
  padding: 0 15px 20px 15px;
  margin: 20px 0;
}
.blog-sidebar-widget h3 {
  font: 16px/38px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 4px;
}
.blog-sidebar-widget .sub-title .sep {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  height: 4px;
  display: inline-block;
}
.blog-sidebar-widget .sub-title {
  margin-bottom: 20px; 
  margin-top: 20px;
}
.blog-sidebar-widget ul {
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  border: 1px solid #e8e8e8;
  box-shadow: inset 0 0 0 2px white;
  list-style: none;
}
.blog-sidebar-widget ul li a {
  display: block;
  padding: 5px 0 5px 10px;
  border-bottom: 2px solid #fff;
  font-size: 12px;
}
.blog-sidebar-widget .well {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  /* padding-top: 20px; */
}
.block-extent-blog {
  float: right;
}
span.linkrss {
  background: url(../images/rss.png) no-repeat;
  padding-left: 27px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 12px;
}
.loadmore {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.loadmore p { 
  margin: 0;
}
.loadmore p a {
  text-align: center;
  display: block;
}
.loadmore .loadingimage {
  text-align: center;
  display: block; 
}
.node-type-blog .blog-sidebar {
  margin-bottom: 20px; 
}
.previous_next .next {
  float: right;
  margin: 20px 0 0 0;
}
.previous_next .previous {
  float: left;
  margin: 20px 0 0 0;
}
.node-type-blog .blog-body {
  padding-bottom: 1px;
}
.concept-description p {
  line-height: 23px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", 'Droid Sans', sans-serif;
  font-size: 13px;
  color: #666;
}
.concept-detail {
  /* padding: 20px 10px 15px; */
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
}
.concept-logo-inside {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
}
.concept-logo {
  display: table;
  text-align: center;
  padding: 0;
}
.concept-description {
  padding: 0;
  padding: 20px 10px 15px 0;
}
.browse-categories .sep, .storelocate .sep, .brand-ex .sep, .lookbook .sep {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 4px;
}
.browse-categories h3, .storelocate h3, .brand-ex h3 {
  vertical-align: -8px;
  margin: 0 8px 0 10px;
  font: 25px/38px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  color: #222;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 4px;
}
a[name="backtocat"] {
  display: block;
}
.storelocate h3, .browse-categories h3, .brand-ex h3 {
  line-height: 30px;
  margin-top: -20px;
}
.browse-categories .frame, .brand-ex .frame {
  margin-top: 30px;
  margin-bottom: 30px;
}
.storelocate .frame {
  margin-top: 45px;
  margin-bottom: 30px;
}
.concept-categories .ui-tabs-anchor > div {
  height: auto;
}
.slides li a .category-head, .tab-content .category-title {
  font-family: "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #000;
  color: #f7f7f7;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.jcarousel img, .jcarousel-category-content img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
.jcarousel-wrapper {
  border: none;
  box-shadow: none;
  position: relative;
  margin-bottom: 0;
}
.seemore-wrapper img.category-image {
  width: 100%;
}
.concept-categories .jcarousel-next, .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-next, .tab-content .jcarousel-prev {
  top: 44%;
  width: 67px;
  position: absolute;
  height: 67px;
  font-size: 0;
}
.concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev {
  top: 10%;
}
.concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next, .tab-content .jcarousel-next {
  background-image: url(../images/next.png);
  left: auto;
  right: -33px;
  z-index: 9;
}
.concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-prev {
  background-image: url(../images/previous.png);
  left: -33px;
  z-index: 9;
}
img.seemore {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 52%; 
}
.down-arrow {
  height: 72px;
  background: url(../images/down-arrow.jpg) no-repeat scroll center center transparent;
}
.tab-content .category-title {
  text-align: left!important;
}
.tab-content .category-title .category-text {
  text-align: left!important;
  display: inline-block;
  color: #f7f7f7;
  padding: 0 0 0 25px!important;
}
.category-title .backtocat {
  text-align: right;
  background: url(../images/backtocat.jpg) no-repeat scroll center 0 transparent;
  color: #f7f7f7;
  float: right;
  font-family: "Myriad Pro","Gill Sans","Gill Sans MT",Calibri,sans-serif;
  font-size: 13px;
  margin: 0 13px 0 0;
  padding: 10px 0 0 !important;
  text-transform: none;
}
.category-desc {
  border: 1px solid #cacaca;
  border-top: none;
}
.category-desc > p {
  color: #70706f;
  font-family: "Droid Sans",sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 11px 17px 11px;
}
.category-product li.products img {
  border: 1px solid #d5d5d5;
  display: block;
  max-width: 100%;
  height: auto !important;
  margin-bottom: 2px;
  width: 100%;
}
.tab-content .jcarousel-wrapper {
  margin: 2px auto!important;
}
.tab-pane .jcarousel-pagination {
  bottom: -25px;
}
.concept-brand-explorer img {
  display: inline-block;
  vertical-align: middle;
}
.logo-wrap:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.logo-wrap:after {
  border-right: 1px solid #ccc;
  content: " ";
  display: block;
  height: 50px;
  margin-left: -10px;
  margin-top: -76px;
  width: 10px;
}
.logo-wrap {
  height: 100px;
  text-align: center;
  float: left;
  width: 100%;
}
.node-type-concept .jcarousel-wrapper .jcarousel > ul > li {
  text-align: center;
  border: none!important;
  margin-right: 3px;
}
.website-blog {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: right;
  padding: 0 15px;
}
.blog-portion-wrapper {
  margin: 0 auto;
}
.blog-img {
  width: 100%;
}
.website-image > a > img {
  margin: 0 auto;
}
/* .continue-reading {
  padding-bottom: 112px;
}*/
.website-blog .blog-title {
  font: 20px/38px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
  color: #000;
  padding: 10px 0;
}
.first-image {
  padding: 0 0 10px;
}
.first-image > img {
  border: 1px solid #c1c1c1;
}
.blog-feed-title {
  font-size: 15px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", 'Droid Sans', sans-serif;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}
.blog-feed-body {
  font-size: 13px;
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", 'Droid Sans', sans-serif;
  color: #6a6a6a;
  padding: 10px 0 15px;
}
.continue-reading a {
  border: 1px solid #ababab;
  color: #6d6a6a;
  display: block;
  float: left;
  font: 14px/30px "Swiss924BTRegular",Arial,Helvetica,sans-serif;
  letter-spacing: 1px;
  padding: 0 5px;
  text-transform: uppercase;
  width: auto;
}
.blog-replace {
  text-align: center;
  margin-top: 15px;
  padding: 0 0 10px;
}
.page-blog #block-extent-blog-fleft-blog .brand-blog img {
  display: block;
  height: auto;
  max-width: 100%!important;
}
#block-extent-blog-fleft-blog .blog-body .brand-blog .desk-comment {
  display: inline!important;
}
.readmore-blog {
  text-align: right;
  text-transform: capitalize;
  font-size: 13px;
  text-decoration: underline;
}
.posted-date-likes .fleft.mt5 {
  color: #848484;
}
#myCarousel .glyphicon-chevron-left:before, #myCarousel .glyphicon-chevron-right:before {
  content: "";
  width: 67px;
  height: 67px;
  display: block;
}
#myCarousel .glyphicon-chevron-left:before {
  background: url(../images/previous.png) no-repeat;
}
#myCarousel .glyphicon-chevron-right:before {
  background: url(../images/next.png) no-repeat;
}
#myCarousel .carousel-control .glyphicon-chevron-left {
    left: -24%;
}
#myCarousel .carousel-control .glyphicon-chevron-right {
    right: 9%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  top: 44%;
}
.page-box, .flipbook-carousel .carousel-scrolldiv .carousel-overlay-container .overlay-page-box {
  margin-top: 0px!important;
}
.brand-blog__body img.img-responsive {
  height: auto!important;
}
.offer-content .offer-header h4 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}
.offer-body p {
  font-size: 12px;
  margin-top: 10px;
}
.offer-meta-col.col-body .meta-city {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.meta-city li {
  float: left;
  border: 1px solid #e7e7e7;
  padding: 1px 3px;
  margin: 3px 0 3px 0;
  border-radius: 3px;
  width: 70px;
}
.offer-meta-row {
  margin-top: 10px;
}
.offer-meta {
  font-size: 12px;
}
.offer-wrapper {
  margin-bottom: 15px;
}
.lookbook-wrapper.hidden-md.hidden-sm.visible-xs img {
    margin: 0 auto 10px auto;
}
.social-lookbook a {
  padding: 0 15px;
}
.social-lookbook .facebook {
  float: right;
}
.social-lookbook .twitter {
  float: left;
}
.lookbook-top-text {
  text-align: center;
  padding: 15px;
  font-size: 12px;
}
img#svg1 {
  width: 100%;
}
#concept-categories a[name="backtocat"]:hover {
  text-decoration: none;
  color: #222;
}
a:hover {
  text-decoration: none;
}
.concept-categories .jcarousel-prev, .concept-categories .jcarousel-next {
  display: none;
}
.breadcrumb {
  display: none;
}
.ipad-landscape {
  display: block;
}
.ipad-portrait {
  display: none;
}
.sub-title.blog-replace .frame a img {
  margin: 0 auto
}
img#svg1 {
  width: 295px;
}
#block-system-main {
  padding: 0;
}
.block-menu .menu li.last.leaf a, .block-locale ul li.first a, .navbar-collapse.in {
  padding-right: 0;
}
.page-offers-ae .title-page h2 {
  line-height: 50px;
}
#status_msg div strong {
  color: #f00;
}
.newsletter-input-wrapper .email.sub_error, #offerpage_form_post .email.sub_error {
    border: 1px solid #f00;
}
.brand-footer-newsletter small {
  font-size: 9px;
}
.page-receive-updates-unsubscribe .go.btn.btn-default.form-submit {
  background: none repeat scroll 0 0 #4e4e4e;
  border: medium none;
  box-shadow: none;
  color: #fff;
  line-height: 24px;
  width: 15%;
  margin: 10px 0 0 0;
}
.page-receive-updates-unsubscribe .go.btn.btn-default.form-submit:after {
  content: "Submit";
}
.page-receive-updates-unsubscribe #tell-email {
  width: 100%;
  margin: 10px 0 0 0;
}
.page-receive-updates-unsubscribe img#bag {
  float: none;
  width: auto;
  height: 100%;
}
.page-receive-updates-unsubscribe #no-offers-content {
  width: 100%;
  padding-top: 15px;
}
.page-receive-updates-unsubscribe #current-offers {
  padding: 15px;
}
.page-media .post img {
  display: inline-block;
}
.fb-content a img {
  display: block;
  height: auto;
  max-width: 100%;
}
.fb-content a {
  display: table-cell;
  vertical-align: middle;
}
.left.carousel-control, .right.carousel-control {
/* Required for IE 5, 6, 7 */
  /* ...or something to trigger hasLayout, like zoom: 1; */
    
  /* Theoretically for IE 8 & 9 (more valid) */ 
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=50);
  
  /* Older than Firefox 0.9 */
  -moz-opacity:0.5;
  
  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0.5;
    
  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: 0.5;
}
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next, .tab-content .jcarousel-next {
    right: -30px;
  }
  .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-prev {
    left: -30px;
  }
  #myCarousel .carousel-control .glyphicon-chevron-left {
    left: -21%;
  }
  #myCarousel .carousel-control .glyphicon-chevron-right {
    right: 11%;
  }
/* S IOS */
  /* slider container */
  .iosslider-category {
    /* required */    
    height: 288px;
  }

  .iosslider-category.when3 {
    /* required */    
    height: 288px;
  }
  
  .iosslider-category.when4 {
    height: 388px;
  }

  .iosslider-content {
    height: 692px;
  }

  .iosslider-brand {
    height: 100px
  }
  
  /* slider */
  .iosslider-category .slider, .iosslider-content .slider, .iosslider-brand .slider {
    /* required */
    height: 100%;
  }
  
  /* slide */
  .iosslider-category .slider .slide, .iosslider-content .slider .slide, .iosslider-brand .slider .slide {
    /* required */
  
    height: 100%;
  }
  /* E IOS*/
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------   TABLET  ---------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 767px) and (max-width: 991px) {
  ul.slides.row > li {
    width: 188px!important;
  }
  .block-menu .menu li a {
    /* padding: 10px 4%; */
    padding: 10px 5px;
    font-size: 15px;
  }
  .insta-li-tab {
    margin-right: 4px;
    width: 12%;
  }
  .brand-instagram-widget ul li.insta-li-desk {
    margin-bottom: 15px;
  }
  .col-md-9.instagram-thumbnails .col-xs-4 {
    padding: 0 2px;
    width: 12.4%;
  }
  .brand-instagram-widget span {
    line-height: 86px;
  }
  .page-catalogue .sub-title h2, .page-lookbook .sub-title h2 {
    font-size: 38px;
  }
  #contact-us-store-locator .btn-secondary {
    right: 10%;
  }
  .concept-categories .jcarousel-next, .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-next, .tab-content .jcarousel-prev {
    top: 44%;
    width: 50px;
    height: 50px;
  }
  .concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev {
    top: 24%;
  }
  .concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next, .tab-content .jcarousel-next {
    background-image: url(../images/next-tab.png);
    left: auto;
    right: 2px;
  }
  .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-prev {
    background-image: url(../images/previous-tab.png);
    left: 2px;
  }
  .networks-list .main-net.col-sm-12 {
    width: 95%;
    margin-left: 5%;
  }
  .concept-logo-inside {
    padding: 0 10px 0 0;
  }
}
@media screen and (min-width: 960px) and (max-width: 960px) {
  /*.block-menu .menu li a {
    padding: 10px 8%;
    display: inline-block;
  }*/
  /*.block-menu .menu li {
    display: inline-block;
  }*/
  /*ul.menu.nav {
    float: none;
  }*/
  #myCarousel .carousel-control .glyphicon-chevron-left {
    left: -31%;
  }
  .ad.min-ht {
    width: 23.15%;
  }
  ul.slides.row > li {
    width: 248px!important;
  }
  /*.lookbook #block-system-main .tab_show {
    display: block!important;
  }
  .lookbook #block-system-main .tab_hide {
    display: none!important;
  }*/
  .lookbook #block-system-main .tab-portrait {
    display: none!important;
  }
  .lookbook #block-system-main .tab-landscape {
    display: block!important;
  }
}
@media screen and (width: 768px) {
  ul.slides.row > li {
    width: 250px!important;
  }
}
.locate-box {
  height: 500px;
  overflow-x: hidden;
  width: 25%!important;
}
.dn {
  display: none!important;
}
.di {
  display: inline!important;
}
.db {
  display: block!important;
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------- TABLET & MOBILE ----------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 641px) and (max-width: 991px) {
  .columns-section .ad.min-ht a.see::before {
    font-size: 11px;
    margin: 42.905% 27%;
    padding: 2px 0;
  }
  #column_right {
    border-left: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  .contactus_feedback_heading {
    margin-top: 10px;
  }
  #corp-logo {
    width: 100%;
  }
  .brand-footer-newsletter small {
    font-size: 8px;
  }
  .brand-footer-newsletter input#lms-email-add {
    font: 9px/20px Arial,Helvetica,sans-serif;
  }
}

@media screen and (max-width: 640px) {
  #contactus_tabs_heading ul {
    border-bottom: none;
  }
}

@media screen and (max-width: 640px) {
  .ad.min-ht.brand-3, .ad.min-ht.brand-4 {
    margin-top: 15px;
  }
  .columns-section .ad.min-ht a.see::before {
    font-size: 11px;
    margin: 42.905% 30%;
    padding: 4px 2px 0;
  }
  #column_right {
    border-left: none;
    border-top: 1px solid #ccc;
    margin-top: 20px;
  }
  .contactus_feedback_heading {
    margin-top: 10px;
  }
}
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------   MOBILE  ------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar-toggle {
    float: left;
    margin-left: 30px;
    position: absolute;
    top: 0;
  }
  .block-menu .menu li a {
    font-size: 15px;
    /* padding: 7px 3%; */
    padding: 7px 4px;
  }
  .block-locale a {
    padding: 0px 15px;
    margin: 15px 0 0 0;
  }
  .block-locale li.first a {
    padding-right: 0;
  }
  .brand-shukran-ad-small.social {
    margin-bottom: 15px;
  }
  .twitter-list {
    margin-bottom: 0;
  }
  #block-site-structure-footer-bottom {
    border: none;
  }
  #corp-logo {
    margin: 0 auto;
  }
  .networks-list li.blank {
    display: block;
  }
  small {
    display: block;
  }
  /* .brand-footer-social {
    margin-top: 
  } */
  .footer {
    margin-top: 15px;;
  }
  .footer-mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .footer-mobile-menu ul li {
    background-color: #0e0e0e;
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid #ccc;
  }
  .footer-mobile-menu ul li a {
    color: #c7c7c7;
    font-size: 19px;
    display: block;
    margin-right: 20px;
    background: url(../images/arrow.png) no-repeat right center transparent;
    font-family: "Swiss721CondensedBold",Arial,Helvetica,sans-serif;
  }
  .footer-mobile-menu ul li a:hover {
    text-decoration: none;
  }
  .brand-footer-country small {
    text-align: left;
  }
  #store-locator-search {
    margin-bottom: 30px;
    width: 98%;
  }
  .store-locator-search-result.details {
    width: 70%;
    float: left;
  }
  .offers-para {
    margin-bottom: 20px; 
  }
  .page-catalogue .sub-title h2, .page-lookbook .sub-title h2 {
    font-size: 29px;
  }
  form[id*="contact-us-form"] #contactus_feedback_email, form[id*="contact-us-form"] #contactus_feedback_phone, form[id*="partner-enquiry-form"] #contactus_partner_reach_email, form[id*="partner-enquiry-form"] #contactus_partner_reach_mobile, form[id*="media-enquiry-form"] #email_input1, form[id*="media-enquiry-form"] #mobile_input2 {
    width: 100%!important;
  }
  form[id*="contact-us-form"] .contactus_reach_or, .contactus_reach_or, .contactus_reach_or {
    display: block;
  }
  form[id*="contact-us-form"] .form-item.form-type-textfield.form-item-name, form[id*="partner-enquiry-form"] .submit-fieldset, form[id*="media-enquiry-form"] .form-type-textfield.form-item-name {
    margin-top: 10px;
  }
  #contact-us-store-locator #contactus_cityname {
    width: 95%;
  }
  #contact-us-store-locator .btn-secondary {
    top: auto;
    right: 2%;
  }
  .blog-sidebar-widget .well {
    margin-bottom: 0!important;
    padding: 0;
    box-shadow: none;
    border-top: none;
    border-radius: initial;
  }
  .blog-sidebar-widget h3 a {
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #222;
    font: 16px/38px "Swiss924BTRegular", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border-radius: 0px;
  }
  .blog-sidebar-widget h3 a:hover, .blog-sidebar-widget h3 a:active, .blog-sidebar-widget h3 a:visited {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #222;
  }
  .hidden-xs-custom {
    display: none;
  }
  .blog-sidebar {
    margin-top: 15px;
  }
  .node-type-blog .blog-sidebar {
    margin-bottom: 0;
  }
  .concept-categories .jcarousel-next, .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-next, .tab-content .jcarousel-prev {
    top: 40%;
    width: 33px;
    height: 33px;
  }
  .tab-content .jcarousel-next, .tab-content .jcarousel-prev {
    top: 47%;
  }
  .concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev {
    top: 30%;
  }
  .concept-categories .jcarousel-next, .concept-brand-explorer .jcarousel-next, .tab-content .jcarousel-next {
    background-image: url(../images/next-mobile.png);
    left: auto;
    right: 2px;
  }
  .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-prev {
    background-image: url(../images/previous-mobile.png);
    left: 2px;
  }
  /* .networks-list .main-net.col-sm-12 {
    width: 100%;
  } */
  .brand-blog__header h2 {
    font-size: 20px;
  }
  /* #corp-logo {
    background: url(../images/footer-logo.png) no-repeat scroll 1px -56px rgba(0, 0, 0, 0);
  } */
  #offer_form_post {
    margin-bottom: 7px;
  }
  .brand-blog__body p, .brand-blog__body {
    font-size: 15px;
  }
  #get-directions {
    width: 80%
  }
  .ad.alt24.social {
    position: relative;
  }
  .ad.alt24.social .video_homepage .title {
    z-index: 2;
    position: absolute;
    width: 96%;
  }
  .ad.alt24.social .video_homepage > iframe {
    margin-top: 10px;
    z-index: 1;
  }
  .offer-header {
    margin-top: 10px;
  }
  .store-custom-labels {
    width: 8%
  }
  .node-type-concept .jcarousel-wrapper .jcarousel > ul > li {
    margin-right: 0px;
    margin-left: 0px;
  }
  .brand-footer-newsletter small {
    font-size: 8px;
  }
  .concept-categories .jcarousel-next, .concept-categories .jcarousel-prev, .concept-brand-explorer .jcarousel-next, .concept-brand-explorer .jcarousel-prev, .tab-content .jcarousel-next, .tab-content .jcarousel-prev {
    top: 50%;
  }
  /* S IOS */
  /* slider container */
  .iosslider-category {
    /* required */    
     height: 288px; 
  }
  
  .iosslider-category.when3 {
    /* required */    
    height: 288px;
  }

  .iosslider-category.when4 {
    height: 388px;
  }

  .iosslider-content {
    height: 692px;
  }

  .iosslider-brand {
    height: 100px
  }
  
  /* slider */
  .iosslider-category .slider, .iosslider-content .slider, .iosslider-brand .slider {
    /* required */
    height: 100%;
  }
  
  /* slide */
  .iosslider-category .slider .slide, .iosslider-content .slider .slide, .iosslider-brand .slider .slide {
    /* required */
  
    height: 100%;
  }
  /* E IOS*/

  .ad.min-ht {
    width: 23%;
  }
  .navbar-collapse.in {
    padding-left: 0;
    padding-right: 0;
  }
  .visible-md.visible-sm.ipad-landscape {
    display: none!important;
  }
  .hidden-lg.hidden-sm.ipad-portrait {
    display: block!important;
  }
  .fb-content, .twitter-section .twitter-list {
    height: 246px;
  }
  .posted-date-likes .fleft.mt5, .posted-date-likes .fright.mt5 {
    float: left;
  }
  /* #myCarousel .carousel-control .glyphicon-chevron-left {
    left: -29%;
  } */
  #myCarousel .carousel-control .glyphicon-chevron-left {
    left: -28%;
    overflow: hidden;
    width: 63%;
  }
  /* #myCarousel .carousel-control .glyphicon-chevron-right {
    right: 13%;
  } */
  #myCarousel .carousel-control .glyphicon-chevron-right {
    right: -6%;
    overflow: hidden;
    width: 36%;
  }
  /* ----------------------------------------------------- Start Push Menu ---------------------------------------- */
  .cbp-spmenu-vertical {
    width: 100%;
    position: relative;
  }

  /* General styles for all menus */
  .cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }
  .cbp-spmenu a:hover {
    background: #258ecd;
  }
  .cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }
  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }
  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }
  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    border-right: 1px solid #ccc;
  }
	.storelocate .frame {
		margin-top: 20px !important;
	}
  
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo.pull-left {
    display: inline-block;
    float: none !important;
    margin: 10px auto 0 auto;
    text-align: center;
    width: 100%;
    padding: 0 0 0 30px;
  }
  img#svg1 {
    width: 50%;
  }
  .buttonset {
    display: block;
  }
  .region.region-navigation {
    float: none;
  }
  .block-menu, .block-locale {
    width: 100%;
  }
  .block-menu {
    top: 0;
  }
  .block-menu .menu li {
    display: block!important;
    float: none;
  }
  .region.region-navigation > section{width:100%;}
  .block-locale {
    margin: 0 auto;
    top: 345px;
    /* top: 343px; */
  }
  .block-locale li.first a {
    padding-right: 15px;
  }
  .language-switcher-locale-url {
    margin: 0 auto;
    padding: 0;
    /* width: 155px; */
  }
  .cbp-spmenu-vertical .block-locale a {
    border-bottom: none;
  }
  .block-locale .language-switcher-locale-url a {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 14px;
  }
  .language-switcher-locale-url .locale-untranslated {
    padding: 15px;
  }
  .alt24.social {
    margin-top: 15px;
  }
  .fb-content, .twitter-section .twitter-list {
    height: auto;
  }
  .instagram-thumbnails > .row > div {
    margin-top: 8px;
    padding: 0 4px;
  }
  .brand-instagram-widget.col-md-3.col-sm-3.col-xs-12 {
    padding: 0;
  }
  .brand-instagram-widget span {
    line-height: 37px;
    padding-top: 5px;
  }
  .brand-instagram-widget span {
    line-height: 37px;
    padding-top: 5px;
  }
  .locate-box {
    height: auto;
    width: 100%!important;
  }
  #search-storelocator-input {
    width: 95%;
  }
  #store-locator-search .btn-secondary {
    right: 0.50%;
  }
  .blog-sidebar-widget {
    border: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .blog-sidebar-widget .sub-title {
    margin: 0;
  }
  /* .when3 {
    height: 314px!important;
  } */
  .cbp-spmenu-left.cbp-spmenu-open, .cbp-spmenu-right.cbp-spmenu-open {
    background-color: #f7f7f7; 
  }
   /* Start See More */
  .columns-section .ad.min-ht a.see::before {
    content: none;
  }
  .columns-section .ad.min-ht a.see::after, .columns-section .ad.min-ht a.see::before {
    opacity: 0;
  }
  .columns-section .ad.min-ht a.see:after {
    content:"";
  }
  .columns-section .ad.min-ht a.see:hover:after, .columns-section .ad.min-ht a.see:hover:before {
    opacity:0;
  }
  /* End See More */
  .page-catalogue #block-system-main .title-page, .page-offers-ae #block-system-main .title-page {
    margin-top: 20px;
    background: #fff;
    padding-top: 25px;
    padding-left: 15px;
  }
  .page-catalogue #block-system-main .title-page h3 {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .page-offers-ae #block-system-main .title-page h3 {
    margin-bottom: 0;
  }
  .page-catalogue #block-system-main .sub-title, .page-offers-ae #block-system-main .sub-title {
    margin-bottom: 0px;
    padding-bottom: 20px;
    background: #fff;
    padding-top: 20px;
    overflow: hidden;
  }
  .block-menu .menu li a {
    font-size: 20px;
  }
  .language-switcher-locale-url li.active {
    display: none;
  }
  .block-locale {
    width: 15%;
    position: absolute;
    right: 0;
    top: 41%;
  }
  .footer-mobile-menu ul li {
    background-color: transparent;
  }
  .footer-mobile-menu ul li a {
    color: #222;
  }
  .lookbook-top-text, .readmore-blog {
    font-size: 15px;
  } 
  #overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    -webkit-transition: all 0.10s ease;
    -moz-transition: all 0.10s ease;
    transition: all 0.10s ease;
    /* display: none; */
  }
  button#showLeftPush {
    /* padding-left: 0; */
    /* margin: 0 0 4% 0; */
    padding: 0 0 0 3%;
    top: 10%;
  }
  .concept-description p {
    font-size: 15px;
  }
  .jcarousel-category-content li {
    border: none;
  }
  img.seemore {
    /* top: 43%; */
  }
  .tab-content .jcarousel-next, .tab-content .jcarousel-prev {
    top: auto;
  }
  img.seemore {
    top: auto;
  }
  .hamb-menu {
    width: 50%;
    margin: 0 auto;
  }
  ul.menu.nav {
    width: 100%;
  }
  .results address {
    padding: 0;
  }
  .locate-box .search-results a {
    display: block;
  }
  .jcarousel-wrapper .unselectable {
    opacity: 0.2;
  }
  .concept-categories .mobile-next, .concept-brand-explorer .mobile-next, .tab-content .mobile-next {
    background: url(../images/next-mobile.png) no-repeat;
    left: auto;
    right: 2px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 40%;
    z-index: 100;
  }
  .concept-categories .mobile-prev, .concept-brand-explorer .mobile-prev, .tab-content .mobile-prev {
    background: url(../images/previous-mobile.png) no-repeat;
    left: 2px;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 40%;
    z-index: 100;
  }
  .concept-description {
    padding: 20px 10px 15px 10px;
  }
  /* hemangi */

  /* General styles for all menus */
  .cbp-spmenu {
    position: fixed;
  }
  .cbp-spmenu a {
    display: block;
    color: #222;
    font-size: 1.1em;
    font-weight: 300;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }

  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #ccc;
    padding: 1em;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }

  /* Vertical menu that slides from the left or right */

  .cbp-spmenu-left {
    left: -240px;
  }

  .cbp-spmenu-right {
    right: -240px;
  }

  /* Push classes applied to the body */

  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  .cbp-spmenu-push-toright {
    left: 240px;
  }

  .cbp-spmenu-push-toleft {
    left: -240px;
  }

  /* Transitions */

  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.10s ease;
    -moz-transition: all 0.10s ease;
    transition: all 0.10s ease;
  }
  /* -------------------------------------------- End Push Menu ---------------------------------------------------- */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For iPAD portrait layouts only */
  a#corp-logo img {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  /* RK Start */
  .footer-mobile-menu {
    display: block;
    margin-top: 35px;
  }
  .footer-desktop-menu, .brand-footer .sub-title {
    display: none;
  }
  .main-social li {
    width: 25%;
  }
  .networks-list .main-net.col-sm-12 {
    width: 100%;
  }
  .brand-footer-extra {
    height: 100px;
  }
  .brand-footer-newsletter, .brand-footer-social {
    position: absolute;
  }
  .brand-footer-social {
    top: 0;
  }
  .brand-footer-newsletter {
    bottom: 0;
    top: 45px;
  }
  .brand-footer-extra .blank, .fb-like.fb_iframe_widget {
    display: none;
  }
  .brand-footer-newsletter input#lms-email-add {
    float: none;
    width: 65%;
    font: 12px/24px Arial,Helvetica,sans-serif;
  }
  .brand-footer-newsletter input[type="submit"] {
    font: 14px/29px Swiss721CondensedBold,Arial,Helvetica,sans-serif;
    width: 50px;
  }
  .brand-footer-newsletter label, .newsletter-input-wrapper {
    text-align: center;
  }
  small {
    text-align: center;
  }
  /* RK End */
  #block-extent-blog-fleft-blog .blog-body .brand-blog .desk-comment.hidden-xs {
    display: none!important;
  }
  a.logo img {
    margin: 0 auto;
  }    
  .website-blog {
    margin-top: 15px;
  }
  .section.brand-footer {
    padding: 15px 0;
  }
  .ad.min-ht {
    width: 48.13%;
  }
  .ad.min-ht.brand-3, .ad.min-ht.brand-4 {
    margin-top: 15px;
  }
  .enscroll-track {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .ad.min-ht {
    width: 47.85%;
  }
}
@media screen and (max-width: 650px) {
  .corporate-footer-links-wrapper > ul {
    width: 32%;
  }  
  #no-offers-content {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .ad.min-ht {
    width: 47.75%;
  }
}
@media screen and (min-width: 611px) and (max-width: 763px) {
  .ad.min-ht {
    width: 47.64%;
  }
  .ad.min-ht.brand-3, .ad.min-ht.brand-4 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 610px) {
  #search-storelocator-input {
    width: 93%;
  }
  #store-locator-search .btn-secondary {
    right: 2%;
  }
  .ad.min-ht {
    width: 47.46%;
  }
}
@media screen and (min-width: 481px) and (max-width: 566px) {
  .ad.min-ht {
    width: 46.99%;
  }
}
@media screen and (max-width: 550px) {
  #search-storelocator-input {
    width: 92%;
  }
  #store-locator-search .btn-secondary {
    right: 2.5%;
  }
  #contactus_tabs_heading ul li {
    width: 45%;
  }
  #contactus_tabs_heading ul {
    height: auto;
  }
  #contactus_tabs_heading ul li {
    margin-right: 3%;
    margin-bottom: 2%;
  }
  #contactus_tabs_heading ul .current-tab, #contactus_tabs_heading > ul li {
    border-bottom: none;
    padding-bottom: 2px;
  }
  #contactus_tabs_heading ul .current-tab, #contactus_tabs_heading > ul li:hover {
    border-bottom: none;
    padding-bottom: 2px;
    text-decoration: underline;
  }
}
@media screen and (max-width: 500px) {
  a.logo img {
    width: 57%;
  }
  .icon-bar {
    width: 36px;
    margin: 4px 0;
  }
  #showLeftPush, #showRightPush {
    /* margin-left: 24px; */
    /* margin-left: 30px;
    margin-bottom: 0; */
  }
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 40%;
  }
  #search-storelocator-input {
    width: 91%;
  }
  #store-locator-search .btn-secondary {
    right: 2.5%;
  }
  .map-holder #mapview {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .ad.min-ht {
    width: 46.98%;
  }
}
@media screen and (max-width: 440px) {
  .seemore-wrapper img.category-image {
    width: 99%;
  }
  /* #showLeftPush, #showRightPush {
    top: 0;
    bottom: auto;
  } */
  .main-social-wrapper li.col-md-2.col-sm-2.col-xs-3, .main-social-wrapper li.blank {
    display: none;
  }
  .main-social-wrapper li.col-md-10.col-sm-10.col-xs-6 {
    width: 85%;
  }
  .brand-footer-country {
    position: relative;
    height: 55px;
  }
  .brand-footer-country form#select-location {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
  }
  .brand-footer-country .copyright {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-left: 0px;
  }
  .brand-footer-country .copyright small {
    text-align: center;
  }
  .corporate-footer-links-wrapper > ul {
    width: 50%;
  }
  #search-storelocator-input {
    width: 91%;
  }
  .page-catalogue .sub-title h2, .page-lookbook .sub-title h2 {
    font-size: 23px;
  }
  .brand-footer-extra {
    padding: 0;
  }
  .networks-list .main-net.col-sm-12 {
    width: 50%;
    margin: 0;
  }
  .networks-list .main-net .main-social-wrapper .col-md-2.col-sm-2.col-xs-3, .networks-list .main-net .main-social-wrapper .col-xs-2.blank {
    display: block;
    width: 10%;
  }
  .networks-list .main-net .main-social-wrapper .col-md-10.col-sm-10.col-xs-6 {
      width: 80%;
  }
  .main-social li {
    text-align: center;
  }
  #search-storelocator-input {
    width: 90%;
  }
  #store-locator-search .btn-secondary {
    right: 2.5%;
  }
}
@media screen and (max-width: 380px) {
  .navbar-header {
    width: 100%;
  }
  #search-storelocator-input {
    width: 88%;
  }
  #store-locator-search .btn-secondary {
    right: 3.5%;
  }
  #lms-email-offer {
    width: 65%;
  }
  #no-offers-content {
    width: 70%;
  }
  .page-catalogue .sub-title h2, .page-lookbook .sub-title h2 {
    font-size: 20px;
  }
  #contactus_top .contactus_toptext, #contactus_top #contact-us-store-locator {
    font-size: 12px;
  }
  .browse-categories h3, .storelocate h3, .brand-ex h3 {
    font-size: 21px;
  }
  .page-offers-ae .sub-title h3 {
    font-size: 22px;
    line-height: 45px;
  }
  .store-custom-labels {
    width: 13%;
  }
  .map-holder .popup-holder .popup {
    left: 180px;
  }
  #close-beacon {
    left: 435px;
  }
  #contact-us-store-locator .btn-secondary {
    height: 23px;
  }
  /* S IOS */
  /* slider container */
  .iosslider-category {
    /* required */
    /* height: 390px; */
  }

  /* .iosslider-content {
    height: 692px;
  } */

  .iosslider-brand {
    height: 100px
  }

  /* slider */
  .iosslider-category .slider, .iosslider-content .slider, .iosslider-brand .slider {
    /* required */
    width: 100%;
    height: 100%;
  }

  /* slide */
  .iosslider-category .slider .slide, .iosslider-content .slider .slide, .iosslider-brand .slider .slide {
    /* required */

    width: 100%;
    height: 100%;
  }
  /* E IOS*/
  
  .ad.min-ht {
    width: 46.10%;
  }
}
@media screen and (min-width: 413px) and (max-width: 415px) {
  .jcarousel li, .jcarousel-category-content li {
      width: 384px;
  }
  .iosslider-category.when4, .iossliderar-category.when4 {
      height: 424px!important;
  }
  .iosslider-content {
      height: 824px!important;
  }
  .concept-categories .mobile-next, .concept-categories .mobile-prev {
    top: 52%;
  }
}
@media screen and (min-width: 381px) and (max-width: 479px) {
  .ad.min-ht {
    width: 46.1%;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  .ad.min-ht {
    width: 45.93%;
  }
  .concept-categories .mobile-next, .concept-categories .mobile-prev {
    top: 52%;
  }
}
@media screen and (max-width: 360px) {
  .ad.min-ht {
    width: 45.93%;
  }
}
@media screen and (min-width: 321px) and (max-width: 359px) {
  .ad.min-ht {
    width: 44.99%;
  }
}
@media screen and (max-width: 340px) {
  #search-storelocator-input {
    width: 87%;
  }
  #store-locator-search .btn-secondary {
    right: 3.5%;
  }
}
@media screen and (max-width: 320px) {
  .ad.min-ht {
    width: 45.39%;
  }
  /* S IOS */
  /* slider container */
  .iosslider-category {
    /* required */
    /* height: 336px; */
  }

  /* .iosslider-content {
    height: 579px;
  } */

  .iosslider-brand {
    height: 100px
  }
  .hamb-menu {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen\0 {
  img#svg1 {
    width: 100%;
  }
  .newsletter-input-wrapper #lms-email-add {
    height: 27px;
  }
  .brand-footer-newsletter input[type='submit'] {
    background-color: #5E5E5E;
  }
}

@media only screen and (min-width: 600px) and (max-width: 962px){ 
	#corporate-footer li a{
		font-size: 8px;
	}
}
a.crouching-popup { cursor: pointer; border-bottom: 1px dashed #666666; color: #666666; }
a:hover.crouching-popup, a.crouching-popup.active { color: #c1d252; border-bottom-color: transparent; text-decoration: none; }

