/** add catalog tabs **/
.new_tabs {
    border-bottom: 1px solid #ABA8A4;
    padding-left: 20px!important;
  /*  position: relative; */
}

a#tablinks.active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ABA8A4 #ABA8A4 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    color: #666666;
	text-decoration: none;
}
a#tablinks:hover {
  color: #666666;
	text-decoration: none;
}
a#tablinks {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #012B37;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3px;
    padding: 5px 10px;
    position: relative;
    top: 1px;
}
.prevnext {
  bottom: 668px;
  position: absolute;
  right: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {    
  .prevnext {
    bottom: 659px;
    position: absolute;
    right: 0;
  }
}
.catalogue-scroll {
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  position: relative;
  background: #fff;
}
#viewport {
  background-color: white;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}
.demo {
  padding-top: 37px;
  display: none;
}
#viewport .catalogue-scroll > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 99999px;
  position: relative;
  overflow: hidden;
}
#viewport li {
  width: 151px;
  float: left;
  list-style: none;
  text-align: center;
  padding: 20px 10px 20px 10px;
  outline: none;
}
#viewport li a {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  width: 181px;
  height: 164px;
  border: 2px solid #fff;
  padding: 20px 0 0 0;
  background: #fff;
  margin: 0 5px 0 0;
  text-align: center;
  font-family: 'Swiss721CondensedBold';
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  outline: none;
}
#simplePrevious {
  background-position: -2px 0 !important;
  display: inline-block;
  background: url(images/ui.png) no-repeat -42px 0;
  width: 34px;
  height: 34px;
  text-indent: -999999px;
  outline: none;
}
#simpleNext {
  display: inline-block;
  background: url(images/ui.png) no-repeat -42px 0;
  width: 34px;
  height: 34px;
  text-indent: -999999px;
  outline: none;
}