.ac_results{
    background-color:#FFF;
    border:1px solid #0071B3;
}
.ac_results ul{
    margin-left:0px;
}
.ac_results li.ac_even{
    list-style: none outside none;
    cursor: default;
    padding: 5px;
    text-align: left;
    white-space: pre;
}
.ac_results li.ac_odd{
    list-style: none outside none;
     cursor: default;
    padding: 5px;
    text-align: left;
    white-space: pre;
}
.ac_results li.ac_over {
    background-color: #0071B3;
    color: #FFF;
}