.float_left{float: left; padding: 0;}
.form-checkbox{margin-top: 17px;margin-right: 10px;}
.form-item .border_class_left{border-left-color: red;border-bottom-color: red;border-top-color: red;}
.form-item .border_class{border-top-color: red;border-bottom-color: red;}
.form-item .border_class_last{border-top-color: red;border-bottom-color: red;border-right-color: red;}