#sidebar ul{
width : 397px;
margin-left: 28px;
}
#sidebar {
float: right;
width: 393px;

}
.nav, .nav a {
display: inline-block;
}
.nav {
list-style: none;
margin-left: 0;
padding: 0;
}
.actions {
margin: 0 0 20px;
}
.actions a.current {
background-color: gray;
}
.actions a.add {
background-image: url(../img/add-store-icon.png);
}
.nav .first {
float : left;
}
.nav, .nav a {
display: inline-block;
}
.nav li {
display: inline;
}
.actions li {
margin-left: 20px;
}
.actions a {
padding: 70px 53px 30px;
background-color: #DDBA1B;
color: white;
background-position: center 30px;
background-repeat: no-repeat;
font-family: sans-serif;
}
.actions a.list {
background-image: url(../img/store-list-icon.png);
}
.actions a:hover, .actions a.current {
background-color: gray;
text-decoration: none;
}
.nav {
list-style: none;
}
#main {
float: left;
width: 55.25%;
margin-right: 2.083333333%;
}
#main table {
border-spacing: 0;
width: 100%;
background: #F9F9F9;
border: 1px solid #D5D5D5;
border-top: none;
color: #959595;
box-shadow: inset 0 0 0px 2px white,0 0 0px 5px rgba(218, 218, 218, 0.2);
}
#main table th, td {
padding: .5em 1em;
background : none;
border-top: 1px solid #D5D5D5 !important;
border-style: none;
font-family: sans-serif;
font-weight : bold;
color: #959595;
text-transform: capitalize;
text-align: center;
}
#main table tfoot {
background: white;
}
#main table tfoot:hover {
background: #F9F9F9;
}
#main tfoot th, tfoot td {
border-top: 1px solid #9E9E9E;
}
#main tfoot td {
	color: #959595;
	font-weight: normal;
}
#main table a {
	color: #004A92;
	text-decoration: none;
	font-weight: normal;
}
#main table a:hover {
	color: #007EF8;
	font-weight: normal;
}
#listing {
	border: 1px solid #BCBDBD;
}
#listing, #listing th, #listing td {
text-align: left;
}
.page-admin-stores-store-list-new table {
border-spacing: 0;
width: 100%;
background: #F9F9F9;
border: 1px solid #D5D5D5;
border-top: none;
color: #959595;
box-shadow: inset 0 0 0px 2px white,0 0 0px 5px rgba(218, 218, 218, 0.2);
}
#listing thead {
font-size: 16px;
}

#listing  td {
color: #959595;
background: white;
border-bottom: 1px solid #E4E5E5;
padding: .5em 1em;
}
#listing tbody tr:hover {
background: red !important;
}
#listing thead th {
color: #959595;
background : none;
font-family: sans-serif;
font-weight: bold;
text-transform: capitalize;
padding: .5em 1em;
}
#listing tbody td {
border-left: 1px solid #E4E5E5;
font-weight : normal;
}

/*for add store page*/
input[type="text"]{
display: block;
padding: .5em 1em !important;
width: 32%;
margin-bottom: 10px;
border: 1px solid #CDCDCD;
border-radius: 3px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
background-color: #EEE !important;
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
#edit-store-title-ar, #edit-store-address-ar, #edit-store-timmings-ar {
	text-align : right;
}
.flaot_right_class {
float : right;
color: #004A92;
text-decoration: none !important;
}

.page-admin-stores-store-add-new input[type="submit"], button, .btn {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background: #9AD6FB;
background: -moz-linear-gradient(top, #9AD6FB 0%, #67B4E4 50%, #42A0E4 50%, #42A0E4 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9AD6FB), color-stop(50%, #67B4E4), color-stop(50%, #42A0E4), color-stop(100%, #42A0E4)) !important;
background: -webkit-linear-gradient(top, #9AD6FB 0%, #67B4E4 50%, #42A0E4 50%, #42A0E4 100%) !important;
background: -o-linear-gradient(top, #9AD6FB 0%, #67B4E4 50%, #42A0E4 50%, #42A0E4 100%) !important;
background: -ms-linear-gradient(top, #9AD6FB 0%, #67B4E4 50%, #42A0E4 50%, #42A0E4 100%) !important;
background: linear-gradient(to bottom, #9AD6FB 0%, #67B4E4 50%, #42A0E4 50%, #42A0E4 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ad6fb', endColorstr='#42a0e4',GradientType=0 );
border: 1px solid #72ADE4 !important;
padding: .5em 1.5em !important;
text-align: center !important;
color: white !important;
border-radius: 3px !important;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2),inset 0 1px 1px rgba(255, 255, 255, 0.6) !important;
}

.custom_logo {
float: left;
padding-top: 28px;
border-right: 1px solid #EBEBEB;
padding-right: 20px;
}